a.btn {
  text-decoration: none;
}

.btn {
  @include border-radius(60px, 60px, 60px, 60px);
  color: $white;
  border: none;
  font-family: 'LubDubMedium', Helvetica, Arial, sans-serif !important;
}

.btn-primary {
  background-color: $red;

  &:hover {
    background-color: $red-deep;
  }
}

.btn-secondary {
  background-color: $white;
  border: solid 2px $red;
  color: $red;

  &:hover {
    background-color: $red;
    border: solid 2px $red;
    color: $white;
  }
}

.btn-tertiary {
  border: solid 2px $white;
}

.btn-tertiary-black {
  border: solid 2px $black !important;
  color: $black !important;
  padding: 5px 20px !important;

  &:hover {
    background-color: $red;
    color: $white !important;
    border: solid 2px $red !important;
  }
}

.input-group-append .btn {
  @include border-radius(4px, 4px, 0, 0);
}

.donation-amount-btn {
  border: solid 2px $black;
  color: $black;
  background-color: $white;
  padding: 11px 0;
  width: 99px;
  float: left;
  margin: 0 15px 0 0;

  &:hover, &.active {
    background-color: $black;
    color: $white;
  }
}