.pg_entry {
  @media all and (max-width: 1640px) {
    .container-wide {
      max-width: 95%;
    }
  }

  @media all and (max-width: 1400px) {
    .container-content {
      max-width: 95%;
    }

    .about-event {
      .about-image-box {
        background-size: contain;
        margin-left: 0 !important;
      }

      .bg-black-gradient {
        margin: 0 !important;
      }
    }
  }

  @media all and (max-width: 1370px){
    nav {
      max-width: 100%;

      .navbar-brand {
        margin: 12px 0 0 20px;
      }

      li.login {
        margin-right: 20px;
      }

      #mobile-toggle, #mobile-search {
        margin: 15px 20px 20px 20px;
      }
    }

    main {
      background-size: 130%;
    }

    .top-lists-container {
      .top-list {
        h3 {
          padding: 20px 15px;
          font-size: 1rem;

          .text-small {
            margin: 0;
            font-size: 1rem;
          }
        }
        li {
          a {
            padding: 20px 0 0 20px;
          }
        }

        .raised {
          padding: 5px 20px 15px 0;
        }

        .top-list-footer {
          padding: 15px 0;
        }
      }

      .top-list-footer .input-group.mx-5 {
        margin-left: 10px !important;
        margin-right: 10px !important;
      }
    }
  }

  @media all and (max-width: 1200px) {
    .about-event {
      padding: 0 0 36px;

      .about-image-box {
        margin-top: 36px;
      }
      .about-content-area {
        padding: 36px 20px 0;
      }
    }

    .why-we-walk {
      padding: 36px 20px;
    }

    .info-boxes {
      width: 100%;
    }
  }

  @media all and (max-width: 1010px) {
    nav {
      li.login a {
        padding: 8px 21px !important;
      }
      li.login, li.nav-item {
        margin-left: 15px;

      }
      .nav-link {
        font-size: 1.1rem;
      }
    }
  }

  @media all and (max-width: 991px) {
    /* RESPONSIVE NAV STYLES */
    nav {
      display: block;

      #navbar-container {
        background-color: $gray-700;
      }

      .nav-link {
        .fas {
          display: none;
        }
      }

      #home {
        color: $white;
        padding: 18px 0 !important;
        font-size: 1rem;

        &:hover {
          text-decoration: none;
        }
      }

      li.nav-item {
        margin: 0 0 0 20px;
        height: auto;
      }

      .dropdown-menu-container.about, .about .dropdown-menu {
        display: block;
        position: static !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        background-color: transparent !important;
        border: none !important;

        &:before,
        &:after {
          display: none !important;
        }

        .dropdown-item {
          padding: 18px 0;
          margin: 0 20px 0 0;
          color: $white;
          border-top: solid 1px $white;
          font-size: 1rem !important;
          width: auto;
        }
      }
    }
    /* END RESPONSIVE NAV STYLES */

    .container-sm-content {
      max-width: 95%;
    }

    .top-lists-container {
      h2 {
        font-size: 1.5rem;
      }

      .top-list {
        margin: 0 0 20px 0;
      }
    }

    .about-event {
      .about-content-area {
        order: 1;
        width: 100%;
      }
      .about-image-box {
        order: 2;
        width: 398px;
        margin: 20px auto !important;
      }
    }

    .register-today {
      background-position: right top;
      padding: 25px;
      margin: 35px 0;
    }

    .info-boxes {
      border: none;

      .col-lg {
        padding: 0 15px 36px;

        &:first-child {
          border-right: none;
          border-bottom: solid 1px $gray-200;
          margin-bottom: 36px;
        }
      }
    }
  }

  @media all and (max-width: 767px) {
    .d-md-none {
      display: none !important;
    }

    h2 {
      font-size: 1.111rem;
    }

    h4 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8889rem;
    }

    nav {
      .navbar-brand {
        margin: 10px 0 20px 20px;
        padding: 0;

        img {
          margin: 0;
          width: 157px;
        }
      }
    }

    main {
      background-image: url("/images/content/pagebuilder/hw_hero_mobile.jpg");
      background-size: 100%;

      .container {
        padding: 0 20px;
      }

      .event-info {
        margin-top: 66px;
        padding: 25px;

        h1 {
          font-size: 1.333rem;
        }

        .event-date {
          font-size: 1rem;
          margin: 0 0 15px;
        }

        .buttons-row {
          margin: 0;
        }

        .btn {
          max-width: none;
          padding: 9px 0;
          &:first-child {
            margin-bottom: 10px;
          }
        }

        .info-columns {
          margin: 0;

          .col-lg {
            border-bottom: solid 1px $gray-200;
          }

          h3 {
            margin: 0 0 10px;
            padding: 10px 0 0;
            font-family: $font-family-medium;
            font-size: 0.7778rem;
          }

          .event-info-expand .fas {
            font-size: 0.7778rem;
          }

          .event-info-collapse {
            padding: 0 0 10px;
          }
        }

        .fundraising-amounts {
          border: none;
          margin-top: 3px;

          span {
            font-size: 0.9rem;
          }

          span.amount {
            font-size: 1rem;
          }
        }

        .thermometer-inner {
          height: 50px;
        }
      }

      .top-lists-container {
        margin-top: 25px;
        h2 {
          font-size: 1rem;

          .event-name {
            font-size: 0.7778rem;
            font-family: $font-family-medium;
            font-weight: normal;
          }
        }

        .top-list {
          h3, .text-small {
            font-size: 0.7778rem;
            font-family: $font-family-light;
            padding: 15px 20px;
          }

          h3 .text-small {
            text-align: right;
            padding: 0;
            float: right;
          }

          li .d-flex {
            display: block !important;
          }

          .raised {
            text-align: left;
            padding: 5px 0 15px 20px;

            br {
              display: none;
            }
          }
        }
      }

      .about-event {
        padding: 0;

        .about-content-area {
          p {
            font-size: 0.8889rem;
          }
        }

        .about-image-box {
          margin-top: 0 !important;
          margin-bottom: 0 !important;

          .bg-black-gradient {
            padding: 20px;

            .btn {
              margin: 0;
              padding: 9px 0;

              &:first-child {
                margin: 0 0 10px;
              }
            }
          }
        }
      }

      .why-we-walk {
        padding-bottom: 25px;

        h2 {
          margin: 35px 0 20px;
        }
      }

      .sponsors {
        padding: 35px 0 0;
        h4 {
          margin: 0 0 15px;
        }
        a {
          margin: 15px 0;
        }
      }
    }
  }

  @media all and (max-width: 675px) {
    .d-sm-block {
      display: block !important;
    }
    .d-sm-none {
      display: none !important;
    }
    .mb-sm-3, .my-sm-3 {
      margin-bottom: 1rem !important;
    }
    .pl-sm-0, .px-sm-0 {
      padding-left: 0 !important;
    }
  }

  @media all and (max-width: 663px) {
    .register-today {
      h2, p, .btn {
        width: 66%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      img {
        width: 100px;
        margin: 0 0 0 17%;
      }

      h2 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
        letter-spacing: normal;
      }
    }
  }

  @media all and (max-width: 620px) {
    .register-today {
      h2, .btn {
        font-size: 1rem;
      }

      p {
        font-size: 0.8889rem;
        letter-spacing: normal;
      }

      .btn {
        max-width: unset;
        width: 100% !important;
      }
    }

    .info-boxes {
      margin-bottom: 25px;

      p {
        margin-bottom: 15px;
      }

      p br {
        display: none;
      }

      .col-lg {
        padding-bottom: 0;
        &:first-child {
          padding-bottom: 35px;
        }
      }
    }
  }

  @media all and (max-width: 524px) {
    .dropdown-menu {
      h1 {
        font-size: 1.111rem !important;
        text-align: center;
      }
    }

    .register-today {
      h2, p, .btn {
        width: auto;
      }

      .btn {
        font-size: 0.8rem;
      }

      img {
        margin: 0;
      }

      br {
        display: none;
      }
    }
  }

  @media all and (max-width: 480px) {
    .nav-tabs .nav-link {
      margin: 0 40px 32px 0 !important;
    }
    /* overriding some breaking styles introduced by the footer code */
    .input-group button.btn {
      margin: unset;
      padding: 7px 10px 8px;
      @include border-radius(0, 4px, 4px, 0);
    }
  }
}
