.personal-image-container {
  position: relative; 
  left: 0; 
  top: 0;
}
.personal-image-container .sidebar-hero {
  position: relative;
  top: 0;
  left: 0;
}
.personal-survivor-banner {
  position: absolute;
  bottom: 0;
  left: 0;
}