/* amazon pay css */
.paymentSelType a {
    display: block;
    margin: 25px 0;
}
.paymentSelType img {
  max-width:100%;
}
/*
a.venmo {
    display:none;
}
body.tr3635 a.venmo {
    display:inline-block;
}
body.tr4110 a.venmo {
    display:inline-block;
}
*/
