.pg_entry {
  .play-pause-carousel:focus {
    position: static;
    width: auto;
    height: auto;
    clip: unset;
    -webkit-clip-path: none;
    clip-path: none;
    display: block;
    background: #f8f9fa;
    padding: 0.625rem 1.25rem;
  }
  .carousel {
    .carousel-indicators {
      bottom: 0;
      justify-content: left;
      margin-left: 2%;

      @include media-breakpoint-down(md) {
        margin-left: 5%;
      }

      .active {
        background-color: $primary;
        border: 4px solid $white;
      }

      li {
        width: 22px;
        height: 22px;
        border-radius: 11px;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
    .carousel-item img {
      width: 100%;
      min-width: 700px;

      @include media-breakpoint-down(md) {
        min-width: auto;
      }
    }
  }
}