// select {
//   &,
//   &.form-control {
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     -o-appearance: none;
//     appearance: none;
//     padding-right: 0.75rem\9;
//     background-image: none\9;
//     background: url('../image/cn-select-carot.png') right 0.75rem center no-repeat $white;
//     // color: $event-secondary;

//     &::-ms-expand {
//       display: none;
//     }
//   }
// }

.pg_cn_home,
.pg_cn_events,
.pg_cn_search,
.pg_entry {
  .form-control {
    border-color: $border-color;
    font-size: 1.5rem;
    color: $gray-500;
    padding: 1rem;
    border-radius: 4px;
    max-height: 70px;
    height: 70px;
  }
  .form-control::placeholder  {
    color: $gray-500;
  }
  .form-control:-ms-input-placeholder {
    color: $gray-500;
  }
  .form-control::-ms-input-placeholder {
    color: $gray-500;
  }
}
.pg_cn_home,
.pg_cn_events {
  form[name="event_search_form"]{
    input[type="text"] {
      font-size: 1.1rem;
    }
  }
}
// .has-success input,
// .has-success select,
// input.parsley-success,
// select.parsley-success,
// textarea.parsley-success {
//   color: $form-feedback-valid-color !important;
//   border: 1px solid $form-feedback-valid-color !important;
// }

.has-error input,
.has-error select,
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: $form-feedback-invalid-color !important;
  border: 1px solid $form-feedback-invalid-color !important;
}

.parsley-errors-list {
  list-style-type: none;
  width: 100%;
  margin-top: .25rem;
  padding:0;
  font-size: 80%;
  color: #dc3545;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.default-submit-hack {
  color:#fff;
}

.payment-type-element-container {

.payment-type-selection-container h3 {
  font-size: 1.2rem;
  font-family:$font-size-base;
}
div.payment-field-container {
  span.internal-payment,
  span.external-payment {
    background:transparent;
    // width:40%;
    height:46px;
    border:none;
    span.payment-type-option {
      margin-right: 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      width:100%;
      max-width:200px;
      border-radius: 4px;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 1.4rem;
      line-height: 1.428571429;
      border-radius: 4px;
      background-image: none;
      color: $body-color !important;
      background-color: #e2e2e2;
      label {
        margin-bottom:0;
      }
      a:link {
        color: $body-color;
        font-family: $font-family-base;
      }
      &:hover {
        background-image: none;
        color:$white !important;
        background-color:$primary !important
      }
      &.selected {
        background-image: none;
        background:none;
        background-color:$primary;
        a:link {
          color:$white !important;
        }
        &:hover {
          color:$white !important;
        }
      }
    }
  }
  
}
}

.app_id_9 {
  div.donation-level-container {
    float:left;
    margin-right: 10px;
    margin-bottom:0;
  }
  #level_flexible_row {
    &.form-row {
      display:block;
      margin:0;
    }
  }
  div.responsive {
    .payment-type-element-container .payment-type-selection-container h3 {
      @extend .h3;
    }
    #payment_cc_container h3 {
      @extend .h5;
    }
    div.ErrorMessage {
      width:100%;
    }
    label {
      display:inline;
    }
  }
  #donor_matching_employersearchBtn {
    margin-top:1rem;
  }
  @include media-breakpoint-down(sm) {
    &.mobile div.responsive div.form-content,
    &.mobile div.payment-field-container div.payment-type-selections,
    &.mobile div.payment-field-container div.payment-type-selections span,
    .payment-type-element-container div.payment-field-container span.internal-payment span.payment-type-option, 
    .payment-type-element-container div.payment-field-container span.external-payment span.payment-type-option {
      width:100%;
      max-width:100%;
      margin-right:0;
    }
  }
  input#billing_last_namename, input#billing_first_namename, input#donor_email_addressname {
		width: 100% !important;
	}
  #billing_addr_street1_row input,
  #billing_addr_street2_row input,
  #billing_addr_country_row input,
  #donor_addr_street1_row input,
  #donor_addr_street2_row input,
  #donor_addr_street3_row input,
  #donor_addr_country_row input,
  #shipping_addr_street1_row input,
  #shipping_addr_street2_row input,
  #shipping_addr_street3_row input,
  #shipping_addr_country_row input,
  #tribute_notify_recip_street1_row input,
  #tribute_notify_recip_street2_row input,
  #tribute_notify_recip_street3_row input,
  #tribute_notify_recip_country_row input,
  #tribute_signature_row input,
  #tribute_message_closing_row input,
  div.employer-address-container input#employer_street,
  div#billing_addr_country_row,
  #cell_or_phone_number_input,
  #billing_addr_cityname,
  #billing_addr_zipname,
  #responsive_payment_typecc_numbername,
  #donor_matching_employersearchname,
  #donor_matching_employersearchBtn,
  #tr_message_to_participantname,
  #tr_recognition_namerec_namename,
  #billing_addr_state,
  #billing_addr_country,
  #level_flexibleduration {
      width: 100% !important;
      max-width:100%;
  }
  #donor_matching_employersearchname {
    margin-bottom:10px;
  }
  #responsive_payment_typecc_exp_date_MONTH,#responsive_payment_typecc_exp_date_YEAR {
    width: 60% !important;
    max-width:60%;
  }
  &.mobile div.responsive div.form-checkbox label, label.custom-element-checkbox-label {
    max-width: 280px;
  }
  .external-payment {
    margin-top:10px;
  }
}

.btn-rounded {
  border-radius: 32px !important;
  font-size: 2rem;
  padding: 0.3em 1em !important;

  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
  }
}
.btn-rounded.btn-white {
  background-color: $white;
  color: $primary;
}
.btn-rounded.btn-white:hover {
  background-color: $primary;
  color: $white;
  text-decoration: none;
}
.btn-rounded.btn-primary,
.btn-rounded.btn-primary:visited {
  background-color: $primary;
  color: $white;
}
.btn-rounded.btn-primary:hover {
  background-color: $red-deep;
  color: $white;
  text-decoration: none;
}
.pg_cn_search {
  // .search-form-container {
  //   background-color:$primary;
  // }
  .search-form {
    button {
      border-radius: 0 4px 4px 0;
      .fas {
        font-size:2rem;
      }
      @include media-breakpoint-down(sm) {
        &.btn {
           margin-bottom: 0;
           padding: 0.5rem 1rem;
        }
    }
  }
}
  .last-name-input,
  .team-name-input,
  .company-name-input {
    border-radius: 4px 0 0 4px;
  }
  .search-last-name {
    width:auto;
  } 
  .mobile-results-count {
    text-align:center;
    border-bottom:3px solid #636466;
  }
  @include media-breakpoint-up(md) {
    .search-last-name {
      max-width: 68%;
    }
  }

  .table {
    &.dataTable {
      &.no-footer {
        border-top:none;
        border-bottom:none;
      }
      thead {
        .sorting {
          background-image:none;
          &:after {
            font-family: 'Font Awesome 5 Free';
            content: "\f0dc";
            margin-left: 10px;
          }
        }
        .sorting_desc {
          background-image:none;
          &:after {
            font-family: 'Font Awesome 5 Free';
            content: "\f0de";
            margin-left: 10px;
          }
        }
        .sorting_asc {
          background-image:none;
          &:after {
            font-family: 'Font Awesome 5 Free';
            content: "\f0dd";
            margin-left: 10px;
          }
        }
        th {
          position:relative;
          color:#636466;
          border-bottom:2px solid #636466;
        }
        tr > th:last-child {
          font-weight:normal;
          font-style:italic;
        }
      }
      tbody {
        td {
          color:$primary;
          border-bottom:1px solid #636466;
          max-width:100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: top;
          padding: 20px 15px 15px;
          &.col-cta {
            padding-top:15px;
            white-space: pre-wrap;
            h6 {
              color:#000;
            }
          }
          @include media-breakpoint-down(md) {
            max-width:100%;
            width:100%;
            border-bottom:none;
            padding:5px 0;
            white-space: pre-wrap;
          }
        }
        tr > td:first-child {
          font-weight:bold;
        }
      }
    }

    .btn-rounded {
      font-size:18px;
      font-weight:bold;
      text-align:center;
    }
  }
}

@include media-breakpoint-down(md) {
  .table {
      thead {
        th {
          display:none;
        }
      }
      tbody {
        tr {
          display:block;
          border-bottom:1px solid #636466;
          text-align:center;
          padding:20px 0;
        }
        td {
          display:block;
          border:none;
        }
      }
      .btn-rounded {
        display:inline-block;
        width: 50%;
      }
}
}