a#skip-main:hover, 
a#skip-main:active, 
a#skip-main:focus {
  left: 0;
  width: 200px;
  height: 40px;
  margin: 5px;
}

a#skip-main:active, 
a#skip-main:focus,
.skip-to:active, 
.skip-to:focus  {
position: static;
width: auto;
height: auto;
clip: unset;
clip-path: none;
display: block;
background: rgb(248, 249, 250);
padding: 0.625rem 1.25rem;
}

.navbar {
  background: $white;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(99, 100, 102, 0.4);
  -moz-box-shadow:    0px 1px 8px 0px rgba(99, 100, 102, 0.4);
  box-shadow:         0px 1px 8px 0px rgba(99, 100, 102, 0.4);
  padding: 0;

  .container {
    @include media-breakpoint-down(sm) {
      padding-right: 2em;
    }
  }
  .container::after {
    content: '';
    display: none;
    background-color: black;
  }

  button .fas.fa-bars { 
    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }
  }
  .navbar-toggler-main svg * {
    @include media-breakpoint-down(md) {
      fill: url(#lgrad);
    }
  }

  .AHA-cycle-nation-logo {
    width: 100%;
    max-width:300px;
  }

  .AHA-cycle-nation-logo {
    .st0{
      fill:#FFFFFF;
    }
    .st1 {
      fill:#D40000;
    }
    .st2 {
      fill:url(#SVGID_1_);
    }
    .st3 {
      fill:#231F20;
    }
  }

  &-brand {
    padding: 0.2em 0;
    margin: 0;
    max-height: 140px;
    
    
    @include media-breakpoint-down(sm) {
      // max-height: 88px;
      width: 45%;
      padding: 0.5em;
    }
  }

  &-logo {
    width: 35rem;
    margin-left: -76px;
    // max-width:380px;
    @include media-breakpoint-down(sm) {
      // max-width: 13em;
      max-width: 20em;
      margin-left: -76px;
    }

    &-white {
      display: none;
    }
  }

  .navbar-nav li.nav-item.home {
    background-color: #de2b3e;
  }
  .navbar-nav li.nav-item.register {
    background-color: $primary;
  }
  .navbar-nav li.nav-item.donate {
    background-color: $red-deep;
  }
  .navbar-nav li.nav-item.login {
    background-color: $dark;
  }
  .navbar-nav li.nav-item.menu {
    background-color: $black;
  }
  .navbar-nav li.nav-item.menu .fas,
  .navbar-nav li.nav-item.menu .svg-inline--fa {
    -webkit-transform: scale(0.8,1); 
    -moz-transform: scale(0.8,1); 
    -ms-transform: scale(0.8,1); 
    -o-transform: scale(0.8,1); 
    transform: scale(0.8,1);
    margin-right: -0.3rem;
  }

  .navbar-nav a.nav-link {
    margin: 1rem 2rem;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid transparent;
    font-size: $font-size-24;
    font-weight: $font-weight-medium;
    text-decoration: none !important;
  }
  
  .navbar-nav a.nav-link:hover, .nav-item.active a {
    border-bottom: 2px solid $white;
  }
  
  .navbar-nav a.nav-toggle:hover {
    border-bottom: none;
  }

  .navbar-brand .navbar-logo {
    display:inline-block;
  }
  .container .navbar-brand .navbar-logo-white {
    display:none;
  }

  a {
    color:$white;
  }
  .utility-nav {
    min-height: 2.5em;
  }
  .utility-nav-item {
    padding: 0 1em;
    color: $dark;
  }
  .utility-nav-item:last-child {
    padding: 0 0 0 1em;
  }
  span.utility-nav-item {
    font-style: italic;
  }
  a.utility-nav-item {
    color: $dark;
    text-decoration: underline;
  }

  .main-nav::after {
    content: '';
    display: none;
    background-color: $black;
  }

  &-expand-lg {
    .navbar-toggler-main {
      display: block;
      color: $white;
      font-size: $font-size-24;
      font-weight: $font-weight-medium;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
  @media only screen and (min-width: 1025px) {
    .navbar-toggler {
      display: none;
    }
  }

  @media only screen and (max-width: 1024px) {
    #mainNav {
      display: none!important;
    }
    .navbar-toggler {
      display: block!important;
      font-size: 2.5rem!important
    }
  }
  small,
  .small {
    font-size:90%;
  }

  .sticky {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: $white;
  }
  &.is-sticky {
    background: $white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;

    .navbar-brand {
      @include media-breakpoint-down(sm) {
        // max-height: initial;
      }
    }

    li.nav-item {
      background-color: $white !important;
    }

    a.nav-link {
      color: $primary;
      margin: 1rem 0 1rem 2rem;
    }

    a.nav-link:hover {
      border-bottom: 2px solid $primary;
    }

    .navbar-toggler-main {
      color: $primary;
      margin-right: 0;
    }

    .navbar-toggler-main svg * {
      fill: url(#lgrad);
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}

// override pushy styles
.pushy {
  width: 350px;
  a {
    color:$white;
  }
  &-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    color: $white;
    
    &-brand {
      width: 220px;
    }
  }

  &-right {
    transform: translate3d(350px, 0, 0);
  }

  .pushy-header {
    .pushy-header-logo {
      .AHA-cycle-nation-logo {
          width: 85%;
      }
  
      .AHA-cycle-nation-logo {
          .st0{
              fill: none;
          }
          .st1 {
              fill: $white;
          }
          .st2 {
              fill: $white;
          }
          .st3 {
              fill: $white;
          }
      }
    }   
  }

  .pushy-link {
    color: $white;
    font-size: $font-size-24;
    font-weight: $font-weight-medium;

    span.pushy-link-message{
        font-style: italic;
    }
  }
  .pushy-link.log {
      margin-top: 2em;
  }
}

// .header-event-details {
//   background:$primary;
// }

@include media-breakpoint-up(sm) {
  .navbar {
    height:126px;
  }
  .navbar-nav {
    position:absolute;
    bottom:0;
    right:0;
  }
}

.pg_cn_search {
  .filter-label {
    color:$white;
    font-weight:500;
    font-style:italic;
  }
  @include media-breakpoint-up(md) {
    main {
      .nav-item {
        margin:0 22px;
      }
    }
  }
  .nav-tabs {
    .nav-link {
      color:$white;
      text-decoration:underline;
      font-weight:500;
      border:none;
      border-bottom: 3px solid $primary;
      &.active,
      &:hover {
        text-decoration:none;
        border-bottom: 3px solid $white;
        background-color:#990000;
      }
    }
  }
}

.pg_entry {
  .nav-tabs {
    border-color:#000;
    height:72px;

    .gallery-tab-container {
      margin-right:30px;
    }
    .nav-link {
      color:$white;
      text-decoration:none;
  @include media-breakpoint-up(md) {
      padding:5px 60px;
      font-size:2em;
  }
      border:none;
      border-bottom: 4px solid #000;
      background-color:#990000;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      &.active,
      &:hover {
        background-color:#000;
      }
      &:focus {
        outline: 3px solid blue;
      }
      &.active {
  @include media-breakpoint-up(md) {
        padding:10px 60px;
      }
    }
    }
  }
}
