// div.company-list-table-container {
//   background-color:$white;
// }

// div.responsive div.list-row {
//   border:none;
// }

// #company_page_header {
//   display:none;
// }

// #local_company_page {
//   p.cstmTitle {
//     @extend h2;
//   }
//   p.righted {
//     margin-bottom:0;
//     padding: 5px 5px;
//   }
//   tr.lc_Row1 {
//     background-color:$white;
//   }
// }

// .top-participants-container {
//   div.trr-table-more {
//     display:none;
//   }
// }

.pg_company {
  .tr-page-container {
    .information-box {
      .buttons-row {
        margin: 28px 0;

        .btn {
          max-width: 350px;
        }
      }
    }

    .nav-tabs {
      border: none;

      .nav-link {
        font-size: 2rem;
        color: $white;
        background-color: $gray-700;
        border-top: solid 5px $gray-background;
        border-bottom: none;
        text-align: center;
        text-decoration: none;
        font-family: $font-family-bold;
        @include border-radius(0,0,0,0);

        &.active {
          background-color: $gray-100;
          color: $black;
          border-top: solid 5px $red;
        }
      }
    }

    .tab-content {
      margin: 25px 0 0 0;
    }

    .team-roster .btn-tertiary-black {
      width: 260px;
    }

  }
}

.evenly-like {
  display: flex;
  justify-content: space-between;

  &:before,
  &:after {
    content: '';
    display: block;
  }
}

.pg_company #our-teams #team-roster_wrapper > div.row, .pg_company #our-walkers #participant-roster_wrapper > div.row {
  font-size: 1rem!important;
}

@media (max-width: $screen-md) {
  .pg_company span.fullTeamCaptain {
    display: none;
  }
}

.pg_company {
  #our-walkers-tab.active, #our-teams-tab.active, #our-walkers-tab:hover, #our-teams-tab:hover {
    border-left: none!important;
    border-right: none!important;
  }
  #our-teams .raised {
    text-align: left!important;
  }
}

@media (max-width: $screen-md) {

  .pg_company .team-roster table tbody tr {
    padding: 0!important;
  }

  .pg_company .team-roster table tbody tr td {
    display: inline-block!important;
    text-align: left!important;
  }

  .pg_company .team-roster table tbody tr td:last-of-type {
    display: none!important;
  }

  .pg_company #our-teams {
    .team-roster table tbody tr {
      .team-name {
        width: 15%!important;
        padding-left: 0!important;
      }
      .donor-name {
        width: 30%!important;
      }
      .company-name {
        width: 40%!important;
      }
      .raised {
        width: 15%!important;
        text-align: center!important;
      }
    }
  } 

  .pg_company #our-walkers {
     .team-roster table tbody tr {
      .participant-name {
        width: 35%!important;
      }
      .company-name {
        width: 45%!important;
      }
      .raised {
        width: 20%!important;
      }
    }
  }

  .pg_company .team-roster thead th {
    display: inline-block!important;
    text-align: left;
    font-size: 1rem!important;
  }

  .pg_company #our-teams {
    .team-roster thead {
      th:first-of-type {
      width: 18%!important;
      }
      th:nth-of-type(2) {
        width: 25%!important;
      }
      th:nth-of-type(3) {
        width: 30%!important;
      }
      th:nth-of-type(4) {
        width: 25%!important;
      }
      th:last-of-type {
        display: none!important;
      }
    }
  }
  .pg_company #our-walkers {
    .team-roster thead {
      th:first-of-type {
      width: 35%!important;
      }
      th:nth-of-type(2) {
        width: 40%!important;
      }
      th:nth-of-type(3) {
        width: 15%!important;
      }
      th:last-of-type {
        display: none!important;
      }
    }
  }
}

.pg_company {
  .table.dataTable thead .sorting:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0dc";
    font-weight: 800;
    margin-left: 10px;
      @media (max-width: $screen-md) {
        margin-left: 2px;
      }
  }

  .table.dataTable thead .sorting_asc:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0dd";
    font-weight: 800;
    margin-left: 10px;
      @media (max-width: $screen-md) {
        margin-left: 2px;
      }
  }

  .table.dataTable thead .sorting_desc:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0de";
    font-weight: 800;
    margin-left: 10px;
      @media (max-width: $screen-md) {
        margin-left: 2px;
      }
  }
}