
.pg_internal {

  .h1,
  h1,
  .h2,
  h2,
  .h3,
  h3 {
    font-family: $font-family-base;
    border-bottom: 0;
  }

  .section {

    .description {

      p {
        font-size: $font-size-22;
      }
    }
  }

  .section-event-info {

    .event-info {

      p {
        font-size: 1.5rem;
        color: $dark;
        line-height: 1.4;
      }
    }
  }

  .section-callout {

    .callout-box {

      .image {
        border-right: 10px solid $primary;

        @include media-breakpoint-down(lg) {
          border-right: 0;
          border-bottom: 10px solid $primary;

        }

        img {
          width: 100%;
        }
      }

      .text {

        p {
          font-size: 1.9rem;
          line-height: 1.2;
        }

        p.sub-text {
          font-size: 3.8rem;
          text-transform: uppercase;
          font-weight: 700;
        }

        a {
          width: 100%;
        }
      }
    }
  }
}

.pg_internal.community {

  .section-internal-hero {

    .image {

      img {
        width: 100%;
        height: auto;
      }
    }

    .text {

      h1, .h1 {
        font-size: $h3-font-size;

        @include media-breakpoint-down(md) {
          font-size: $font-size-lg;
        }
      }

      h1.sub-text {
        font-size: $h2-font-size;
        font-style: italic;

        @include media-breakpoint-down(lg) {
          font-size: $h3-font-size;
        }
      }
    }
  }

  .stories {

    .story {

      h3 {
        font-size: $h3-font-size-large;

        @include media-breakpoint-down(md) {
          font-size: $h3-font-size;
        }
      }

      .content {

        .text {

          @include media-breakpoint-down(md) {
            order: 2;
          }

          p,
          a {
            font-size: $font-size-md;
          }

          a {
            text-decoration: underline;
          }
        }

        .image {

          @include media-breakpoint-down(md) {
            order: 1;
          }

          img {
            width: 100%;

            @include media-breakpoint-down(md) {
              width: 90%;
            }
          }
        }
      }
    }
  }

  .section-clips {

    .videos {

      iframe {
        margin: 0.8em;
      }
    }
    @include media-breakpoint-down(sm) {
      .videos iframe {
        max-width:300px;
        max-height:168px;
      }
    }
  }

  .section-trending {

    .trending {

      .content {

        .text {

          @include media-breakpoint-down(md) {
            order: 2;
          }

          .first-word {
            color: $gray-600;
            text-transform: uppercase;
            font-size: $font-size-22;
          }
        }

        .image {

          @include media-breakpoint-down(md) {
            order: 1;
          }

          img {
            width: 100%;

            @include media-breakpoint-down(md) {
              width: 90%;
            }
          }
        }
      }
    }

    .trending.opposite {

      .content {

        .text {
          order: 2;
        }

        .image {
          order: 1;
        }
      }
    }
  }

  .section-inspiration {
    position: relative;
    min-height: 700px;

    .text {

      p {
        font-size: $font-size-md;
      }
    }

    .image {
      background-image: url(https://www2.heart.org/images/content/pagebuilder/aha_cn_community_inspiration.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 460px;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      border-left: 10px solid $primary;

      @include media-breakpoint-down(lg) {
        height: 440px;
      }

      @include media-breakpoint-down(md) {
        width: 100vw;
        position: relative;
        left: calc(-1 *(100vw - 100%) / 2);
        //position: inherit;
        height: 250px;
        border-left: 0;
        border-bottom: 10px solid $primary;
      }
    }
  }
}

.pg_internal.faq {

  .section-faq {

    #faqSearch {

      .faq-search {

        .js__faq-search-form {

          input {
            border: 1px solid $gray-500;
            border-radius: 5px 0 0 5px;
          }

          button {
            border-radius: 0 5px 5px 0;
          }

          .clear-search-icon {
            position: absolute;
            right: 65px;
            top: 12px;
            cursor: pointer;

            .fa-times-circle,
            .fa-times {
              font-size: 1.5em;
              color: $gray-500;
            }
          }
        }
      }

      .faq-nav {

        .navbar-nav {
          position: inherit;
          flex-direction: inherit;

          .nav-description {
            padding: 0.5rem 1rem;
            font-style: italic;
            margin-left: 1em;
            font-size: 1.1em;

            @include media-breakpoint-down(md) {
              width: 100%;
              text-align: center;
            }
          }

          .nav-item {

            .nav-link {
              font-style: italic;
              font-size: 1.1em;
              text-decoration: underline;
              margin: 0 0.7em;
            }
          }
        }
      }

      .faq-content {

        .list-group {

          .list-group-item {
            border: 0;

            .category-icon {
              width: 60px;

              svg {
                width: 100%;
                max-width: 60px;
                height: auto;

                .cls-1 {
                  fill: $black;
                }
              }
            }

            h2 {

              @include media-breakpoint-down(md) {
                text-align: center;
              }
            }

            .card {
              border: 0;

              .card-header {
                border: 0;
                background-color: transparent;

                .btn.faq-title {
                  color: $black;
                  font-size: 1.4em;
                  text-decoration: none;
                  white-space: normal;
                  text-align:left;
                  border: 0;
                  &:focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(77, 144, 254, 0.5);
                    box-shadow: 0 0 0 0.2rem rgba(77, 144, 254, 0.5);
                  }
                  span {
                    order: 2;
                    font-weight: 700;
                    //ine-height: 1.3;
                  }

                  .accordion-icon {
                    order: 1;
                    width: 20px;

                    .fa-plus-circle,
                    .fa-minus-circle {
                      font-size: 20px;
                      width: 100%;
                    }
                  }

                  .icon-closed {
                    display: none;
                  }

                  .icon-open {
                    display: block;
                  }
                }

                .btn.faq-title.collapsed {

                  .icon-closed {
                    display: block;
                  }

                  .icon-open {
                    display: none;
                  }
                }

                .btn.faq-title:hover {
                  text-decoration: none;
                }
              }

              .card-body {
                padding: .5rem 1.3rem;
              }

              h3 {
                color: $black;
                font-size: 1.4em;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}

.pg_internal.resources {

  .section {

    .photo-boxes {

      .photo-box {
        position: relative;

        .photo-container {
          position: relative;

          img {
            width: 100%;
          }

          .photo-sticker {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 5;

            a {
              color: $white;

              .fa-file-download {
                font-size: 22px;
                margin: 7px;
              }
            }
          }

          .photo-sticker::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            border-left: 60px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 60px solid $primary;
            z-index: -1;
          }
        }
      }
    }
  }

  .section-logos {

    .photo-boxes {

      .photo-box {

        .photo-container {

          @include media-breakpoint-down(md) {
            max-width: 400px;
          }
        }
      }
    }
  }

  .section-print-materials {

    .photo-boxes {

      .photo-box {

        .photo-container {

          @include media-breakpoint-down(md) {
            max-width: 280px;
          }
        }
      }
    }
  }

  .section-thank-you-cards {

    .photo-boxes {

      .photo-box {

        .photo-container {

          @include media-breakpoint-down(md) {
            max-width: 390px;
          }
        }
      }
    }
  }
}

.pg_internal.why-we-ride {

  .section-steps {

    .step-boxes {

      .step-box {
        position: relative;

        .content-container {
          border: 3px solid $white;

          h3 {
            font-weight: 700;
            font-style: italic;
          }

          .icon {
            height: 125px;

            svg {
              width: 100%;
              height: auto;

              .cls-1 {
                fill: $white;
              }
            }

            #steps-ready-icon {
              transform: rotate(-45deg);
              max-width: 70px;
            }

            #steps-set-icon {
              transform: rotate(19deg);
              max-width: 75px;
            }

            #steps-fundraise-icon {
              max-width: 100px;
            }

            #steps-ride-icon {
              max-width: 105px;
            }
          }

          h4 {
            font-size: 1.43rem;
            font-weight: 700;
          }
        }

        .step-arrow {
          width: 48px;
          height: 48px;
          background-color: $white;
          border-radius: 48px;
          position: absolute;
          top: 190px;
          right: -25px;
          z-index: 100;

          @include media-breakpoint-down(md) {
            display: none !important;
          }

          .fa-angle-right {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  .section-why-you-ride {

    .content {

      .image {

        img {
          width: 100%;
        }
      }
    }
  }

  .section-reasons {

    .reasons-boxes {

      .reasons-box {

        .content-container {

          h3 {
            font-size: 1.43rem;
            font-weight: 700;
          }

          .icon {
            position: relative;

            .icon-number {
              z-index: 100;
              position: absolute;
              font-size: 42px;
              top: 32px;
            }

            svg {
              width: 100%;
              max-width: 115px;
              height: auto;
              z-index: 0;

              .cls-1 {
                fill: $primary;
              }
            }
          }

          p {
            font-size: 1.43rem;
          }
        }
      }
    }

    .description {

      p {

        @include media-breakpoint-down(md) {
          text-align: center;
        }
      }
    }
  }

  .section-contact {

    .info {

      a,
      p {
        font-size: 2rem;
      }
    }
  }
}

.pg_internal.donation {

  .section-intro {
    display: flex;

    .content-box {

      h2 {
        margin-bottom: 0.5em;
      }
      a {
        text-decoration: underline;
      }

      .content-box-container {
        text-align: left;

        .required-indicator-legend {

          span {
            font-style: italic;
          }
        }
      }
    }

    .photos-box {
      background-image: url("http://heartdev.convio.net/images/content/pagebuilder/aha_cn_donation_intro_photo.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;

      @include media-breakpoint-down(md) {
        height: 250px;
        background-position: bottom;
      }
    }
  }

  form {

    h2.section-header-container {
      color: $red;
      margin-bottom: 0;
      border-top: 1px solid $border-color;
      margin-top: 1em;
      padding-top: 0.5em;
    }

    h2.section-header-container:first-of-type {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }

    legend,
    label.FormLabel {
      padding-top: 1em;
    }

    input[type=text] {
      width: 100%;
      max-width: 280px;
    }

    .form-row {
      margin-right: 0;
      margin-left: 0;
    }

    .FormLabelText {
      font-size: 1.5rem;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 0.5em;
    }
    input[type="radio"]{
      vertical-align: middle;
    }
    input[type="radio"] + label,
    input[type="checkbox"] + label {
      margin-right: 3.7em;

      @include media-breakpoint-down(md) {
        display: initial;
        margin-right: 0;
      }
    }

    .donation-levels {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      div.donation-level-container {
        border: 0 none;
        margin: 0;
        margin-right: 6px;
        margin-bottom: 12px;

        label {
          display: block;
          margin: 0;
        }

        &:last-child {
          margin-right: 0px;
        }

        div.form-content {
          margin: 0;
          width: auto;
        }

        div.donation-level-label-container,
        .donation-level-amount-container {
          @include button-variant(#636466, #636466, $red-deep, $red-deep, $red, $red);
          @include button-size(10px, 20px, 20px, 1.2, 0);
          text-align: center;
          vertical-align: top;
          cursor: pointer;
          border: 2px solid #636466;
        }

        .donation-level-label-input-container,
        div.donation-level-input-container input[type="radio"] {
          display: none;
          visibility: hidden;
        }
        div.donation-level-input-container {
          padding: 0;
        }

        &.otherAmount {
          width: auto;
          max-width: none;

          div.donation-level-label-container {
            border: 0 none;
            @include button-variant(transparent, transparent, transparent, transparent, transparent, transparent);
            @include button-size(0px, 0px, 12px, 1.2, 0);
            color: #515151 !important;
          }

          input[type="text"] {
            @include button-variant(#636466, #636466, $red-deep, $red-deep, $red, $red);
            border: 2px solid #636466;
            border-radius: 0;
            height: 48px;
            box-shadow: none;
            text-align: center;
            cursor: pointer;
            font-size: 20px;
          }

          ::-webkit-input-placeholder {
            text-align: center;
            color: #ffffff;
          }

          ::-moz-placeholder {
            text-align: center;
            color: #ffffff;
          }

          :-ms-input-placeholder{
            text-align: center;
            color: #ffffff;
          }

          &:hover {
            ::-webkit-input-placeholder {
              color: #ffffff;
            }

            ::-moz-placeholder {
              color: #ffffff;
            }

            :-ms-input-placeholder{
              color: #ffffff;
            }
          }

          div.donation-level-user-entered {
            margin: 0px;
          }
        }
        .donation-level-expanded-label {
          display: none;
        }
      }
    }

    #level_flexiblegift_type_Row {

      .designated-giving-recurring-row {
        float: left;
      }
    }

    #level_flexibleduration_row {

      label.FormLabel {
        font-size: 1.5rem;
      }

      select#level_flexibleduration {
        display: block;
        width: 100%;
      }
    }

    #level_flexibletotal_row {
      margin-top: 1em;
      display: none;

      span {
        font-size: 1.5rem;
      }
    }

    #tr_recognition_namerec_name_row {

      #tr_recognition_namerec_namename {
        display: block;
      }
    }

    #tr_message_to_participant_row {

      #tr_message_to_participantname {
        display: block;
        width: 100%;
        max-width: 600px;
      }
    }

    #donor_matching_employer_Row {

      .form-content {

        .form-input-inline {

          .step-button {
            border-radius: 18px;
            width: 36px;
            height: 36px;
            padding: 8px 0;
            margin: 0 0 0.25em 0;

            #search-icon {
              width: 18px;

              .st0 {
                fill: $white;
              }
            }
          }
        }
      }
    }

    .billing-fields-container {
      width: 75%;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .form-content {

        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }

      .form-row {
        //float: left;
        width: 300px;
        display: inline-block;

        @include media-breakpoint-down(md) {
          display: block;
          width: 100%;
        }

        input,
        select {
          width: 280px;
          height: 36px;

          @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }

    .payment-type-element-container {
      margin-top: 2em;

      .payment-type-selection-container {

        h3 {
          display: none;
        }

        .form-content {

          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }

        #responsive_payment_typepay_typeradio_payment_types {

          input[type=radio] {
            position: absolute;
            left: -999px;
          }

          .internal-payment {
            margin-right: 1em;

            @include media-breakpoint-down(md) {
              width: 100%;
              display: block;
              text-align: center;
            }
          }

          .external-payment {

            @include media-breakpoint-down(md) {
              width: 100%;
              display: block;
              text-align: center;
              margin-top: 2em;
            }

            img {
              width: 125px;
              // margin-bottom: 8px;
            }
          }

          .payment-type-option {
            text-align: center;
            border-radius: 32px;
            // font-size: 2em;
            padding: 0.3em 1.5em;

            label {
              text-align: center;
              margin-right: 0;
            }
          }
        }
      }

      #payment_cc_container {

        h3 {
          display: none;
        }

        #responsive_payment_typecc_type_row {
          // margin-left: 3.5em;

          @include media-breakpoint-down(md) {
            text-align: center;
            margin-left: 0;
          }

          .form-content {

            @include media-breakpoint-down(md) {
              width: 100%;
            }
          }
        }
      }

      #responsive_payment_typecc_exp_date_row {

        .date-input-container {

          legend {
            display: none;
          }
        }
      }

      .cc-fields-container {

        .form-content {

          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }

        .form-row {
          //float: left;
          width: 300px;
          display: block;

          @include media-breakpoint-down(md) {
            display: block;
            width: 100%;
          }

          input,
          select {
            width: 280px;
            height: 36px;

            @include media-breakpoint-down(md) {
              width: 100%;
              max-width: 100%;
            }
          }
        }

        #responsive_payment_typecc_number_row {
          float: left;
        }

        #responsive_payment_typecc_exp_date_row {
          width: 300px;
          padding-top: 4px;

          @include media-breakpoint-down(md) {
            width: 100%;
          }

          fieldset.cardExpGroup {

            .expiration-date-fields {
              width: 150px;
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;

              @include media-breakpoint-down(md) {
                width: 50%;
              }

              label,
              select {
                width: 140px;

                @include media-breakpoint-down(md) {
                  width: 90%;
                }
              }
            }

            .cc-expiration-date-month-container {
              float: left;
            }
            // .cc-expiration-date-year-container {
            //   align-self: flex-end;
            //   align-items: flex-end;
            // }
          }
        }
      }

      #responsive_payment_typecc_cvv_row {

        label {

          span {
            font-size: inherit;
          }
        }

        .form-content {

          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }

        input {
          display: block;
          width: 280px;
          height: 36px;

          @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
          }
        }

        .HelpLink {
          font-size: 0.9em;
          text-decoration: underline;
        }
      }
    }

    .button-container {
      border-top: 1px solid #ccc;
      padding-top: 3em;
      margin-top: 2em;

      #pstep_finish {
        font-size: 1.4em;
        width: auto;
      }
    }

    // LO DEFAULTS
    .aural-only {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
    div.donation-level-container {
      border: 2px solid transparent;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    div.form-row div.form-content {
      display: inline-block;
      zoom: 1;
      *display: inline;
    }
    div.responsive div.form-content {
      margin-top: 8px;
      margin-bottom: 8px;
      margin-right: 0;
    }
    div.donation-level-input-container, div.generic-repeat-label-checkbox-container {
      display: inline-block;
      zoom: 1;
      *display: inline;
      vertical-align: middle;
      padding: 10px 0;
    }
    div.form-input-choose-block, div.donation-level-label-input-container {
      display: inline-block;
      zoom: 1;
      *display: inline;
      vertical-align: top;
    }
    div.responsive label {
      white-space: normal;
    }
    div.donation-level-amount-container, div.donation-level-label-container {
      display: inline-block;
      zoom: 1;
      *display: inline;
      max-width: 780px;
      vertical-align: text-top;
    }
    div.responsive input[type="text"], div.responsive input[type="number"], div.responsive input[type="password"], div.responsive textarea {
      border: 1px solid #d9d6cf;
      padding: 5px 7px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: inset 3px 3px 3px #f0f0f0;
      -moz-box-shadow: inset 3px 3px 3px #f0f0f0;
      box-shadow: inset 3px 3px 3px #f0f0f0;
    }
    div.payment-field-container ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    div.payment-field-container li.tender-row {
      display: inline;
    }
  }
}

.pg_internal.mobile .donation-form-content div:nth-of-type(3) .html-caption-container {
  width: 100%;
}

#faq_search_form:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(77, 144, 254, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(77, 144, 254, 0.5);
}
