
.pg_entry {
  .section-hero {
    .section-hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .section-hero-content-container {
        width: 100%;
        max-width: 600px;
        margin: 0 0 0 auto;

        @include media-breakpoint-down(lg) {
          max-width: none;
          margin: 0;
        }

        h1 {
          color: $primary;
        }
        .event-info-description {
          font-style: italic;
        }
        .event-info-item {
          font-size: 1.5em;
          display: flex;

          a {
            color: $black;
            text-decoration: underline;
          }
          .event-info-item-icon {
            color: $dark;
            margin-right: 0.5em;
            width: 100%;
            max-width: 25px;
            text-align: center;
            margin-bottom: 0.25em;

            #event-info-icon-wheel {
              width: 100%;
              max-width: 25px;
              max-height: 25px;
              .st0 {
                fill: $dark;
              }
            }
          }
        }
        .event-info-buttons {
          margin-top: 2em;
        }
        .event-info-buttons a:first-child {
          margin-right: 1em;
        }
        .event-info-buttons a {
          padding: 0.3em 1.5em;
        }
      }
    }
  }

  .section-event-stats {
    p {
      font-size: 1.5em;
    }
  }

  .section-event-thermometer {
    margin-top: -44px;
  }

  .location-accordion {
    .card-body {
      padding-top: 40px;
    }
  }
  .section-event-details {
    margin-top: -44px;
    padding-top: 5em;
    background-color: $red-light;

    .details-container {
      .details-items-container {
        .details-item {
          display: flex;
          flex-direction: inherit;
          border: 0;
          background-color: inherit;

          @include media-breakpoint-down(md) {
            border: 0;
            border-top: 2px solid $primary;
            flex-direction: column;
          }

          .collapse.dont-collapse-lg {
            @include media-breakpoint-up(lg) {
              display: block;
              height: auto !important;
              visibility: visible;
            }
          }

          .details-items-icon {
            border-bottom: 0;
            background: none;

            .details-icon {
              z-index: 2;
              position: absolute;
            
              path {
                @include media-breakpoint-down(md) {
                  fill: $primary;
                }
              }
            }
            .details-icon-circle {
              z-index: 1;
              position: absolute;
              width: 60px;
              height: 60px;

              @include media-breakpoint-down(md) {
                display: none;
              }
            }

            .card-title {
              margin-bottom: 0;
              display: none;

              @include media-breakpoint-down(md) {
                display: block;
              }

              h3 {
                line-height: 1.5;

                button {
                  color: inherit;
                  padding: 0;
                  font-size: 1.75rem;
                  text-transform: uppercase;
                  text-decoration: none;
                  @include media-breakpoint-down(md) {
                    font-size: 1.6rem;
                  }
                }
                button:hover {
                  text-decoration: none;
                }
                button:after {
                  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32.5px" height="21.5px"><path fill-rule="evenodd"  stroke="rgb(0, 0, 0)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.367,3.793 L15.500,17.661 L1.633,3.793 "/></svg>');
                  color: $black;
                  pointer-events: none;
                  border-radius: 0 4px 4px 0;
                  text-align: center;
                  float: right;
                  -webkit-transform: rotate(180deg);
                  -moz-transform:    rotate(180deg);
                  -ms-transform:     rotate(180deg);
                  -o-transform:      rotate(180deg);
                  transform:         rotate(180deg);
                }
                button.collapsed:after {
                  -webkit-transform: rotate(0deg);
                  -moz-transform:    rotate(0deg);
                  -ms-transform:     rotate(0deg);
                  -o-transform:      rotate(0deg);
                  transform:         rotate(0deg);
                }
              }
            }
          }

          .details-items-text {

            h3 {
              font-weight: 700;
              font-size: 1.3em;

              @include media-breakpoint-down(lg) {
                font-size: 1.1em;
              }

              @include media-breakpoint-down(md) {
                display: none;
              }
            }
            p {
              color: $primary;

              @include media-breakpoint-down(md) {
                color: $black;
              }
            }
            a {
              font-weight: 700;
              text-decoration: underline;

              @include media-breakpoint-down(md) {
                color: $black;
              }

              i,
              .svg-inline--fa {
                text-decoration: none;
                margin-left: 5px;
              }
              i.far,
              .svg-inline--fa.fa-calendar-plus {
                text-decoration: none;
                margin-right: 5px;
                margin-left: 0;
              }
            }
            .card-body {
              @include media-breakpoint-up(lg) {
                padding: 0;
              }
              @include media-breakpoint-down(md) {
                margin-left: 25%;
              }
            }
          }
        }

        .details-item.date {
          .details-items-icon {
            .details-icon {
              width: 60px;
              height: 60px;
              top: 15px;
              left: 15px;

              @include media-breakpoint-down(lg) {
                left: 10px;
              }

              @include media-breakpoint-down(md) {
                width: 48px;
                top: initial;
                left: initial;
                margin: 0 auto;
              }
            }
          }
        }

        .details-item.location {
          .details-items-icon {
            .details-icon {
              width: 44px;
              height: 57px;

              @include media-breakpoint-down(md) {
                width: 35px;
                top: initial;
                left: 15px;
                margin: 0 auto;
              }
            }
            .details-icon-circle {
              top: 10px;
              left: 5px;
            }
          }
        }

        .details-item.distance {
          .details-items-icon {
            .details-icon {
              width: 57px;
              height: 50px;

              @include media-breakpoint-down(md) {
                width: 45px;
                top: initial;
                left: initial;
                margin: 0 auto;
              }
            }
            .details-icon-circle {
              top: 12px;
              left: 10px;
            }
          }
        }

        .details-item.checkin {
          .details-items-icon {
            .details-icon {
              width: 39px;
              height: 60px;
              left: 30px;

              @include media-breakpoint-down(md) {
                width: 31px;
                top: initial;
                left: 18px;
                margin: 0 auto;
              }
            }
            .details-icon-circle {
              top: 10px;
              left: 10px;
            }
          }
        }

        .details-item.ride-time {
          .details-items-icon {
            .details-icon {
              width: 60px;
              height: 60px;
              top: 12px;

              @include media-breakpoint-down(md) {
                width: 48px;
                top: initial;
                left: initial;
                margin: 0 auto;
              }
            }
            .details-icon-circle {
              left: 10px;
            }
          }
        }

        .details-item.afterparty {
          .details-items-icon {
            .details-icon {
              width: 57px;
              height: 75px;
              top: 12px;

              @include media-breakpoint-down(md) {
                width: 40px;
                top: initial;
                left: initial;
                margin: 0 auto;
              }
            }
            .details-icon-circle {
              left: 6px;
            }
          }
        }

        .details-item.questions {

          @include media-breakpoint-down(md) {
            border-bottom: 2px solid #c10e21;
          }

          .details-items-icon {
            .details-icon {
              width: 58px;
              height: 71px;

              @include media-breakpoint-down(md) {
                width: 46px;
                top: initial;
                left: initial;
                margin: 0 auto;
              }
            }
            .details-icon-circle {
              left: 10px;
              top: 20px;
            }
          }
        }

        .details-item.register {

          @include media-breakpoint-down(md) {
            display: none;
          }

          .details-items-icon {
            .details-icon {
              width: 42px;
              height: 43px;
              top: 22px;
              left: 25px;
            }
            .details-icon-circle {
              top: 10px;
            }
          }
        }

        .details-item.invert {
          z-index: 0;
          position: relative;
          
          a {
            color: $white;
          }
        }
        .details-item.invert:after {
          content: '';
          background-color: $primary;
          border-radius: 60px;
          padding: 10px;
          z-index: -1;
          position: absolute;
          width: 275px;
          height: 110px;
          top: -6px;
          left: -10px;
        }
      }

      .details-register { 

        @include media-breakpoint-up(lg){
          display: none;
        }

        a {
          color: $white;
          text-transform: uppercase;
          font-size: 1.75em;
          line-height: 1.75;

          svg {
            width: 28px;
            height: auto;
            margin-top: -10px;
            vertical-align: middle;
            
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }

  .tr-page-container {
    display:none;
    visibility:hidden;
  }

  .section-fundraiser {
    background: rgb(193, 14, 33);
    background: -moz-linear-gradient(90deg, rgb(193, 14, 33) 60%, rgb(0, 0, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgb(193, 14, 33) 60%, rgb(0, 0, 0) 100%);
    background: -o-linear-gradient(90deg, rgb(193, 14, 33) 60%, rgb(0, 0, 0) 100%);
    background: -ms-linear-gradient(90deg, rgb(193, 14, 33) 60%, rgb(0, 0, 0) 100%);
    background: linear-gradient(180deg, rgb(193, 14, 33) 60%, rgb(0, 0, 0) 100%);
    border-top: 6px solid $black;

    .leaderboard-container {
      .top-list {
        .top-list-title {
          background-color: $black;

          a {
            text-decoration: none;
          }
        }

        .top-list-container {
          background-color: $white;
          border: 0 none;
          min-height: 312px;
          
          a {
            font-weight: bold;
          }

          .top-list-entry {
            .names-amounts {
              overflow: hidden;
              white-space: nowrap;
              word-wrap: break-word;
              text-overflow: ellipsis;
              
              .amount-raised {
                display: block;
              }
            }
          }
        }

        .badges {
          svg {
            width: 25px;
            height: 25px;
          }
          .team-captain-badge {
    
            .st0 {
              fill: $primary;
            }
            .st1 {
              fill: $white;
            }
          }
          .raised-badge.gold {
            .st0{fill:url(#SVGID_GOLD_1_);}
            .st1{fill:url(#SVGID_GOLD_2_);}
            .st2{fill:url(#SVGID_GOLD_3_);}
            .st3{fill:url(#SVGID_GOLD_4_);}
            .st4{fill:$white;}
          }
          .raised-badge.silver {
            .st0{fill:url(#SVGID_SILVER_1_);}
            .st1{fill:url(#SVGID_SILVER_2_);}
            .st2{fill:url(#SVGID_SILVER_3_);}
            .st3{fill:url(#SVGID_SILVER_4_);}
            .st4{fill:$white;}
          }
          .raised-badge.red {
            .st0{fill:url(#SVGID_RED_1_);}
            .st1{fill:url(#SVGID_RED_2_);}
            .st2{fill:url(#SVGID_RED_3_);}
            .st3{fill:$white;}
          }
        }

        .top-list-link {
          a {
            font-style: italic;

            i, 
            .svg-inline--fa.fa-angle-right {
              margin-left: 5px;
            }
          }
        }
      }

      .search-container {
        form {
          display: flex;

          input {
            border-radius: 4px 0 0 4px;
          }

          button.search-submit {
            background-color: $primary;
            color: $white;
            border-radius: 0 4px 4px 0;
            border: 0;
            padding: 1em;
            max-height: 70px;
          }
          button.search-submit .search-icon {
            width: 100%;
            max-width: 2.2rem;
          }
          button.search-submit .search-icon .st0 {
            fill: $white;
          }
        }
      }

      .fundraiserSearchLink {
        a {

          i, 
          .svg-inline--fa.fa-angle-right {
            margin-left: 5px;
          }
        }
      }
    }
    .table-responsive {
      min-height: 257px;
    }
    
  }
  a.btn-primary, a.btn-white {
    text-decoration: none!important;
  }
}

.tr_sponsorship_logo {
  @extend .mx-5;
}


// masonry grid styles
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}

.modaal-close {
  position: absolute !important;
  right: -50px !important;
  top: -50px !important;
}

@include media-breakpoint-down(md) {
  .modaal-close {
    right: -20px !important;
  }
}

#headingFour button {
  border-radius: 0!important;
}