// div#team_page_header {
//   background-color:$white;
// }

// @media only screen and (max-width: 768px){
//   .mobile div.tr-page-container div#team_page_main_content,
//   .mobile div.tr-page-container div.tr-page-main-content,
//   div#team_page_main_content,
//   div.tr-page-container div.side-bar {
//     width: 100%;
//     float: none;
//   }
// }

.pg_team, .pg_company {

  .information-box {
    padding: 40px;

    h1 {
      margin: 0 0 40px;
    }

    .team-members {
      font-family: $font-family-light;
      font-size: 1.333rem;
    }
  }

 .team-roster {
   padding: 0;
   overflow: hidden;

   .dataTables_wrapper {
     .btn {
       @include border-radius(0, 4px, 4px, 0);
     }

     h1 {
       margin: 40px 0 0 40px;
     }
     div.row {
      padding: 0 40px 15px;
     }
     thead {
      tr {
        font-size: 0.8rem;
        padding: 0 40px;
      }
    }
     tbody {
      tr {
       font-size: 0.8rem;
       padding: 0 40px 15px;

       label {
         margin: 0;
       }
     }
    }
   }

   .dropdown-menu a {
     text-decoration: none;
     display: block;
     padding: 0 0 0 10px;
   }

   table {

    tbody {
      background-color: $team-roster-bg-gray;
     tr {
       border-bottom: solid 1px $white;
       font-size: 0.9rem;
       padding: 17px 40px;

       &:last-child {
         border: none;
       }
     }
   }
  }

   .btn-tertiary-black {
      margin: 25px 0;
   }
 }

  .content-area {
    border-top: solid 1px $thermometer-border;
    padding: 80px 0;
    margin-left: 40px;
    margin-right: 40px;

    .video-container {
      margin: 0;
    }
  }
}

.pg_team .team-roster {
  margin: 80px 0 0 30px;

  .team-roster-header {
    padding: 20px 0 0 20px;
    overflow: hidden;

    h1 {
      margin: 0 !important;
    }
  }
}

#team-roster > thead > tr > th:nth-of-type(2) {
  text-align: center;
}

#team-roster > tbody > tr > td.raised {
  text-align: center;
}

@media (max-width: $screen-md) {

  .pg_team .team-roster table tbody tr {
    padding: 0!important;
  }

  .pg_team .team-roster table tbody tr td {
    display: inline-block!important;
    text-align: left!important;
  }

  .pg_team .team-roster table tbody tr td.raised {
    display: inline-block!important;
    text-align: center!important;
  }

  .pg_team .team-roster table tbody tr .donor-name {
    width: 45%!important;
  }

  .pg_team .team-roster table tbody tr .raised {
    width: 30%!important;
  }

  .pg_team .team-roster table tbody tr td:last-of-type {
    width: 25%!important;
  }

  .pg_team .team-roster table tbody tr td.teamDonTable {
    width: 100%!important;
  }

  .pg_team .team-roster thead th {
    display: inline-block!important;
  }
  .pg_team .team-roster thead th:first-of-type {
    width: 48%!important;
  }
}