[[?xx::x[[S1:cons_id]]x::::
<!-- logged in -->
<div cg-busy="dashboardPromises">
    <div ng-if="participantRegistration.companyInformation.isCompanyCoordinator != 'true'" ng-cloak>
        You must be a coordinator to access this page
    </div>
    <div ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
        <div class="d-lg-flex" ng-if="TotalPointsSpent == 0" ng-cloak>
            <div class="filter-column">
                <div class="h3">
                    Filters
                </div>
                <div class="sizeFilter mt-3">
                    <div class="filterTitle mb-2"> 
                        Sizes
                    </div>
                    <div class="filterList sizes d-flex flex-wrap d-lg-block">
                        <div class="checkbox pe-2 pb-2" custom-checkbox ng-repeat="size in productSizes" ng-class="{'checked': size.status == true}" ng-click="filterProducts($event)" ng-cloak>
                            <label for="chk_{{size.productSizeText}}">
														<input type="checkbox" name="chk-{{size.productSizeText}}" id="chk_{{size.productSizeText}}" ng-model="size.status" value="{{size.sizeId}}">
															{{size.productSizeText}} 
														</label>
                        </div>
                    </div>
                </div>
                <div class="pointsFilter mt-3">
                    <div class="filterTitle mb-2">
                        Points
                    </div>
                    <div class="filterList points d-flex flex-wrap d-lg-block">
                        <div class="checkbox pe-2 pb-2" custom-checkbox ng-repeat="point in productPoints" ng-class="{'checked': point.status == true}" ng-click="filterProducts($event)" ng-cloak>
                            <label for="chk_point{{point.points}}">
														<input type="checkbox" name="chk-point{{point.points}}" id="chk_point{{point.points}}" ng-model="point.status" value="{{point.points}}">
															{{point.points}} 
														</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-column">
                <div class="h3 mb-4">
                    Products
                </div>
                <div class="productList d-lg-flex flex-wrap d-md-block justify-content-between">
                    <product ng-repeat="product in productList" ng-if="product.quantity > 0">
                        <div style="margin-bottom:20px;" class="{{product.productId}} d-block overflow-hidden">
                            <div class="float-start me-4" style="min-height:150px;">
                                <div class="productImage">
                                    <img ng-src="{{(product.imageSrc != '') ? product.imageSrc : 'https://via.placeholder.com/500'}}" width="150" alt="{{product.productName}}" />
                                </div>
                                <div class="addToBasket">
                                    <button type="button" ng-disabled="(product.detail.length &gt; 0 &amp;&amp; product.productSize == '') || ((product.quantitySel * product.points) &gt; TotalPointsAvailable)" class="btn btn-primary" ng-if="TotalPointsSpent == 0" href="" ng-model="product.productSize" name="{{product.productName}}" limit="{{product.quantity}}" productid="{{product.productId}}" sizeexists="{{product.detail.length > 0}}" points="{{product.points}}" imgsrc="{{product.imageSrc}}" ng-click="addProductToCart($event)">
																			Add to Basket 
																		</button>
                                </div>
                            </div>
                            <div class="productInfo">
                                <div class="productName">
                                    {{product.productName}}
                                </div>
                                <div class="productDesc">
                                    {{product.productDesc}}
                                </div>
                                <div class="productSizes" ng-if="product.detail.length > 0" ng-cloak>
                                    Sizes:
                                    <span class="sizeText" ng-repeat="detail in product.detail">
																			{{detail.productSizeText}}
																		</span>
                                    <br />
                                </div>
                                <div class="productSize" ng-if="product.detail.length > 0" ng-cloak>
                                    Size:
                                    <select aria-label="Product Size" id="size_{{product.productId}}" name="size" ng-model="product.productSize" ng-options="detail.productSizeId as detail.sizeName for detail in product.detail track by detail.productSizeId"></select>
                                    <br />
                                </div>
                                <div class="productQuantity">
                                    Quantity:
                                    <select aria-label="Product Quantity" name="quantity" ng-model="product.quantitySel" ng-options="item for item in quantityList track by item"></select>
                                </div>
                                <div class="productPoints">
                                    {{product.points}} Points per Item
                                </div>
                                <div class="productPointsTotal">
                                    {{product.quantitySel * product.points}} Total Points
                                    <div ng-if="((product.quantitySel * product.points) > TotalPointsAvailable)">
                                        <em>
																					Not enough available
																				</em>
                                    </div>
                                </div>
                                <div class="d-none">
                                    On hand: {{product.quantity}} *will hide when live
                                </div> 
                            </div>
                        </div>
                    </product>
                </div>
            </div>
            <div class="ps-4 basket-column">
                <div class="h3 mb-4">
                    Basket
                </div>
                <div class="shoppingCart">
                    <div class="products">
                        <div ng-repeat="cartProduct in cartProductList" class="d-lg-flex d-md-block position-relative"> 
                            <div class="position-absolute top-0 end-0 me-2 mt-3">
                                <button type="button" class="btn btn-primary py-1 px-2" href="" name="{{cartProduct.productName}}" productid="{{cartProduct.productId}}" ng-click="removeProduct($event)">
																	X
																</button>
														</div>
                            <div class="me-4" style="min-height:150px;">
                                <div class="productImage">
                                    <img ng-src="{{(cartProduct.imageSrc != '') ? cartProduct.imageSrc : 'https://via.placeholder.com/500'}}" width="100" alt="{{cartProduct.productName}}" />
                                </div>
                                <div class="productName">
                                    {{cartProduct.productName}}
                                </div>
                                <div class="selectedSize" ng-if="cartProduct.productSize != ''" ng-cloak>
                                    Selected Size: {{cartProduct.productSize}}
                                </div>
                                <div class="productQuantity">
                                    Quantity:
                                    <select aria-label="Product Quantity" name="quantity" productid="{{cartProduct.productId}}" points="{{cartProduct.points}}" ng-model="cartProduct.num" ng-options="option for option in quantityList" ng-change="updateProductInCart($event)"></select>
                                </div>
                                <div class="productPoints">
                                    {{cartProduct.points}} Points
                                </div>
                                <div class="productPointsTotal">
                                    {{cartProduct.points * cartProduct.num}} Total Points
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="totalPoints pointsInCart" ng-if="TotalPointsInCart > 0" ng-cloak>
                        Total Points in Basket: {{TotalPointsInCart}}
                    </div>
                    <div class="totalPoints noPointsInCart" ng-if="TotalPointsInCart == 0" ng-cloak>
                        No items in Basket
                    </div>
           					<p><em>Unused points will carry over to next year.</em></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="TotalPointsSpent > 0" ng-cloak>
        <div class="col-md-12">
            <div class="h3 mb-4">
                Purchase Summary
            </div>
            <div class="productSummary d-lg-flex flex-wrap justify-content-start">
                <product class="pointSummary flex-grow-0 p-2 me-3" ng-repeat="product in productSummary">
                    <div class="productImage">
                        <img ng-src="{{(product.imageSrc != '') ? product.imageSrc : 'https://via.placeholder.com/500'}}" width="150" alt="{{product.productName}}" />
                    </div>
                    <div class="productName">
                        {{product.productName}}
                    </div>
                    <div class="selectedSize" ng-if="product.sizeName != null" ng-cloak>
                        Selected Size: {{product.sizeName}}
                    </div>
                    <div class="productQuantity">
                        Quantity: {{product.Quantity}} 
                    </div>
                    <div class="pointsUsed">
                        Points Used: {{product.TotalPoints}}
                    </div>
                </product>
            </div>
            <p class="totalPointsUsed" ng-if="TotalPointsSpent > 0" ng-cloak>
                <strong>Total Points Used: {{TotalPointsSpent}}</strong>
            </p>
            <p><em>Unused points will carry over to next year.</em></p>
            <a class="btn btn-primary" href="" name="delPurchase" ng-click="deletePurchase($event)">
						TEST ONLY: Remove Purchase 
					</a>
        </div>
    </div>
</div>
]] 
[[?xx::x[[S1:cons_id]]x::
<!-- logged out -->
<div class="ym-login">
    [[?xx[[S8]]::xxhttps::
    <!-- secure page -->
    Coordinator Log In
    <div class="ym-header-login-form">
        <form method="POST" name="headerLoginForm" ng-submit="submitHeaderLogin()" novalidate>
            <input type="hidden" name="ng_nexturl" ng-model="headerLoginInfo.ng_nexturl" value="[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&amp;]] replaceall]]">
            <div class="form-group">
                <label class="sr-only" for="headerLoginInfo-user_name">
								Username: 
							</label>
                <input type="text" class="form-control" name="USERNAME" id="headerLoginInfo-user_name" ng-model="headerLoginInfo.user_name" placeholder="Username" maxlength="[[S0:USER_MAX_LOGIN_LEN]]" autocorrect="off" autocapitalize="off" spellcheck="false" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="headerLoginInfo-password">
									Password: 
								</label>
                <input type="password" class="form-control" name="Password" id="headerLoginInfo-password" ng-model="headerLoginInfo.password" placeholder="Password" maxlength="[[S0:USER_MAX_PASSWD_LEN]]" autocorrect="off" autocapitalize="off" spellcheck="false" required>
            </div>
            <div class="ym-header-login-footer clearfix">
                <button type="submit" class="btn btn-global-primary pull-left">
										Log In 
									</button>
                <a class="pull-right ym-header-login__help-link" href="UserLogin?CMD=ForgotLogin">
										Need Help? 
									</a>
            </div>
        </form>
        <form class="hidden js--default-header-login-form" action="UserLogin" method="POST" hidden aria-hidden="true">
            <input type="hidden" name="NEXTURL" value="{{headerLoginInfo.ng_nexturl}}">
            <input type="hidden" name="USERNAME" value="{{headerLoginInfo.user_name}}">
            <input type="hidden" name="Password" value="{{headerLoginInfo.password}}">
        </form>
    </div>
    ::
    <!-- non-secure page -->
    <a class="btn btn-global-primary ym-header-login-toggle" href="[[T7:https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]UserLogin?NEXTURL=[[T1:SPageServer?pagename=ym_coordinator_reward_center&amp;fr_id=[[S334:fr_id]]]]]]">
			Coordinator Log In 
		</a>
]]
</div>
::]]
