  <div class="ym-page-header ym-accent-color">
    <div class="container-fluid row">
      <div class="col-md-12 col-lg-7">
      [[?xx::x[[S24]]x::::
        <!-- page title is non-null -->
        <h1>
          [[S24]]
        </h1>
      ]]
      </div> 
      <div class="col-md-12 col-lg-5 text-end d-sm-flex justify-content-end">
				<div class="header-totals p-2">
					<p>
						Points Balance: {{TotalPointsEarned}}
					</p>
					<p ng-if="TotalPointsSpent > 0" ng-cloak>
						Total Points Used: {{TotalPointsSpent}}
					</p>
					<p ng-if="TotalPointsSpent == 0" ng-cloak>
						Total Points Available: {{TotalPointsAvailable}}
					</p>
					<p ng-if="TotalPointsSpent == 0" ng-cloak>Total Points in Basket: {{TotalPointsInCart}} </p>
				</div>
				<div ng-if="TotalPointsSpent == 0" ng-cloak class="totalPoints p-2">
					<button type="button" ng-disabled="cartProductList.length == 0" class="btn btn-primary" href="" name="redeemProducts" ng-click="redeemProducts($event)" ng-cloak>
						Redeem Items<br/>in Basket
					</button>
				</div>
      </div>
    </div>
  </div>
