main {
  background: url(../{{dev_branch != '' ? dev_branch + '/' : ''}}aha-luminate/dist/ym-primary/image/fy22/teacher-note.png) no-repeat;
  background-size: cover;
}

.event-secondary-medium--diagonal {
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #dfdded 10px, #dfdded 20px), linear-gradient(to bottom, #e1e0ea, #e1e0ea);
}
