.ym-badges {
  flex: 1 0 25%;
  max-width:25%;
  gap: 10px;
  @media (max-width: 981px) {
    flex: 1 0 33%;
    max-width: 33%;
  }
  @media (max-width: 767px) {
    flex: 1 0 50%;
    max-width: 50%;
  }
  .badge-title {
    color: $event-secondary;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6em;
    display: flex;
    justify-content: center;
    min-height: 60px;
    align-items: center;
  }
}
