.ym-badges {
  max-width:180px;
  gap: 10px;

  .badge-title {
    color: $event-secondary;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6em;
  }

  .badge-button {
    background: #ffffff;
    color: $event-primary;
    border: 2px solid $event-primary;
  }
}
