.btn-global-primary,
a.btn-global-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-color, $btn-primary-darker-bg, $btn-primary-darker-border);
}

.btn, 
.btn:active, 
.btn:focus, 
.btn:hover, 
.btn:link, 
.btn:visited, 
a.btn, 
a.btn:active, 
a.btn:focus, 
a.btn:hover, 
a.btn:link, 
a.btn:visited {
    border-radius: 0px;
}

.btn.btn-primary {
  background: $event-primary;
  color: #ffffff;
  border: 4px solid $event-primary;
  display: inline-flex;
  justify-content: center;
  min-height: 40px;
  align-items: center;
  padding: 2px 15px!important;
  line-height: 1em;
  
  &.btn-white {
    background: #ffffff;
    color: $event-primary;
    border: 4px solid $event-primary;
  }
}

.btn-blue {
    padding: 5px 10px;
    background: $event-primary;
    color: #fff;
}
