.ym-teachers-leaderboard {
  h2 {
    font-size:42px;
    color:#a41752;
  }
}

body.pg-company {
	.ym-story {
		padding: 40px;
		text-align: center;
		background: #fff;
	}
	.ym-page-section__list {
		background: $event-secondary-medium;
	}
	.ym-progress {
		.ym-progress__title {
			font-size: 48px;
			color: indigo;
			font-family: "Luckiest Guy",cursive;
		}
	}
	.challenge-slime {
		background: #fff url('../image/school_challenge_1_alt.png') no-repeat center bottom / 100% 100%;
	}
	.challenge-pie {
		background: #fff url('../image/school_challenge_2_alt.png') no-repeat center bottom / 100% 100%;
	}
	.challenge-activity {
		background: #fff url('../image/school_challenge_3_alt.png') no-repeat center bottom / 100% 100%;
	}

     @media (max-width: $screen-sm-max) {
          .ym-our-stats {
               margin-bottom:40px;
          }
     }
     .ym-page-section__main > .col-md-6 {
          padding: 0 20px;
     }
     @media (max-width: $screen-sm-max) {
          h2 {
               font-size:32px;
          }
          body.pg-company {
              .ym-promo-block__item {
                    height: auto;
               }
          }
     }
     @media (min-width: $screen-sm-min) {
          .ym-page-header h1 {
               margin: 0 196px 0 0;
          }
     }
}
.ym-teachers-leaderboard-block {
     h2 {
         font-size:42px;
         color:$brand-primary-darker;
          @media (max-width: $screen-sm-max) {
               font-size:32px;
          }
    }
     h3 {
         font-size: 17px;
         text-align: center;
         color: $brand-primary-darker;
         margin:0 auto 10px;
	 max-width:200px;
    }
    > [class*="col-"] {
         padding-left: 0 !important;
         padding-right: 0 !important;
    } 
    .ym-tl-dollars-raised, .ym-tl-registered-students {
         .row {
             padding: 10px;
             color: #000;
             margin: 0 2px 5px 2px;
             &:nth-child(1) {
                 background: #94C960;
            }
             &:nth-child(2) {
                 background: #A8D180;
            }
             &:nth-child(3) {
                 background: #BDDC9D;
            }
             &:nth-child(4) {
                 background: #D2E6BB;
            }
             &:nth-child(5) {
                 background: #E7F1DB;
            }
        }
    }
     .top-index {
         text-align:left;
    }
     .top-detail {
         text-align:center;
    }
     .top-index, .top-detail {
         padding-left:0px;
    }
     .top-name {
    }
     .top-grade {
        font-size:10px;
    }
     .top-raised, .top-students {
        margin-top:10px;
    }
     .top-msg {
        font-size:10px;
    }
     @media (max-width: $screen-sm-max) {
         .ym-tl-dollars-raised {
              margin-bottom: 20px;
              .row {
                    margin-right: -15px;
               }
          }
          .ym-tl-registered-students {
               .row {
                    margin-left:-15px;
               }
          }
     }
}

.ym-school-participation-years {
    position: absolute;
    max-width: 180px;
    padding: 5px;
    bottom: 0;
    right: 0;

  img {
    width: 100%;
  }
  .ym-school-participation-years-text {
    position: absolute;
    top: 31px;
    left: 5%;
    text-align: center;
    font-weight: bold;
    margin: 0 27px;
    line-height: 18px;
    font-size: 14px;
    color: $event-secondary;
    
    span {
      display: block;
      font-size: 1.5em;
      line-height: 1.3em;
    }
  }
}
