.event-accent {
  .ym-donation-sidebar__text {
    span {
      color: $acc-purple;
    }

    a {
      color: $acc-purple;
    }
  }
}

.ym-donation-sidebar__header {
   color: $acc-purple;
}

div.donation-form-container label[for="terms-of-service-checkbox"] {
  margin-top: 30px;
} 