.event-accent {
  .ym-donation-sidebar__text {
    span {
      color: $acc-purple;
    }

    a {
      color: $acc-purple;
    }
  }
}

.ym-donation-sidebar__header {
   color: $acc-purple;
}

div.donation-form-container label[for="terms-of-service-checkbox"] {
  margin-top: 30px;
  
  ::after {
    vertical-align: middle;
    content: "*";
    display: inline-block;
    color: red;
    font-size: 1.5em;
    padding-left: 5px;
  }
  
} 

div.donation-form-container label[for="cover-fee-checkbox"] {
  margin-top: 30px;
}

div.donation-form-container .custom-field-container.has-error .checkbox label:before,
div.donation-form-container .custom-field-container.has-error input[type=checkbox]+label:before {
  background-color: #fcddde;
}

div.ym-donation-thanks-flex-conatiner {
  display: flex;
  flex-wrap: wrap;
}

div.ym-donation-thanks-video {
  flex: 50%;
}
div.ym-donation-thanks-confirmation {
  flex: 50%;
}
div.ym-donation-thanks-widget {
  flex: 100%;
}

@media (max-width: $screen-md-min) {
  div.ym-donation-thanks-widget {
		order: 2;
	}
  div.ym-donation-thanks-confirmation {
    order: 3;
  }
}
