#aha-footer {
	font-size: 14px;
}
#aha-footer a {
	font-size: 13px;
	text-decoration: none;
}
.support-bar {
    background-color: #39bb67;
    color: #000;
    font-size:16px;
}

footer.l-footer .h6, 
footer.l-footer h6 {
	font-size: 1.2em;
	font-weight: bold;
}
