#aha-footer {
	font-size: 14px;
}
#aha-footer a {
	font-size: 13px;
	text-decoration: none;
}
#aha-footer footer.l-footer .h6, 
#aha-footer footer.l-footer h6 {
	font-size: 1.2em;
	font-weight: normal;
}
