header {
  .ym-header-logo--khc {
    float:right;
    border-left:none;
    > a, 
    > span {
      margin: -2px 12px 0;
    }
  }
}

.ym-header-welcome {
  .dropdown-item {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
}
header nav .ym-header-welcome-toggle:focus {
  outline: 5px solid -webkit-focus-ring-color;
}
