:focus {
    border-color: blue !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,1);
    border-width: 2px !important;
}

.btn.btn-global-primary, 
.btn.btn-global-primary:visited {
	font-size: 16px !important;
}
