:focus,
svg *:focus {
    border-color: blue !important;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,1);
    border-width: 2px !important;
}

.hidden {
   display: none;
}

.app-26,
.app-27 {
  main {
    > .container {
      @media (max-width: $screen-xs-max) {
        margin-top: 0px;
      }
    }
  }
}
