.ym-pc-dashboard-progress-section,
.ym-pc-dashboard-standard-gifts-section,
.ym-pc-dashboard-activities-section,
.ym-pc-dashboard-bottom-section,
.ym-pc-dashboard-coordinator-school-challenge-section,
.ym-pc-dashboard-coordinator-school-years-section,
.ym-pc-dashboard-coordinator-progress-section,
.ym-pc-dashboard-coordinator-steps-section,
.ym-pc-dashboard-coordinator-resources-section,
.ym-pc-dashboard-spread-section {
    :focus {
        border-color: blue !important;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13,110,253,1);
        border-width: 2px !important;
    }
}
