h1.h5.modal-title {
  color: #000;
}

.ng-pc-modal .close {
  postion:fixed;
}  

.modal-title {
  text-shadow: none;
}
.modal-body {
  video {
    width:100%;
    height:65vh;
  }
}

.modal-dialog {
   @media (min-width: 576px) {
      max-width: 700px;
   }
   .ym-pc-dashboard-gift-earned {
      color: #440075;
      font-family: $headline-font;
      font-size: 30px;
      text-align:center;
      font-weight:bold;
   }
   img.prize-image {
      max-height: 350px;
      margin:0 auto;
      -webkit-animation-name: wiggle;
      -ms-animation-name: wiggle;
      -ms-animation-duration: 1000ms;
      -webkit-animation-duration: 1000ms;
      -webkit-animation-iteration-count: 1;
      -ms-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
  }
  .modal-body {
      overflow: hidden;
      &.confetti {
          .close {
              right: 10px;
              top: 10px;
          }
      }
  }
  .ym-pc-first-login-modal {
  	font-size: 18px;
  	z-index:99999;
  	position:relative;
    .js--personal-social-share {
  	   font-size:16px;
    }
  }
  .confetti:before {
      background: url(../image/badge_confetti.png) !important;
      content: '';
      width: 100%;
      height: 300%;
      display: block;
      position: absolute;
      opacity: 0.3;
      animation: slide 6s linear infinite;
      -webkit-animation: slide 6s linear infinite;
      -ms-animation: slide 6s linear infinite;
  }
}

span.number {
    font-size: 36px;
    padding: 0px 22px 6px;
    border-radius: 50px;
    border: 4px solid #04287b;
    display: inline-flex;
    vertical-align: middle;
    color: #04287b;
    margin-right: 10px;
}

.ym-pc-dashboard-mobile-downloads a:focus {
    outline: red 1px solid;
}
