.ym-progress {
  background: $event-secondary-medium;
}

.ym-progress__thermometer {
  border: 8px solid $event-secondary;
}

.ym-progress__thermometer--fill {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(193,14,33,0.999019676229867) 29%, rgba(193,14,33,1) 100%);
  height: 35px;
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.therm-text-black {
  color: $event-font-color;
  text-indent: 100%;
  
  &::before {
    content: " ";
    width: 10%;
    display: inline-block;
    position: relative;
  }
}

.therm-text-white {
  color: #ffffff;
  text-indent: 5px;
}
