body.app-27 {
  main {
  	background: url(../image/fy24/ym-reg-background-2024.png) repeat;
  	background-size: 100% 100%;
  }

  .ym-registration-page-container {
  	display: flex;
  	justify-content: center;
  	align-items: center;
    flex-flow: column;
  	flex: 100%;
  	max-width: 100%;
    z-index:1;
  }
  
  .reg-container {
  	background: rgba(32, 32, 122, 0.96);
  	border: 10px solid #4200af;
  	color: #fff;
  	margin-top: 70px;
  	padding: 15px;
  	min-height: 500px;
  	display: flex;
  	flex-flow: column;

    .ym-registration-utype-user-type {
      min-width:150px;
    }
  }
  
  .ym-registration-reg-form .ym-section-header {
  	max-width: none;
  }
  
  span#pt_instruction_container {
  	font-size: 18px;
  }
  
  .ym-page-content {
  	background: transparent;
    h1 {
    	position: relative;
    	margin-top: -65px;
    	margin-bottom: 40px;
    }
  }
  
  .reg-nav {
  	background: rgba(44, 0, 77, 0.9);
  	padding: 15px;
  	max-width: 90%;
  	margin: 0 auto;
  }
  
  .reg-outro {
  	display: flex;
  	flex-flow: column;
  	justify-content: center;
  	flex: 100%;
    position:relative;

    .confetti {
      top: -55px;
      padding-top: 50px;
      margin-bottom: -66px;
      
      &:before {
        background: url(../image/badge_confetti.png) !important;
        content: '';
        width: 100%;
        height: 400%;
        display: block;
        position: absolute;
        opacity: 0.3;
        animation: slide 6s linear infinite;
        -webkit-animation: slide 6s linear infinite;
        -ms-animation: slide 6s linear infinite;
     }
    }
      
    .ym-registration-page-container {
    	display: flex;
    	flex-flow: column;
    	justify-content: center;
    	flex: 100%;
    }
  
    p {
  	  font-size: 18px;
    }
  }
  
  .reg-dot {
  	position: relative;
  	width: 1em;
  	height: 1em;
  	border-radius: 50%;
  	transition: box-shadow 0.5s;
  	dbackground: rgb(199, 199, 199);
  	background: -moz-linear-gradient(180deg, rgba(199, 199, 199, 1) 0%, rgba(255, 255, 255, 1) 100%);
  	background: -webkit-linear-gradient(180deg, rgba(199, 199, 199, 1) 0%, rgba(255, 255, 255, 1) 100%);
  	background: linear-gradient(180deg, rgba(199, 199, 199, 1) 0%, rgba(255, 255, 255, 1) 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c7c7c7", endColorstr="#ffffff", GradientType=1);
  }
  
  .reg-dot.active {
  	background: rgb(193, 14, 33);
  	background: -moz-linear-gradient(180deg, rgba(193, 14, 33, 1) 0%, rgba(182, 103, 112, 1) 100%);
  	background: -webkit-linear-gradient(180deg, rgba(193, 14, 33, 1) 0%, rgba(182, 103, 112, 1) 100%);
  	background: linear-gradient(180deg, rgba(193, 14, 33, 1) 0%, rgba(182, 103, 112, 1) 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c10e21", endColorstr="#b66770", GradientType=1);
  }
  
  .survivors img {
  	max-width: 200px;
  	border: 3px solid #4200af;
  }
  
  @media (min-width: 768px) {
  	.ym-registration-ptype-donation-levels {
  		padding: 0 12px;
  		margin-top: 5px;
  	}
  
  	.ym-registration-ptype-donation-levels.active {
  		margin-top: 5px;
  	}
  }
  
  .reg-container #dd-company-name-input .dtd-company-selected,
  .reg-container .dtd-streamlined-plugin .dtd-company-selected {
  	color: #fff !important;
  }
  
  .reg-container #dd-company-name-input .dtd-company-selected-name,
  .reg-container .dtd-streamlined-plugin .dtd-company-selected-name {
  	font-weight: bold;
  	color: #fff !important;
  }

  .ym-registration-form-footer {
  	background: transparent;
  }
  
  .btn.btn-prev {
  	padding: 2px 15px !important;
  	min-height: 40px;
  	background: transparent;
  	color: #fff;
  	border-color: #fff;
    &:hover {
  	  background: rgba(255, 255, 255, 0.2);
    }
  }

  label.error {
  	color: #c10e21;
  	display: inline-block;
  	margin-top: 5px !important;
  	background: #fff;
  	padding: 5px;
  	border-radius: 5px;
  }
  
  label+label.error:before {
  	display: none;
  }
  
  label+label.error {
  	padding-left: 0;
  }
}
