$headline-font: 'Montserrat', cursive;
$event-font: 'Raleway';
$event-font-color: #2d2d2d;

$brand-primary: #C10E21;
$event-primary: #C10E21;
$event-primary-acc: #990000;
$event-primary-dark: #a41752;
$event-secondary: #04287b;
$event-secondary-dark: #4e4282;
$event-secondary-medium: #cde4f2;
$event-secondary-light: #ebe9f3;
$event-accent: #d7d9db;
$event-accent-medium: #c8e3aa;
$event-accent-light: #d7d9db;
$event-grey: #d7d9db;
$border-gray: #e8e8e8;
$inactive-grey: #c2c2c2;
$error-color: #fcddde;
$prize-purple:#04287b;

$copy-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg width='23' height='23' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.25 4.313V0h-5.031a2.156 2.156 0 0 0-2.156 2.156v12.938c0 1.19.965 2.156 2.156 2.156h8.625c1.19 0 2.156-.965 2.156-2.156V5.75h-4.272c-.831 0-1.478-.647-1.478-1.438ZM18.688 0v4.313H23L18.687 0ZM8.624 15.813V5.75H2.156C.966 5.75 0 6.715 0 7.906v12.938C0 22.034.965 23 2.156 23h8.625a2.156 2.156 0 0 0 2.156-2.156v-2.157H11.5a2.878 2.878 0 0 1-2.875-2.875Z'/%3E%3C/svg%3E");

$facebook-blue: #1778f2;
$facebook-blue-dark: #4267b2;
$facebook-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='28'%3E%3Cpath fill='%23fff' d='M14.984.187v4.125h-2.453c-1.922 0-2.281.922-2.281 2.25v2.953h4.578l-.609 4.625H10.25v11.859H5.469V14.14H1.485V9.515h3.984V6.109C5.469 2.156 7.891 0 11.422 0c1.687 0 3.141.125 3.563.187z'/%3E%3C/svg%3E");
$twitter-blue: #1da1f2;
$twitter-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='28'%3E%3Cpath fill='%23fff' d='M25.312 6.375a10.85 10.85 0 0 1-2.531 2.609c.016.219.016.438.016.656 0 6.672-5.078 14.359-14.359 14.359-2.859 0-5.516-.828-7.75-2.266.406.047.797.063 1.219.063 2.359 0 4.531-.797 6.266-2.156a5.056 5.056 0 0 1-4.719-3.5c.313.047.625.078.953.078.453 0 .906-.063 1.328-.172a5.048 5.048 0 0 1-4.047-4.953v-.063a5.093 5.093 0 0 0 2.281.641 5.044 5.044 0 0 1-2.25-4.203c0-.938.25-1.797.688-2.547a14.344 14.344 0 0 0 10.406 5.281 5.708 5.708 0 0 1-.125-1.156 5.045 5.045 0 0 1 5.047-5.047 5.03 5.03 0 0 1 3.687 1.594 9.943 9.943 0 0 0 3.203-1.219 5.032 5.032 0 0 1-2.219 2.781c1.016-.109 2-.391 2.906-.781z'/%3E%3C/svg%3E");
