$headline-font: 'Montserrat', cursive;
$event-font: 'Raleway';
$event-font-color: #2d2d2d;

$brand-primary: #C10E21;
$event-primary: #C10E21;
$event-primary-acc: #990000;
$event-primary-dark: #a41752;
$event-secondary: #04287b;
$event-secondary-dark: #4e4282;
$event-secondary-medium: #cde4f2;
$event-secondary-light: #ebe9f3;
$event-accent: #d7d9db;
$event-accent-medium: #c8e3aa;
$event-accent-light: #d7d9db;
$event-grey: #d7d9db;
$border-gray: #e8e8e8;
$inactive-grey: #c2c2c2;
$error-color: #fcddde;
$prize-purple:#04287b;
