$headline-font: Verdana, Arial, Helvetica, sans-serif;
$event-font: Verdana, Arial, Helvetica, sans-serif;

$brand-primary: #C10E21;
$event-primary: #C10E21;
$event-primary-acc: #990000;
$event-primary-dark: #a41752;
$event-secondary: #c10e21;
$event-secondary-dark: #4e4282;
$event-secondary-medium: #d7d4e8;
$event-secondary-light: #ebe9f3;
$event-accent: #999999;
$event-accent-medium: #c8e3aa;
$event-accent-light: #d3e9bb;
$event-grey: #2d2d2d;
$border-gray: #e8e8e8;
$inactive-grey: #c2c2c2;
$error-color: #fcddde;
$prize-purple:#a05eb5;
