.page-personal-edit-photo button, .page-personal-edit-video button {
  margin-top: 20px;
}
.page_personal_video_container iFrame {
  opacity: 0;
}
.page_personal_story_container h2 {
  margin-top: 50px;
}