@font-face {
  font-family: 'LubDubBold';
  src: url('../webfonts/lub-dub/LubDubBold.eot');
  src:
          url('../webfonts/lub-dub/LubDubBold.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubBold.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubBold.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubBold.svg') format('svg');
}

@font-face {
  font-family: 'LubDubBold-Italic';
  src: url('../webfonts/lub-dub/LubDubBold-Italic.eot');
  src:
          url('../webfonts/lub-dub/LubDubBold-Italic.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubBold-Italic.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubBold-Italic.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubBold-Italic.svg') format('svg');
}

@font-face {
  font-family: 'LubDubCondensed';
  src: url('../webfonts/lub-dub/LubDubCond.eot');
  src:
          url('../webfonts/lub-dub/LubDubCond.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubCond.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubCond.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubCond.svg') format('svg');
}

@font-face {
  font-family: 'LubDubCondensed-Bold';
  src: url('../webfonts/lub-dub/LubDubCond-Bold.eot');
  src:
          url('../webfonts/lub-dub/LubDubCond-Bold.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubCond-Bold.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubCond-Bold.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubCond-Bold.svg') format('svg');
}

@font-face {
  font-family: 'LubDubCondensed-BoldItalic';
  src: url('../webfonts/lub-dub/LubDubMedium.eot');
  src:
          url('../webfonts/lub-dub/LubDubCond-BoldItalic.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubCond-BoldItalic.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubCond-BoldItalic.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubCond-BoldItalic.svg') format('svg');
}

@font-face {
  font-family: 'LubDubCondensed-Italic';
  src: url('../webfonts/lub-dub/LubDubCond-Italic.eot');
  src:
          url('../webfonts/lub-dub/LubDubCond-Italic.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubCond-Italic.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubCond-Italic.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubCond-Italic.svg') format('svg');
}

@font-face {
  font-family: 'LubDubHeavy';
  src: url('../webfonts/lub-dub/LubDubHeavy.eot');
  src:
          url('../webfonts/lub-dub/LubDubHeavy.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubHeavy.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubHeavy.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubHeavy.svg') format('svg');
}

@font-face {
  font-family: 'LubDubHeavy-Italic';
  src: url('../webfonts/lub-dub/LubDubHeavy-Italic.eot');
  src:
          url('../webfonts/lub-dub/LubDubHeavy-Italic.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubHeavy-Italic.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubHeavy-Italic.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubHeavy-Italic.svg') format('svg');
}

@font-face {
  font-family: 'LubDubLight';
  src: url('../webfonts/lub-dub/LubDubLight.eot');
  src:
          url('../webfonts/lub-dub/LubDubLight.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubLight.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubLight.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubLight.svg') format('svg');
}

@font-face {
  font-family: 'LubDubLight-Italic';
  src: url('../webfonts/lub-dub/LubDubLight-Italic.eot');
  src:
          url('../webfonts/lub-dub/LubDubLight-Italic.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubLight-Italic.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubLight-Italic.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubLight-Italic.svg') format('svg');
}

@font-face {
  font-family: 'LubDubMedium';
  src: url('../webfonts/lub-dub/LubDubMedium.eot');
  src:
          url('../webfonts/lub-dub/LubDubMedium.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubMedium.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubMedium.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubMedium.svg') format('svg');
}

@font-face {
  font-family: 'LubDubMedium-Italic';
  src: url('../webfonts/lub-dub/LubDubMedium-Italic.eot');
  src:
          url('../webfonts/lub-dub/LubDubMedium-Italic.woff') format('woff'),
          url('../webfonts/lub-dub/LubDubMedium-Italic.woff2') format('woff2'),
          url('../webfonts/lub-dub/LubDubMedium-Italic.ttf') format('truetype'),
          url('../webfonts/lub-dub/LubDubMedium-Italic.svg') format('svg');
}