
 $red: #C10E21 !default;
 $red-deep: #990000 !default;
 $red-light: #f5eff1 !default;
 $primary: $red !default;
 $success: #5cb85c !default;
 $white: #FFFFFF !default;
 $dark: #636466 !default;
 $gray-700: #495057 !default;
 $gray-600: #515151 !default;
 $gray-500: #8d8d8d !default;
 $gray-400: #EEEEEE !default;
 $gray-300: #f5eff1 !default;
 $gray-200: #E3E3E3 !default;
 $gray-100: #F8F8F8 !default;
 $gray-background: #f2f2f2 !default;
 $progress-bar: #333;
 $progress-bkd: #dfdede !default;
 $progress-thermo-shadow: #afafb1 !default;
 $black: #000000 !default;
 $thermometer-border: #CCCCCC !default;
 $team-roster-bg-gray: #E9ECEE;

 // Font family variables
 $font-fallback: Helvetica, Arial, sans-serif;
 $font-family-light: 'LubDubLight', $font-fallback;
 $font-family-medium: 'LubDubMedium', $font-fallback;
 $font-family-bold: 'LubDubBold', $font-fallback;
