<div class="row">
  <div class="col-sm-12">
    <h1>
      Edit Personal Page
    </h1>
    <div class="row">
      <div class="col-sm-6 page-personal-edit-photo">
          <div class="page_personal_photo_container">
              <h2>Update your photo</h2>
              <div class="page_personal_photo_inner" data-defaultphoto="../aha-luminate/dist/heart-walk/image/default-personal.png">
                <img class="editable_photo" src="{{pagePersonalPhotoUrl}}" alt="Personal page image">
              </div>
            <button type="button" class="btn btn-primary-inverted btn-raised" ng-click="editPagePersonalPhoto()" id="edit_page_personal_photo"><span class="glyphicon glyphicon-camera"></span> Edit Photo</button>
          </div>
      </div>
      <div class="col-sm-6 page-personal-edit-video">
        <div class="page_personal_video_container">
          <h2>Update your personal video</h2>
          <div class="heart-user-video-inner">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="700" height="700" src="https://www.youtube.com/embed/_RHhQFOo4iE?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            <button type="button" class="btn btn-primary-inverted btn-raised" ng-click="editPagePersonalVideo()" id="edit_page_personal_video"><span class="glyphicon glyphicon-facetime-video"></span> Edit Video</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 page-personal-edit-story">
        <div class="page_personal_story_container">
          <h2>Update your story</h2>
            <div class="manageable-editor-window-editor" data-container="edit_fr_rich_text_container">
              <div class="personal-page-description" id="fr_rich_text_container">
                  <div ng-class="{'hidden': pagePersonalContentOpen}" ng-bind-html="pagePersonalContent"></div>
                  <form method="POST" novalidate ng-class="{'hidden': !pagePersonalContentOpen}" ng-submit="updatePagePersonalContent()">
                    <div class="form-group">
                      <div text-angular ng-model="ng_pagePersonalContent" ta-toolbar="{{textEditorToolbar}}" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary-inverted btn-raised" ng-click="cancelEditPagePersonalContent()">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-raised">Save</button>
                      </div>
                  </form>
                  <div class="form-group"><button type="button" class="btn btn-primary btn-raised" ng-class="{'hidden': pagePersonalContentOpen}" ng-click="editPagePersonalContent()" id="edit_personal_story"><span class="glyphicon glyphicon-pencil"></span> Edit Story</button></div> 
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
