<div class="row">
  <div class="col-sm-12">
    <h1>
      Edit Personal Page
    </h1>
    <div class="page_personal_photo_container">
      <img class="editable_photo" src="" alt="Personal page image">
      <button type="button" class="btn btn-primary-inverted btn-raised" ng-click="editPagePersonalPhoto()" id="edit_page_personal_photo"><span class="glyphicon glyphicon-camera"></span> Edit Photo</button>
    </div>

    <div class="page_personal_video_container">
      <div id="videoX"></div>
      <div class="heart-user-video-inner">
        <button type="button" class="btn btn-primary-inverted btn-raised ng-scope" ng-click="editPagePersonalVideo()" id="edit_page_personal_video"><span class="glyphicon glyphicon-facetime-video"></span> Edit Video</button>
      </div>
    </div>

    <div class="page_personal_story_container">
				<div class="manageable-editor-window-editor" data-container="edit_fr_rich_text_container">
					<div class="personal-page-description" id="fr_rich_text_container">
            <p>some text</p>
					</div>
				</div>
			</div>

  </div>
  
</div>
