<form ng-submit="updateEditYourWhy($event)" novalidate>
  <div class="modal-header modal-header-red">
    <h2 class="modal-title">
      Update Your Why
    </h2>
  </div>
  <div class="modal-body modal-body-red">
    <div uib-alert class="alert-success" ng-if="updateSurveySuccess" close="resetSurveyAlerts()">
      <span translate="survey_save_success"></span>
    </div>
    <div uib-alert class="alert-danger" ng-if="updateSurveyFailure" close="resetSurveyAlerts()">
      {{updateSurveyFailureMessage}}
    </div>
    <div class="form-group">
      <label for="question_key_what_is_why">Why do you walk? Finish this sentence: "______ is Why."</label>
      <input type="text" ng-model="sqvm.surveyModel.question_key_what_is_why" class="form-control">
    </div>
  </div>
  <div class="modal-footer modal-footer-red">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-outline-white text-uppercase"  ng-click="sendGAEvent('Cancel editing Your Why');cancelEditYourWhy()">
          Cancel
        </button>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-white text-uppercase"  ng-click="sendGAEvent('Save editing Your Why')">Save</span>
        </button>
      </div>
    </div>
  </div>
<form>