main {
    background: rgb(207,37,42);
    background: -moz-linear-gradient(169deg, rgba(207,37,42,1) 0%, rgba(141,2,170,1) 33%, rgba(0,41,255,1) 66%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(169deg, rgba(207,37,42,1) 0%, rgba(141,2,170,1) 33%, rgba(0,41,255,1) 66%, rgba(0,0,0,1) 100%);
    background: linear-gradient(169deg, rgba(207,37,42,1) 0%, rgba(141,2,170,1) 33%, rgba(0,41,255,1) 66%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cf252a",endColorstr="#000000",GradientType=1); 
}

.event-secondary-medium--diagonal {
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #dfdded 10px, #dfdded 20px), linear-gradient(to bottom, #e1e0ea, #e1e0ea);
}

.event-secondary-medium--grid {
  background: url('../image/event-secondary-medium--grid-bkgrd.png') repeat top left scroll;
}
