button.btn {
  &.btn-secondary {
    &:hover,
    &:focus,
    &:active {
      color: $event-grey;
    }
  }
}

.btn,
a.btn {
  &.btn-primary {
    &,
    &:link,
    &:visited {
      background: $event-primary;
      color: $brand-white;
    }
    
    &:hover,
    &:focus,
    &:active {
      background: $event-primary-dark;
      color: $event-secondary-medium;
    }
  }
  &.btn-secondary {
    &,
    &:link,
    &:visited {
      background: $event-primary;
      color: $brand-white;
    }
    
    &:hover,
    &:focus,
    &:active {
      background: $event-secondary-dark;
    }
  }
}

div.responsive {
  .btn,
  a.btn,
  .step-button,
  button.step-button {
    &:hover,
    &:focus,
    &:active {
      color: $event-secondary-medium;
    }
  }
}
