  &.btn-secondary {
    &,
    &:link,
    &:visited {
      background: $event-primary;
      color: $brand-white;
    }
    
    &:hover,
    &:focus,
    &:active {
      background: $event-secondary-dark;
    }
  }
