.cms {
  .ym-page-breadcrumbs {
    color: $acc-purple;

    a {
      color: $acc-purple;
    }
  }

  .breadcrumbComponent {
    .breadcrumb {
      color: $acc-purple;
    }

  }

  .breadcrumbseparator {
    color: $acc-purple;
  }
}

.ym-school-search {
  .school-name-filter-submit:focus {
    outline-color: cyan;
  }
}
