body.pg-company {
	.challenge-slime {
		background: #fff url('../image/school_challenge_1_alt.png') no-repeat center bottom / 100% 100%;
	}
	.challenge-pie {
		background: #fff url('../image/school_challenge_2_alt.png') no-repeat center bottom / 100% 100%;
	}
	.challenge-activity {
		background: #fff url('../image/school_challenge_3_alt.png') no-repeat center bottom / 100% 100%;
	}
}
.ym-school-participation-years {
  position:relative;
  max-width:180px;
  padding:5px;
  
  img {
    width: 100%;
  }
  .ym-school-participation-years-text {
    position: absolute;
    top: 31px;
    left: 5%;
    text-align: center;
    font-weight: bold;
    margin: 0 27px;
    line-height: 18px;
    font-size: 14px;
    color: $event-secondary;
    
    span {
      display: block;
      font-size: 1.5em;
      line-height: 1.3em;
    }
  }
}
