body.pg-company {
	.challenge-slime {
		background: #fff url('../image/fy22/school_challenge_slime.jpg') no-repeat center bottom / 100% 100%;
		.ym-progress__title {
			color: #000000;
		}
	}
	.challenge-pie {
		background: #fff url('../image/fy22/school_challenge_pie_in_face.jpg') no-repeat center bottom / 100% 100%;
		.ym-progress__stats {
		    max-width: 343px;
		    margin-left: 130px;
		}
	}
	.challenge-color {
		background: #fff url('../image/fy22/school_challenge_chalk.jpg') no-repeat center bottom / 100% 100%;
		.ym-progress__title {
			color: #000000;
		}
	}
	.challenge-hair {
		background: #fff url('../image/fy22/school_challenge_hair_dye.jpg') no-repeat center bottom / 100% 100%;
		.ym-progress__title {
			color: #000000;
			margin-left:65px;
			padding: 0 10px;
		}
		.ym-progress__cta {
			margin-left:65px;
		}
		.ym-progress__thermometer {
			margin-left: 85px;
		}
	}
}
.ym-school-participation-years {
  position:relative;
  max-width:180px;
  padding:5px;
  
  img {
    width: 100%;
  }
  .ym-school-participation-years-text {
    position: absolute;
    top: 31px;
    left: 5%;
    text-align: center;
    font-weight: bold;
    margin: 0 27px;
    line-height: 18px;
    font-size: 14px;
    color: $event-secondary-medium;
    
    span {
      display: block;
      font-size: 1.5em;
      line-height: 1.3em;
    }
  }
}
