.ym-donation-sidebar__header {
  color:$event-grey;
}
.event-accent {
  a,
  a:link,
  a:visited,
  a:hover {
    color: $event-grey;
  }
}
.ym-donation-sidebar__text span {
  color: $event-grey;
}

div.donation-form-container label[for="terms-of-service-checkbox"] {
  margin-top: 30px;
  
  ::after {
    vertical-align: middle;
    content: "*";
    display: inline-block;
    color: red;
    font-size: 1.5em;
    padding-left: 5px;
  }
} 

div.donation-form-container {
  .section-header-container,
  h2 {
    color: $event-primary;
    border-color: $event-primary;
  }
}

div.donation-form-container .custom-field-container.has-error .checkbox label:before,
div.donation-form-container .custom-field-container.has-error input[type=checkbox]+label:before {
  background-color: #fcddde;
}

.ym-donation-levels {
    p {
      color: $event-primary;
    }
}
