.ym-donation-sidebar__header {
  color:$event-grey;
}
.event-accent {
  a,
  a:link,
  a:visited,
  a:hover {
    color: $event-grey;
  }
}
.ym-donation-sidebar__text span {
  color: $event-grey;
}

div.donation-form-container label[for="terms-of-service-checkbox"] {
  margin-top: 30px;
} 
