select {
  &, 
  &.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-right: 0.75rem\9;
    background-image: none\9;
    background: url('../image/ym-select-carot.png') right 0.75rem center no-repeat $brand-white;
    
    &::-ms-expand {
      display: none;
    }
  }
}

.form-control:focus {
    border-color: $event-secondary;
}

:disabled, 
div.responsive input[disabled] {
  color: $event-primary;
}

.ym-optional {
  color: $event-secondary-medium;
}
