header {
  .ym-header-logo {
    height: 70px;
    line-height: 70px;
    padding-left: 10px;
  }
  .ym-header-logo--middle-school {
    float:right;
    border-left:none;
    
    > a, 
    > span {
      margin: -2px 12px 0;
    }
    
    > a img {
      max-height: 80px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .ym-header-logo--aha > a img {
      max-width: 100px;
    }
    
    .ym-header-logo--middle-school {
      max-width: 150px;

      img {
        max-width: 100%;
      }
    }
  }
}

.ym-header-welcome {
  .dropdown {
    display:inline-block !important;
    vertical-align:top;

    span {
      display:inline-block !important;
    }
  }
  .dropdown-item {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
}

header nav .ym-header-welcome-toggle:focus {
  outline: 5px auto -webkit-focus-ring-color;
}
