main {
  > .container {
    margin: 0px auto 0;
    
    @media (max-width: $screen-xs-max) {
      margin-top: -100px;
    }
  }
}

:focus {
    border-color: blue !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,1);
    border-width: 2px !important;
}
