a.btn.btn-donate {
	font-size: 20px;
	width:100%;
	line-height: 24px;
	@media (max-width: 767px) {
		width: auto;
		max-width: 190px;
		font-size: 14px;
		display: block;
		padding: 10px 12px;
	}
}

.ym-section-divider {
  border: 0;
  border-top: 1px solid $event-secondary;
  height: 1px;
  margin: 0;
}

.ym-page-section__list {
  background: $event-accent;
}

.ym-school-student-survivor {
  position:relative;
  max-width:180px;
  padding:5px;
  
  img {
    width: 100%;
  }
}
