.social-iframe {
	min-height: 950px;
}
a.btn-compose {
	font-size:18px;
}

.btn.btn-secondary:active, 
.btn.btn-secondary:focus, 
.btn.btn-secondary:hover, 
a.btn.btn-secondary:active, 
a.btn.btn-secondary:focus, 
a.btn.btn-secondary:hover {
	background: #337ab7;
}

div[id^="taTextElement"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

select#ym-update-challenge {
	color: #000000;
}

.ym-pc-dashboard-coordinator-school-years-section {
	background-color: $event-accent-light;
	padding: 36px;
	margin: 0 0 30px;
}

.ym-pc-dashboard-coordinator-resources-contact {
	text-align:center;
	font-weight:bold;
	margin-top:15px;
	color: $event-grey;
}
