.social-iframe {
	min-height: 950px;
}
a.btn-compose {
	font-size:18px;
}

.btn.btn-secondary:active, 
.btn.btn-secondary:focus, 
.btn.btn-secondary:hover, 
a.btn.btn-secondary:active, 
a.btn.btn-secondary:focus, 
a.btn.btn-secondary:hover {
	background: #337ab7;
}

div[id^="taTextElement"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

select#ym-update-challenge {
	color: #000000;
}

.ym-pc-dashboard-coordinator-school-detail-section {
	background-color: $event-accent-light;
}
.ym-pc-dashboard-coordinator-school-years-section,
.ym-pc-dashboard-coordinator-school-message-section{
	padding: 36px;
	margin: 0 0 30px;
}

.ym-pc-dashboard-coordinator-resources-contact {
	text-align:center;
	font-weight:bold;
	margin-top:15px;
	color: $event-grey;
}

.ym-pc-dashboard-coordinator-school-years-section,
.ym-pc-dashboard-coordinator-school-detail-section {
	div.ym-pc-dashboard-section-header {
		font-size: 20px;
		color: indigo;
		font-family: "Luckiest Guy",cursive;
		line-height: 28px;

		select {
			width: auto;
			display: inline-block;
			padding-right: 25px;
			font-size: 20px;
			line-height: 26px;
			padding-bottom: 5px;
		}
		
		.schoolCreateMessage {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 18px;
			
			.coordinatorMessage {
			  font-size: .8em;
			  font-style:italic;
			}
		}
	}
}

.schoolStatusTitle {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 15px;
}
