.ym-progress {
  background: $event-secondary-medium;
}

.ym-progress__thermometer {
  border: none;
}

.ym-progress__thermometer--fill {
  background: $event-primary;
  height: 35px;
}

.ym-progress__title {
  color: $event-secondary-heading;
}

.ym-progress__stats {
  p {
    color: $event-secondary-heading;
  }
}

.therm-text-black {
  color: #000000;
  text-indent: 100%;
  white-space: nowrap;
  
  &::before {
    content: " ";
    margin-left: 5px;
  }
}

.therm-text-white {
  color: #ffffff;
  text-indent: 5px;
  white-space: nowrap;
}
