-scoendary.ym-progress {
  background: $event-secondary-medium;
}

.ym-progress__thermometer {
    border: 1px solid #dad7ce;
    box-shadow: none;
    background: #e8e5dd;
    border-radius: 50px;
}

.ym-progress__thermometer--fill {
  background: $event-secondary;
  height: 35px;
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
  font-weight: bold;
  white-space:nowrap;
  border-radius: 50px;
}

.therm-text-black {
  color: $event-font-color;
  text-indent: 100%;
  
  &::before {
    content: " ";
    margin-left: 5px;
    position: relative;
  }
}

.therm-text-white {
  color: #ffffff;
  text-indent: 5px;
}
