.ym-promo-block__item {
  padding: 0 10px;
  font-size:14px;
  width: 175px;
  height: 175px;
  
  .h2, 
  h2 {
    font-size: 50px;
    margin: 35px 0 10px;
    color: $event-secondary-medium;
  }
  
  @media (max-width: $screen-xs-max) {
    border-bottom: 0;
  }
}

.ym-promo-block {
  .ym-headline, 
  h2 {
    color: $event-secondary-medium;
  }
}
