div.responsive a,
a {
  &,
  &:link,
  &:visited {
    text-decoration: underline;
    color: $event-primary;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $event-primary;
  }
}

h1, 
.h1,
.ym-headline {
  text-transform: uppercase;
}

h1, 
.h1, 
h2, 
.h2, 
h3, 
.h3, 
h4, 
.h4, 
h5, 
.h5 {
  font-weight: 700;
}

h2,
.h2,
.h2-heading,
h3,
.h3,
.h3-heading,
h4,
.h4,
.h4-heading {
  color: $event-secondary-heading;
}

.ym-accent-color,
.event-accent {
  h2,
  .h,
  .h2-heading,
  h3,
  .h3,
  .h3-heading,
  h4,
  .h4,
  .h4-heading,
  h5,
  .h5,
  .h5-heading,
  h6,
  .h6,
  .h6-heading {
    color: $event-grey;
  }
  
  h2,
  .h2,
  .h2-heading,
  h3,
  .h3,
  .h3-heading {
    text-shadow: none;
  }
}

.event-secondary-medium {
  color:#ffffff;
  padding-bottom: 20px;
  h5, 
  .h5, 
  .h5-heading {
    color: $event-secondary-heading;
  }
}
