$headline-font: 'Oswald';
$event-font: 'Raleway';

$event-primary: #c10e21;
$event-primary-acc: #A20B1A;
$event-primary-dark: #b4201e;
$event-secondary: #007AB8;
$event-secondary-heading: #2d2d2d;
$event-secondary-dark: #9ed2eb;
$event-secondary-medium: #d7eeee;
$event-secondary-light: #d7eeee;
$event-accent: #B8DCEF;
$event-accent-medium: #98cce8;
$event-accent-light: #98cce8;
$event-grey: #2d2d2d;
$border-gray: #e8e8e8;
$inactive-grey: #c2c2c2;
$error-color: #fcddde;

