<div class="heart-company-participant-list">
  <div class="heart-company-participant-list__header clearfix" ng-if="!isChildCompany">
    <h2>
      Participants
    </h2>
    <form class="form-inline" name="companyParticipantSearchForm" method="POST" ng-submit="searchCompanyParticipants(companyParticipantSearch)">
      <label class="sr-only">
        Search for a participant:
      </label>
      <input type="text" class="form-control" placeholder="Search for a participant" ng-model="companyParticipantSearch.participant_name"> 
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <div class="heart-company-participant-list__company-name" ng-if="participants.length > 0">
    <div class="clearfix">
      <div class="pull-left">
        <a href="TR?fr_id={{frId}}&pg=company&company_id={{companyId}}">{{companyName}}</a>
      </div>
      <a class="pull-right" ng-click="toggleCompanyParticipantList()">
        <i class="glyphicon ng-scope" ng-class="{'glyphicon-triangle-bottom': isOpen, 'glyphicon-triangle-left': !isOpen}"></i>
      </a>
    </div>
  </div>
  <div ng-if="!participants.length" style="display:table-cell;vertical-align:middle;height:90px;text-align:middle;">
    <p class="no-result">Your search "{{searchCompanyParticipants.lastSearch}}" did not return any results.</p>
  </div>
  <div class="heart-company-participant-list__body" ng-if="participants.length > 0 && isOpen">
    <div ng-repeat="participant in participants track by $index" class="heart-company-participant-list__metarow">
      <div class="heart-company-participant-list__row">
      <div class="heart-company-participant-list__column heart-company-participant-list__column--name">
        <a ng-href="TR?fr_id={{participant.eventId}}&amp;pg=personal&amp;px={{participant.consId}}">{{participant.name.first + ' ' + participant.name.last}}</a>
        <div class="visible-xs visible-md" ng-if="participant.aTeamCaptain == 'true'">Coach</div>
      </div>
      <div class="heart-company-participant-list__column heart-company-participant-list__column--captain hidden-xs hidden-md">
        <div ng-if="participant.aTeamCaptain == 'true'">
          Coach
        </div>
        <div ng-if="participant.individualParticipant == 'true'">
          Individual
        </div>
      </div>
      <div class="heart-company-participant-list__column heart-company-participant-list__column--amount">
        <strong>{{participant.amountRaisedFormatted}}</strong>
      </div>
      <div class="heart-company-participant-list__column heart-company-participant-list__column--cta hidden-xs">
        <label class="btn btn-lg btn-primary" ng-if="participant.donationUrl" for="{{participant.consId+'donateButton'}}">Donate</label>
      </div>
    </div>
      <input type="radio" name="donateChoice" id="{{participant.consId+'donateButton'}}" style="display:none">
      <div class="paymentSelectType">
        <div class="paymentSelectWrapper">
          <h7>How would you like to donate?</h7>
          <a ng-href="{{participant.donationUrl}}" ng-if="participant.donationUrl">
            <img src="../images/content/pagebuilder/credit-card-logos2.png">
          </a>
          <a href="{{participant.amazonDonationUrl}}" ng-if="participant.amazonDonationUrl" class="amazon">
            <img src="../images/content/pagebuilder/amazon-payments.png">
          </a>
          <a href="{{participant.paypalDonationUrl}}" ng-if="participant.paypalDonationUrl">
            <img src="../images/content/pagebuilder/PP_logo_h_100x26.png">
          </a>
        </div>
      </div>

    </div>

  </div>
</div>