<div cg-busy="dashboardPromises">
  <div class="student-hq" ng-if="participantRegistration.companyInformation.isCompanyCoordinator != 'true' || location == '/dashboard-student'" ng-cloak>
    <p class="fw-bold">Participation Type: {{participationTypes[participantRegistration.participationTypeId]}}</p>
    <div class="row ym-pc-dashboard-coordinators-message-section mb-2" ng-if="EventStartDate || DonationDueDate" ng-cloak>
      <div class="ym-pc-dashboard-event-date" ng-if="EventStartDate" ng-cloak> Event Date: {{EventStartDate | date:'MM/dd/yyyy'}}
        <span ng-if="EventStartDate != EventEndDate && EventEndDate != ''" ng-cloak> thru {{EventEndDate | date:'MM/dd/yyyy'}}
        </span>
      </div>
      <div class="ym-pc-dashboard-money-date" ng-if="DonationDueDate" ng-cloak> Donation Due Date: {{DonationDueDate | date:'MM/dd/yyyy'}}
      </div>
    </div>
    <div class="ym-pc-dashboard-school-challange mb-0">
      <section class="ym-pc-dashboard-coordinators-message-section mb-0" aria-label="Note From Your Teacher">
        <div class="ym-pc-dashboard-section-header"> Note from your teacher: </div>
        <div class="ym-pc-dashboard-section-text">
          <div ng-if="coordinatorMessage.message == ''" ng-cloak> Don't forget to text or send e-cards to your friends and family tonight and remember to finish&nbsp;Finn's&nbsp;Mission! </div>
          <div ng-bind-html="coordinatorMessage.message" ng-if="coordinatorMessage.message != ''" ng-cloak></div>
          <!--<div>Don't forget to text or send e-cards to your friends and family tonight. Remember to finish Finn's Mission!</div>-->
        </div>
      </section>
    </div>
    <section class="early-registration-section mb-3" aria-label="Early Registration Section">
      <div class="early-registration text-center">
        <div class="participatingNextYear text-center p-2" ng-if="participantRegistration.companyInformation.isCompanyCoordinator != 'true'" ng-cloak>
          <div class="checkbox pe-2 pb-2" custom-checkbox ng-class="{'checked': schoolPlan.ParticipatingNextYear == 'YES'}">
            <strong>Early Registration:</strong>
            <label for="ParticipatingNextYear">
              <input type="checkbox" name="ParticipatingNextYear" id="ParticipatingNextYear" ng-model="schoolPlan.ParticipatingNextYear_isChecked" aria-label="Participating Next Year" ng-change="putSchoolPlan($event,'ParticipatingNextYear_isChecked')"> Re-register for next year </label>
          </div>
        </div>
        <div class="row participatingNextYear text-center p-2" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
          <div class="checkbox pe-2 pb-2" custom-checkbox ng-class="{'checked': schoolPlan.ParticipatingNextYear == 'YES'}">
            <strong>Early Registration:</strong>
            <label for="ParticipatingNextYear">
              <input type="checkbox" name="ParticipatingNextYear" id="ParticipatingNextYear" ng-model="schoolPlan.ParticipatingNextYear_isChecked" value="{{schoolPlan.ParticipatingNextYear}}" aria-label="Participating Next Year" ng-change="updateParticipatingNextYear()"> Re-register for next year </label>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-badges-section mb-4" aria-label="My Badges" ng-if="prizes" ng-cloak>
      <h2 class="text-center">Finn's Mission</h2>
      <div class="finns-mission-section d-flex justify-content-between flex-wrap gap-4 p-3">
        <div class="ym-pc-dashboard-badge-path col">
          <div class="finns-mission">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 826 826" preserveaspectratio="xMidYMid meet" aria-labelledby="finns_mission_title finns_mission_desc">
              <title id="finns_mission_title"> Finn's Mission </title>
              <desc id="finns_mission_desc"> Your mission is to complete the challenges listed for Finn </desc>
              <defs>
                <filter id="a" x="220" y="320" width="210" height="100" filterunits="userSpaceOnUse">
                  <feoffset dx="1" dy="1" />
                </filter>
                <filter id="b" x="470" y="130" width="250" height="70" filterunits="userSpaceOnUse">
                  <feoffset dx="1" dy="1" />
                </filter>
                <pattern id="bg" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="100%" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/finns-mission-bg.png" xlink:href="" alt="Finn's Mission Background"></image>
                </pattern>
                <pattern id="finn" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="250" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/finn-nobg.png" xlink:href="" alt="Finn"></image>
                </pattern>
                <pattern id="ballbw" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="105" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/finn-ball-bw.png" xlink:href="" alt="Black and White Ball"></image>
                </pattern>
                <pattern id="ballcolor" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="105" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/finn-ball-color.png" xlink:href="" alt="Color Ball"></image>
                </pattern>
                <pattern id="discoball" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="230" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/finns-mission-disco-ball.png" xlink:href="" alt="Disco Ball"></image>
                </pattern>
                <pattern id="1_balloon" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image class="bounce-3" aria-hidden="true" width="200" xlink:href="" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/Balloon1.png" alt="{{prizes[0].label}}" title="Donate" />
                </pattern>
                <pattern id="2_balloon" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="200" xlink:href="" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/Balloon2.png" alt="{{prizes[1].label}}" title="Send Messages" />
                </pattern>
                <pattern id="3_balloon" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="200" xlink:href="" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/Balloon3.png" alt="{{prizes[2].label}}" title="Edit your page" />
                </pattern>
                <pattern id="4_balloon" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="200" xlink:href="" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/Balloon4.png" alt="{{prizes[3].label}}" title="Hands-Only CPR" />
                </pattern>
                <pattern id="5_balloon" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="200" xlink:href="" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/Balloon5.png" alt="{{prizes[4].label}}" title="First Donation" />
                </pattern>
                <pattern id="6_balloon" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="200" xlink:href="" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/Balloon6.png" alt="{{prizes[5].label}}" title="Share on Social" />
                </pattern>
                <pattern id="7_balloon" filterunits="objectBoundingBox" x="0" y="0" width="1" height="1">
                  <image aria-hidden="true" width="200" xlink:href="" ng-href="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/Balloon7.png" alt="{{prizes[6].label}}" title="Warning Signs of Stroke" />
                </pattern>
              </defs>
              <g data-name="Winding Road">
                <g transform="translate(-.001 .003)">
                  <path fill="url(#bg)" d="M0 0v826h826v-826h-826z"></path>
                </g>
                <g>
                  <foreignObject width="100%" height="100%" x="0" y="0">
                    <div class="blns">
                      <div class="bln-1"></div>
                    </div>
                  </foreignObject>
                </g>
                <g ng-repeat="prize in prizes">
                  <g class="bounce-4" ng-if="prize.id == 2 && prize.status" alt="Donate" ng-cloak>
                    <path fill="url(#1_balloon)" d="M70 90v746h200v-746h-200z"></path>
                  </g>
                  <g class="bounce-3" ng-if="prize.id == 3 && prize.status" alt="Share on Social" ng-cloak>
                    <path fill="url(#6_balloon)" d="M140 300v746h200v-746h-200z"></path>
                  </g>
                  <g class="bounce-2" ng-if="prize.id == 5 && prize.status" alt="Hands-Only CPR" ng-cloak>
                    <path fill="url(#4_balloon)" d="M40 500v746h200v-746h-200z"></path>
                  </g>
                  <g class="bounce-4" ng-if="prize.id == 7 && prize.status" alt="First Donation" ng-cloak>
                    <path fill="url(#5_balloon)" d="M570 70v746h200v-746h-200z"></path>
                  </g>
                  <g class="bounce-3" ng-if="prize.id == 4 && prize.status" alt="Edit Your Page" ng-cloak>
                    <path fill="url(#3_balloon)" d="M480 220v746h200v-746h-200z"></path>
                  </g>
                  <g class="bounce-2" ng-if="prize.id == 6 && prize.status" alt="Send Messages" ng-cloak>
                    <path fill="url(#2_balloon)" d="M430 430v746h200v-746h-200z"></path>
                  </g>
                  <g class="bounce-2" ng-if="prize.id == 8 && prize.status" alt="Warning Signs of Stroke" ng-cloak>
                    <path fill="url(#7_balloon)" d="M600 500v746h200v-746h-200z"></path>
                  </g>
                </g>
                <g>
                  <path fill="url(#discoball)" d="M305 20v230h230v-230h-230z"></path>
                </g>
                <g>
                  <path fill="url(#finn)" d="M260 313v700h341v-700h-341z"></path>
                </g>
                <g ng-if="prizesEarned < 8" class="gear" ng-cloak>
                  <path ng-if="prizesEarned < 8" fill="url(#ballbw)" d="M292 587v105h105v-105h-105z"></path>
                  <path ng-if="prizesEarned == 8" fill="url(#ballcolor)" d="M292 587v105h105v-105h-105z"></path>
                </g>
              </g>
              <g>
                <foreignObject width="55" height="55" x="320" y="40">
                  <div class="template shine large"></div>
                </foreignObject>
                <foreignObject width="55" height="55" x="305" y="120">
                  <div class="template shine medium"></div>
                </foreignObject>
                <foreignObject width="60" height="60" x="470" y="135">
                  <div class="template shine large"></div>
                </foreignObject>
                <foreignObject width="55" height="55" x="440" y="40">
                  <div class="template shine medium"></div>
                </foreignObject>
                <foreignObject width="60" height="60" x="345" y="180">
                  <div class="template shine large"></div>
                </foreignObject>
                <foreignObject width="60" height="60" x="410" y="170">
                  <div class="template shine medium"></div>
                </foreignObject>
              </g>
            </svg>
          </div>
        </div>
        <div class="ym-pc-dashboard-badge-path col px-3">
          <div class="ym-pc-dashboard-badges-header">
            <strong> Complete Finn's Mission to earn Finn's Lifesavers Award. </strong>
          </div>
          <div class="badges d-flex flex-wrap justify-content-around">
            <div class="ym-badges" ng-repeat="(name, prize) in prizes" ng-cloak>
              <div class="ym-badge text-center mb-4 p-2" tabindex="0" aria-label="{{prize.label}} Badge {{(prize.status) ? 'Earned' : 'Not Earned'}}">
                <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/badge-{{name}}-{{(prize.status) ? 'earned' : 'unearned'}}.png" alt="{{prize.label}} Badge {{(prize.status) ? 'Earned' : 'Not Earned'}}">
                <div class="badge-title" ng-bind-html="prize.label"></div>
                <a class="badge-button btn btn-primary mb-2" ng-class="(!prize.status) ? '' : 'btn-white'" ng-href="{{prize.final_url}}" target="_blank" aria-label="{{prize.aria_label}}">
                  <strong>
                  <span ng-if="name == 'trophy'" class="d-inline-block" ng-cloak><i class="fa fa-{{(prize.status) ? 'unlock' : 'lock'}}" aria-hidden="true"></i></span>
                    {{prize.button_label}}
                  </strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-progress-section mb-4" aria-label="Spread the Word and Livestream Sections">
      <h2 class="text-center">Reach Your Goal</h2>
      <div class="d-flex justify-content-between flex-wrap gap-4">
        <div class="col" ng-show="facebookFundraisersEnabled">
          <div class="ym-pc-dashboard-facebook-section h-100 event-secondary-medium p-3" ng-show="!facebookFundraiserId">
            <div class="container">
              <div class="ym-pc-dashboard-section-header">
                <h3 class="h5 text-start"> Let's Get Fundraising <span ng-if="consNameFirst && consNameFirst != ''">, <span ng-bind-html="consNameFirst"></span>
                  </span>! </h3>
              </div>
              <div class="text-start">
                <p> Link your personal page to a new Facebook Fundraiser to receive donations from your Facebook friends. </p>
                <div role="alert" class="alert alert-danger" ng-if="facebookFundraiserLoginStatus == 'login_error' || facebookFundraiserLoginStatus == 'permission_error' || facebookFundraiserLoginStatus == 'create_fundraiser_error' || facebookFundraiserCreateStatus == 'login_error' || facebookFundraiserCreateStatus == 'permission_error' || facebookFundraiserCreateStatus == 'create_fundraiser_error'" ng-cloak> An error occurred attempting to connect to Facebook. Please try again later. </div>
                <div role="alert" class="alert alert-danger" ng-if="facebookFundraiserCreateStatus == 'create_fundraiser_duplicate'" ng-cloak> This Facebook account already has an active Facebook Fundraiser for this school. If you are trying to connect a second student, you will need to use another Facebook account. </div>
                <div role="alert" class="alert alert-danger" ng-if="facebookFundraiserLoginStatus == 'declined_manage_fundraisers'" ng-cloak> We need your permission to create a Facebook Fundraiser on your behalf. </div>
                <button type="button" class="btn btn-primary btn-white mb-3" ng-class="{'disabled': facebookFundraiserLoginStatus == 'pending' || facebookFundraiserCreateStatus == 'pending'}" ng-click="loginToFacebook()" ng-disabled="facebookFundraiserLoginStatus == 'pending' || facebookFundraiserCreateStatus == 'pending'">
                  <span class="fa fa-facebook-square"></span>&nbsp; <strong> Connect to Facebook Fundraiser </strong>
                </button>
                <div class="ym-pc-dashboard-facebook-hint"> By clicking this link, you will leave AHA's website and be redirected to another site not under the control of AHA. </div>
              </div>
            </div>
          </div>
          <div class="ym-pc-dashboard-facebook-section js--facebook-fundraiser-completed-section h-100 event-secondary-medium p-3" ng-show="facebookFundraiserId">
            <div class="container">
              <div class="ym-pc-dashboard-section-header">
                <h3 class="h5 text-start"> Your Fundraiser is Connected! </h3>
              </div>
              <div class="text-start">
                <p> Use Facebook's fundraising tools to invite friends, share updates and collect donations. We'll keep track of your progress on Facebook and on your page, so you'll always know how close you are to reaching your goal. </p>
                <div class="d-md-flex align-items-center mb-3">
                  <div class="col mb-3">
                    <div id="fieldFBurl" class="border border-2 bg-light rounded p-2 d-inline-block overflow-hidden me-3">
                      <div class="">https://facebook.com/donate/{{facebookFundraiserId}}/</div>
                    </div>
                  </div>
                  <div class="col mb-3">
                    <a class="btn btn-primary" ng-class="{'disabled': !facebookFundraiserConfirmedStatus || facebookFundraiserConfirmedStatus == 'pending'}" ng-href="//facebook.com/donate/{{facebookFundraiserId}}/" ng-disabled="!facebookFundraiserConfirmedStatus || facebookFundraiserConfirmedStatus == 'pending'" target="_blank">
                      <strong> View </strong>
                    </a> &nbsp;&nbsp; <button type="button" class="btn btn-md-wide btn-primary" id="copyable" data-field="fieldFBurl" data-field-type="Facebook URL" role="button" copy-field>
                      <strong> Copy </strong>
                    </button>
                  </div>
                </div>
                <div class="ym-pc-dashboard-facebook-hint"> By clicking this link, you will leave AHA's website and be redirected to another site not under the control of AHA. </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="ym-pc-dashboard-progress-section__column event-secondary-medium p-3 h-100">
            <div class="ym-pc-dashboard-email-challenge-box text-start">
              <div class="ym-pc-dashboard-section-header text-start">
                <h3 class="h5"> Spread the Word! </h3>
              </div>
              <div class="text-start">
                <p> Did you know if you share with friends/family you could more than double what you raise? </p>
              </div>
              <div class="d-md-flex align-items-center mb-3">
                <div id="fieldText" class="border border-2 bg-light rounded p-2 d-inline-block overflow-hidden me-3">
                  <div class="js--personal-social-share">{{personalPageUrl}}</div>
                </div>
                <button type="button" class="btn btn-md-wide btn-primary btn-white" id="copyable" data-field="fieldText" data-field-type="Personal URL" role="button" copy-field>
                  <strong> Copy Link </strong>
                </button>
              </div>
              <div class="text-center">
                <a ng-href="{{baseUrl}}#" ng-click="delegatedAddThis('.js--personal-social-share', 'facebook')">
                  <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/mail-icon.png" alt="Email">
                </a>
                <a ng-href="{{baseUrl}}#" ng-click="delegatedAddThis('.js--personal-social-share', 'facebook')">
                  <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy24/fb-icon.png" alt="Facebook">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-progress-section mb-4" aria-label="Fundraising Progress Meters">
      <div class="d-flex justify-content-between flex-wrap gap-4">
        <div class="col">
          <div class="ym-pc-dashboard-progress-section__column event-secondary-medium p-3 h-100">
            <div class="ym-pc-dashboard-progress-box">
              <div id="ym-pc-dashboard-personal-panel--student" aria-label="Personal Progress" ng-if="dashboardStudentPageType == 'personal'" ng-cloak>
                <div class="ym-pc-dashboard-section-header">
                  <h3 class="h5 text-start"> Fundraising - Personal Progress </h3>
                </div>
                <div class="ym-progress__thermometer m-0 mw-100" name="Personal Progress Bar" aria-label="{{participantProgress.percent}} percent of fundraising progress" aria-valuetext="{{participantProgress.percent}} percent of fundraising progress" role="progressbar" aria-valuenow="{{participantProgress.percent}}" aria-valuemin="0" aria-valuemax="100">
                  <div class="ym-progress__thermometer--fill" ng-style="{'width': participantProgress.percent + '%'}"></div>
                </div>
                <div class="ym-progress-related d-flex justify-content-between flex-wrap mt-0 mb-3">
                  <div class="col-4">
                    <strong>
                      <span ng-bind-html="participantProgress.raisedFormatted"></span>
                    </strong> raised
                  </div>
                  <div class="col-4 text-center">
                    {{participantProgress.percent}}%
                  </div>
                  <div class="col-4 text-end">
                    <div ng-if="participantProgress.goalFormatted && participantProgress.goalFormatted != '$0'" ng-cloak>
                      <strong>
                        <span ng-bind-html="participantProgress.goalFormatted"></span>
                      </strong> goal
                    </div>
                    <a href="" ng-click="editPersonalGoal()" class="ym-progress-update-goal">
                      <strong> Update Personal Goal </strong>
                    </a>
                    <div ng-if="participantPrevProgress.raisedFormatted" ng-cloak>
                      <strong>
                        <span ng-bind-html="participantPrevProgress.raisedFormatted"></span>
                      </strong> raised last year
                    </div>
                  </div>
                </div>
                <div class="ym-progress-donate text-center">
                  <a class="btn btn-primary" href="#paymentSelType" data-bs-toggle="collapse">
                    <strong> Donate to Personal Page </strong>
                  </a> &nbsp;&nbsp; <a class="btn btn-primary btn-white" ng-href="{{baseUrl}}#/reports" title="Click to view your donation reports">
                    <strong> View Donors </strong>
                  </a> &nbsp;&nbsp; <button type="button" class="btn btn-md-wide btn-primary" ng-click="postFeedbackMessage()">
                    <strong> Provide Feedback </strong>
                  </button>
                </div>
                <div id="paymentSelType" class="collapse">
                  <h7> How would you like to donate? </h7>
                  <div class="d-flex justify-content-between flex-wrap align-items-center text-center">
                    <a class="col-md-6 p-2" href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}">
                      <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/credit-card-button.png" alt="Donate using Credit Card">
                    </a>
                    <a class="col-md-6 p-2" href="SPageNavigator/ym_khc_donate_amazon.html?FR_ID={{frId}}&amp;mfc_pref=T&amp;PROXY_ID={{consId}}&amp;PROXY_TYPE=20" class="amazon">
                      <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/amazon-button.png" alt="Donate using Amazon">
                    </a>
                    <a class="col-md-6 p-2" href="SPageNavigator/ym_khc_donate_googlepay.html?FR_ID={{frId}}&amp;mfc_pref=T&amp;PROXY_ID={{consId}}&amp;PROXY_TYPE=20" class="googlepay">
                      <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/googlepay-button.png" alt="Donate using Google Pay">
                    </a>
                    <a class="col-md-6 p-2" ng-class="(browserName == 'safari') ? '' : 'd-md-none'" href="SPageNavigator/ym_khc_donate_applepay.html?FR_ID={{frId}}&amp;mfc_pref=T&amp;PROXY_ID={{consId}}&amp;PROXY_TYPE=20" class="applepay ">
                      <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/applepay-button.png" alt="Donate using ApplePay">
                    </a>
                    <a class="col-md-6 p-2 d-md-none" href="SPageNavigator/ym_khc_donate_venmo.html?FR_ID={{frId}}&amp;mfc_pref=T&amp;PROXY_ID={{consId}}&amp;PROXY_TYPE=20" class="venmo">
                      <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/venmo-button.png" alt="Donate using Venmo">
                    </a>
                    <a class="col-md-6 p-2" href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}&amp;paypal=true">
                      <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/paypal-button.png" alt="Donate using Paypal">
                    </a>
                  </div>
                </div>
              </div>
              <div id="ym-pc-dashboard-company-panel--student" aria-label="School Progress" ng-if="dashboardStudentPageType == 'company'" ng-cloak>
                <div class="ym-pc-dashboard-section-header">
                  <h3 class="h5 text-start"> Fundraising - My School Progress </h3>
                </div>
                <div class="ym-progress__thermometer m-0 mw-100" name="School Progress Bar" aria-label="{{companyProgress.percent}} percent of fundraising progress" aria-valuetext="{{companyProgress.percent}} percent of fundraising progress" role="progressbar" aria-valuenow="{{companyProgress.percent}}" aria-valuemin="0" aria-valuemax="100">
                  <div class="ym-progress__thermometer--fill" ng-style="{'width': companyProgress.percent + '%'}"></div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="col-4 text-start">
                    <strong>
                      <span ng-bind-html="companyProgress.raisedFormatted"></span>
                    </strong> raised
                  </div>
                  <div class="col-4 text-center">
                    {{companyProgress.percent}}%
                  </div>
                  <div class="col-4 text-end">
                    <div ng-if="companyProgress.goalFormatted && companyProgress.goalFormatted != '$0'" ng-cloak>
                      <strong>
                        <span ng-bind-html="companyProgress.goalFormatted"></span>
                      </strong> goal
                    </div>
                  </div>
                </div>
              </div>
              <div class="ym-pc-dashboard-page-type d-flex justify-content-between align-items-center mt-3">
                <div class="col-4 text-center" ng-class="{'active': dashboardStudentPageType == 'personal'}">
                  <a href="" ng-click="toggleStudentPageType('personal')" role="tab" aria-controls="ym-pc-dashboard-update-personal-panel">
                    <span class="fa fa-angle-left fw-bold"></span>
                  </a>
                </div>
                <div class="col-4 text-center">
                  <span class="fa fa-circle" ng-class="{'active': dashboardStudentPageType == 'personal'}"></span> &nbsp; <span class="fa fa-circle" ng-class="{'active': dashboardStudentPageType == 'company'}"></span>
                </div>
                <div class="col-4 text-center" ng-class="{'active': dashboardStudentPageType == 'company'}">
                  <a href="" ng-click="toggleStudentPageType('company')" role="tab" aria-controls="ym-pc-dashboard-update-school-panel">
                    <span class="fa fa-angle-right fw-bold"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="ym-pc-dashboard-progress-section__column event-secondary-medium p-3 h-100">
            <div class="ym-pc-dashboard-progress-box">
              <h3 class="h5"> My Page </h3>
              <p> Personalize your fundraising page to share why raising funds to save lives is important to you. </p>
              <div class="text-center mb-5">
                <a class="btn btn-md-wide btn-primary" ng-href="TR?fr_id={{frId}}&amp;pg=personal&amp;px={{consId}}">
                  <strong> View and Edit Your Page </strong>
                </a>
                <button type="button" class="btn btn-md-wide btn-primary" aria-label="Edit Personal Page URL" ng-click="editPersonalUrl()">
                  <span class="fa fa-share-alt"></span>
                </button>
              </div>
              <div class="ym-activity-url">
                <p class="small">
                  <span ng-bind-html="personalPageUrl"></span>
                  <button type="button" class="btn btn-md-wide btn-primary" aria-label="Edit Personal Page URL" ng-click="editPersonalUrl()">
                    <span class="fa fa-pencil"></span>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-spread-word-section p-0" aria-label="Spreading the Word">
      <div class="ym-pc-dashboard-section-header">
        <h2 class="h3"> Spread the Word </h2>
      </div>
      <div class="ym-pc-dashboard-spread-options d-flex justify-content-between flex-wrap gap-4">
        <div class="col event-secondary-medium p-3">
          <div class="ym-pc-dashboard-section-header text-start">
            <h3 class="h5"> Go Mobile </h3>
          </div>
          <p class="text-start"> Manage your fundraising on the go with the AHA Schools app. </p>
          <div class="ym-pc-dashboard-mobile-downloads">
            <a href="https://itunes.apple.com/us/app/ym-primary/id548389448?mt=8" target="_blank" title="Download the iPhone App">
              <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/youth-markets/image/apple-store-logo.png" alt="Download the iPhone App">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.aha_jump.android.communicator&amp;hl=en" target="_blank" title="Download the Android App">
              <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/youth-markets/image/google-play-logo.png" alt="Download the Android App">
            </a>
          </div>
        </div>
        <div class="col event-secondary-medium p-3">
          <div class="d-flex justify-content-between gap-3">
            <div class="col">
              <h3 class="h5">Personal QR Code</h3>
              <p>Share your personal QR Code to spread the word about your fundraising efforts and share your story!</p>
            </div>
            <div class="col">
              <div id="nclvs_personal_page" client_id="ahayouthmarket" cons_id="{{consId}}" event_id="{{frId}}"></div>
            </div>
          </div>
        </div>
    </section>
  </div>
  <div class="coordinator-hq" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && location != '/dashboard-student'" ng-cloak>
    <section class="ym-pc-dashboard-coordinator-school-achievements-section event-secondary-medium mb-3" aria-label="Years School Participated">
      <div class="ym-pc-dashboard-coordinator-students-box p-3 text-start" ng-if="companyInfo.participantCount" ng-cloak>
        <div class="ym-pc-dashboard-section-header">
          <h3 class="h5 text-start"> My School Achievements </h2>
        </div>
        <div class="d-md-flex justify-content-between flex-wrap gap-4">
          <div class="col">
            <div class="ym-pc-dashboard-coordinator-daily-challenges">
              <div class="schoolStatusTitle"> Daily Challenges </div>
              <p class="students-challenge1">
                <strong>
                  {{activity1amt|number}}
                </strong> student <span ng-if="activity1amt > 1 || activity1amt == 0">s are</span>
                <span ng-if="activity1amt == 1">is</span> being kind
              </p>
              <p class="students-challenge2">
                <strong>
                  {{activity2amt|number}}
                </strong> student <span ng-if="activity2amt > 1 || activity2amt == 0">s are</span>
                <span ng-if="activity2amt == 1">is</span> being active
              </p>
              <p class="students-challenge3">
                <strong>
                  {{schoolPlan.CountOfStudentsCompletingFinnsMission|number}}
                </strong> student <span ng-if="schoolPlan.CountOfStudentsCompletingFinnsMission > 1 || schoolPlan.CountOfStudentsCompletingFinnsMission == 0">s</span> completed Finn's&nbsp;Mission
              </p>
            </div>
            <div class="ym-pc-dashboard-coordinator-create-message">
              <div class="schoolStatusTitle"> School Achievement </div>
              <p class="students-registered d-none">
                <strong>
                  {{companyInfo.participantCount|number}}
                </strong> student <span ng-if="companyInfo.participantCount > 1 || activity1amt == 0">s are</span>
                <span ng-if="companyInfo.participantCount == 1">is</span> registered
              </p>
              <p class="students-fundraising">
                <strong>
                  {{companyParticipants.totalFundraisers|number}}
                </strong> student <span ng-if="companyParticipants.totalFundraisers > 1 || companyParticipants.totalFundraisers == 0">s</span> fundraising online
              </p>
              <div ng-if="schoolBadgesRegistrations.length > 0" ng-cloak>
                <p class="students-registered-online">
                  <span ng-if="studentRegGoal && studentRegGoal != 0" ng-cloak> Keep recruiting to meet your goal of <strong>
                      {{studentRegGoal|number}}
                    </strong> students! </span>
                  <span ng-if="schoolStudentRegOnline && schoolStudentRegOnline != 0" ng-cloak>
                    <strong>
                      {{schoolStudentReg|number}}
                    </strong> of those <strong>
                      {{schoolStudentRegOnline|number}}
                    </strong> students have registered online. </span>
                </p>
                <div class="school-badges">
                  <div class="ym-pc-dashboard-school-badges-box d-flex flex-wrap justify-content-center">
                    <div id="ym-pc-dashboard-school-registration-badges-panel--school" aria-label="School Registration Badges">
                      <div class="ym-badges__item" ng-repeat="schoolBadge in schoolBadgesRegistrations" ng-cloak>
                        <img class="img-responsive" ng-src="{{schoolBadge.image_url}}" alt="{{schoolBadge.image_name}}" tabindex="0">
                        <div class="text">
                          {{schoolBadge.text}}
                        </div>
                      </div>
                    </div>
                    <div id="ym-pc-dashboard-school-fundraising-badges-panel--school" aria-label="School Fundraising Badges">
                      <div class="ym-badges__item" ng-repeat="schoolBadge in schoolBadgesFundraising" ng-cloak>
                        <img class="img-responsive" ng-src="{{schoolBadge.image_url}}" alt="{{schoolBadge.image_name}}" tabindex="0">
                        <div class="text">
                          {{schoolBadge.text}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                <strong> Compose emails </strong> to friends and family to come visit your fundraising page.
              </p>
              <a class="btn btn-md-wide btn-primary" ng-href="{{baseUrl}}#/email">
                <strong> Send Emails </strong>
              </a>
            </div>
          </div>
          <div class="col">
            <div id="ym-pc-dashboard-company-panel--coordinator">
              <div class="ym-pc-dashboard-progress-box">
                <div id="ym-pc-dashboard-company-panel--student" aria-label="School Progress">
                  <div class="ym-pc-dashboard-section-header">
                    <h3 class="h5 text-start"> Fundraising - My School Progress </h3>
                  </div>
                  <div class="ym-progress__thermometer m-0 mw-100" name="School Progress Bar" aria-label="{{companyProgress.percent}} percent of fundraising progress" aria-valuetext="{{companyProgress.percent}} percent of fundraising progress" role="progressbar" aria-valuenow="{{companyProgress.percent}}" aria-valuemin="0" aria-valuemax="100">
                    <div class="ym-progress__thermometer--fill" ng-style="{'width': companyProgress.percent + '%'}"></div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="col-4 text-start">
                      <strong>
                        <span ng-bind-html="companyProgress.raisedFormatted"></span>
                      </strong> raised
                    </div>
                    <div class="col-4 text-center">
                      {{companyProgress.percent}}%
                    </div>
                    <div class="col-4 text-end">
                      <div ng-if="companyProgress.goalFormatted && companyProgress.goalFormatted != '$0'" ng-cloak>
                        <strong>
                          <span ng-bind-html="companyProgress.goalFormatted"></span>
                        </strong> goal
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-coordinator-progress-section mb-4" aria-label="Fundraising Progress Meters">
      <div class="d-md-flex justify-content-between flex-wrap gap-4">
        <div class="col">
          <div class="event-secondary-medium p-3 h-100">
            <div class="ym-event-box">
              <h3 class="h5 clearfix"> Manage Tools </h3>
              <p> Check out the reports page to see which students have completed challenges and who has earned donations. </p>
              <p style="color:#c10e21" ng-show="!hasOOTDashboard" ng-scope> Manage your event tool is not currently available. Please try again later. </p>
              <div class="ym-activity-box-cta" ng-show="hasOOTDashboard" ng-scope>
                <a class="btn btn-md-wide btn-primary" ng-href="https://khc.staging.ootqa.org/coordinator/login/{{frId}}/{{authToken}}/{{sessionCookie}}" target="_blank" ng-if="tablePrefix == 'heartdev'" ng-cloak>
                  <strong> View Reports </strong>
                </a>
                <a class="btn btn-md-wide btn-primary" ng-href="https://khc.staging.ootqa.org/coordinator/login/{{frId}}/{{authToken}}/{{sessionCookie}}" target="_blank" ng-if="tablePrefix == 'heartnew'" ng-cloak>
                  <strong> View Reports </strong>
                </a>
                <a class="btn btn-md-wide btn-primary" ng-href="https://kidsheartchallenge.heart.org/coordinator/login/{{frId}}/{{authToken}}/{{sessionCookie}}" target="_blank" ng-if="tablePrefix == 'heart'" ng-cloak>
                  <strong> View Reports </strong>
                </a>
              </div>
            </div>
            <div class="ym-event-box--coordinator-prizes" ng-show="hasOOTDashboard" ng-scope>
              <p> Visit our Thank-You Gift portal to manage and order gifts for your students. </p>
              <div class="ym-activity-box-cta">
                <a class="btn btn-md-wide btn-primary" ng-href="https://khc.staging.ootqa.org/coordinator/login/{{frId}}/{{authToken}}/{{sessionCookie}}" target="_blank" ng-if="tablePrefix == 'heartdev'" ng-cloak>
                  <strong> Thank-You Gifts </strong>
                </a>
                <a class="btn btn-md-wide btn-primary" ng-href="https://khc.staging.ootqa.org/coordinator/login/{{frId}}/{{authToken}}/{{sessionCookie}}" target="_blank" ng-if="tablePrefix == 'heartnew'" ng-cloak>
                  <strong> Thank-You Gifts </strong>
                </a>
                <a class="btn btn-md-wide btn-primary" ng-href="https://kidsheartchallenge.heart.org/coordinator/login/{{frId}}/{{authToken}}/{{sessionCookie}}" target="_blank" ng-if="tablePrefix == 'heart'" ng-cloak>
                  <strong> Thank-You Gifts </strong>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="ym-pc-dashboard-progress-section__column event-secondary-medium p-3">
            <div class="ym-pc-dashboard-progress-box">
              <h3 class="h5"> School Page </h3>
              <p> Edit your pages to encourage students and parents to join and donate! </p>
              <div class="text-center mb-5">
                <a class="btn btn-md-wide btn-primary" ng-href="TR?fr_id={{frId}}&amp;pg=company&amp;company_id={{participantRegistration.companyInformation.companyId}}">
                  <strong> View and Edit School Page </strong>
                </a>
                <button type="button" class="btn btn-md-wide btn-primary" aria-label="Edit School Page URL" ng-click="editCompanyUrl()">
                  <span class="fa fa-share-alt"></span>
                </button>
              </div>
              <div class="ym-activity-url">
                <p class="small">
                  <span ng-bind-html="companyPageUrl"></span>
                  <button type="button" class="btn btn-md-wide btn-primary" aria-label="Edit School Page URL" ng-click="editCompanyUrl()">
                    <span class="fa fa-pencil"></span>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-coordinator-progress-section mb-4" aria-label="Fundraising Progress Meters">
      <div class="d-md-flex justify-content-between flex-wrap gap-4">
        <div class="col">
          <div class="event-secondary-medium p-3 h-100">
            <div class="ym-pc-dashboard-qrcode d-xs-none d-sm-none d-md-block" ng-cloak>
              <div class="ym-pc-dashboard-section-header">
                <div class="schoolQRCode text-center"> School QR Code </div>
                <p> Click the Copy button to share QR code onto documents, social media and websites. </p>
                <div id="qrcode" load-qrcode="{{secureDomain}}/site/TR?pg=company&amp;fr_id={{frId}}&amp;company_id={{companyId}}"></div>
                <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/khc-logo-qrcode.png" class="qrcode-logo d-none">
                <button type="button" class="btn btn-md-wide btn-primary" id="copyable" role="button" copy-qrcode>
                  <strong> Copy </strong>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col event-secondary-medium p-3">
          <div class="ym-pc-dashboard-section-header text-start">
            <h3 class="h5"> Go Mobile </h3>
          </div>
          <p class="text-start"> Manage your fundraising on the go with the AHA Schools app. </p>
          <div class="ym-pc-dashboard-mobile-downloads">
            <a href="https://itunes.apple.com/us/app/ym-primary/id548389448?mt=8" target="_blank" title="Download the iPhone App">
              <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/youth-markets/image/apple-store-logo.png" alt="Download the iPhone App">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.aha_jump.android.communicator&amp;hl=en" target="_blank" title="Download the Android App">
              <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/youth-markets/image/google-play-logo.png" alt="Download the Android App">
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-coordinator-progress-section mb-4" aria-label="Fundraising Progress Meters">
      <div class="d-md-flex justify-content-between flex-wrap gap-4">
        <div class="col">
          <div class="ym-pc-dashboard-message event-secondary-medium p-3 h-100">
            <div class="schoolCreateMessage text-center" ng-if="coordinatorMessage.text == ''" ng-cloak>
              <p> Create an <strong> encouraging message </strong> for your students in their Headquarters. </p>
              <button type="button" class="btn btn-md-wide btn-primary" ng-click="editCoordinatorMessage()">
                <strong> Create Message </strong>
              </button>
            </div>
            <div class="schoolCreateMessage text-center" ng-if="coordinatorMessage.text && coordinatorMessage.text != ''" ng-cloak>
              <p> Update your <strong> student message </strong> : <br />
                <span class="coordinatorMessage"> "{{ coordinatorMessage.text.length > 90 ? coordinatorMessage.text.substring(0,90)+"..." : coordinatorMessage.text }}" </span>
              </p>
              <button type="button" class="btn btn-md-wide btn-primary" ng-click="editCoordinatorMessage()">
                <strong> Update Message </strong>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="ym-pc-dashboard-student-view event-secondary-medium p-3 h-100">
            <h3 class="h5 clearfix"> Student View </h3>
            <div class="clearfix">
              <div class="ym-pc-student-view-text">
                <div class="ym-pc-student-view-image">
                  <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/fy23/student-view-2023.png" alt="Student View">
                </div>
                <p> Use the "Student View" to show your students all of the great tools and games in their Headquarters and encourage them to fundraise! </p>
                <div>
                  <a class="btn btn-md-wide btn-primary" ng-href="{{baseUrl}}#/dashboard-student">
                    <strong> Student View </strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ym-pc-dashboard-coordinator-progress-section mb-4" aria-label="Fundraising Progress Meters">
      <div class="d-md-flex justify-content-between flex-wrap gap-4">
        <div class="col">
          <div class="ym-pc-dashboard-progress-section__column event-secondary-medium p-3 h-100">
            <div class="ym-pc-dashboard-progress-box">
              <h3 class="h5"> My Page </h3>
              <p> Personalize your fundraising page to share why raising funds to save lives is important to you. </p>
              <div class="text-center mb-5">
                <a class="btn btn-md-wide btn-primary" ng-href="TR?fr_id={{frId}}&amp;pg=personal&amp;px={{consId}}">
                  <strong> View and Edit Your Page </strong>
                </a>
                <button type="button" class="btn btn-md-wide btn-primary" aria-label="Edit Personal Page URL" ng-click="editPersonalUrl()">
                  <span class="fa fa-share-alt"></span>
                </button>
              </div>
              <div class="ym-activity-url">
                <p class="small">
                  <span ng-bind-html="personalPageUrl"></span>
                  <button type="button" class="btn btn-md-wide btn-primary" aria-label="Edit Personal Page URL" ng-click="editPersonalUrl()">
                    <span class="fa fa-pencil"></span>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="ym-pc-dashboard-personal-fundraising event-secondary-medium p-3 h-100">
            <div class="ym-pc-dashboard-section-header">
              <h3 class="h5 text-start"> Fundraising - Personal Progress </h3>
            </div>
            <div class="ym-progress__thermometer m-0 mw-100" name="Personal Progress Bar" aria-label="{{participantProgress.percent}} percent of fundraising progress" aria-valuetext="{{participantProgress.percent}} percent of fundraising progress" role="progressbar" aria-valuenow="{{participantProgress.percent}}" aria-valuemin="0" aria-valuemax="100">
              <div class="ym-progress__thermometer--fill" ng-style="{'width': participantProgress.percent + '%'}"></div>
            </div>
            <div class="ym-progress-related d-flex justify-content-between flex-wrap mt-0 mb-3">
              <div class="col-4">
                <strong>
                  <span ng-bind-html="participantProgress.raisedFormatted"></span>
                </strong> raised
              </div>
              <div class="col-4 text-center">
                {{participantProgress.percent}}%
              </div>
              <div class="col-4 text-end">
                <div ng-if="participantProgress.goalFormatted && participantProgress.goalFormatted != '$0'" ng-cloak>
                  <strong>
                    <span ng-bind-html="participantProgress.goalFormatted"></span>
                  </strong> goal
                </div>
                <a href="" ng-click="editPersonalGoal()" class="ym-progress-update-goal">
                  <strong> Update Personal Goal </strong>
                </a>
                <div ng-if="participantPrevProgress.raisedFormatted" ng-cloak>
                  <strong>
                    <span ng-bind-html="participantPrevProgress.raisedFormatted"></span>
                  </strong> raised last year
                </div>
              </div>
            </div>
            <div class="ym-progress-donate text-center">
              <a class="btn btn-primary" href="#paymentSelType" data-bs-toggle="collapse">
                <strong> Donate to Personal Page </strong>
              </a> &nbsp;&nbsp; <a class="btn btn-primary btn-white" ng-href="{{baseUrl}}#/reports" title="Click to view your donation reports">
                <strong> View Donors </strong>
              </a> &nbsp;&nbsp; <button type="button" class="btn btn-md-wide btn-primary" ng-click="postFeedbackMessage()">
                <strong> Provide Feedback </strong>
              </button>
            </div>
            <div id="paymentSelType" class="collapse">
              <h7> How would you like to donate? </h7>
              <div class="d-flex justify-content-between flex-wrap align-items-center text-center">
                <a class="col-md-6 p-2" href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}">
                  <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/credit-card-button.png" alt="Donate using Credit Card">
                </a>
                <a class="col-md-6 p-2" href="SPageNavigator/ym_khc_donate_amazon.html?FR_ID={{frId}}&amp;mfc_pref=T&amp;PROXY_ID={{consId}}&amp;PROXY_TYPE=20" class="amazon">
                  <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/amazon-button.png" alt="Donate using Amazon">
                </a>
                <a class="col-md-6 p-2" href="SPageNavigator/ym_khc_donate_googlepay.html?FR_ID={{frId}}&amp;mfc_pref=T&amp;PROXY_ID={{consId}}&amp;PROXY_TYPE=20" class="googlepay">
                  <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/googlepay-button.png" alt="Donate using Google Pay">
                </a>
                <a class="col-md-6 p-2" ng-class="(browserName == 'safari') ? '' : 'd-md-none'" href="SPageNavigator/ym_khc_donate_applepay.html?FR_ID={{frId}}&amp;mfc_pref=T&amp;PROXY_ID={{consId}}&amp;PROXY_TYPE=20" class="applepay ">
                  <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/applepay-button.png" alt="Donate using ApplePay">
                </a>
                <a class="col-md-6 p-2 d-md-none" href="SPageNavigator/ym_khc_donate_venmo.html?FR_ID={{frId}}&amp;mfc_pref=T&amp;PROXY_ID={{consId}}&amp;PROXY_TYPE=20" class="venmo">
                  <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/venmo-button.png" alt="Donate using Venmo">
                </a>
                <a class="col-md-6 p-2" href="Donation2?df_id={{eventInfo.donationFormId}}&amp;FR_ID={{frId}}&amp;PROXY_TYPE=20&amp;PROXY_ID={{consId}}&amp;paypal=true">
                  <img class="img-fluid" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/paypal-button.png" alt="Donate using Paypal">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
