<div cg-busy="emailPromises">

  <div class="row" ng-show="usePcEmail">
    <div class="col-sm-4 col-md-3">
      <div class="d-xs-block d-sm-none">
        <div class="btn-group ng-pc-nav-btn-group" uib-dropdown>
          <button type="button" class="btn btn-secondary form-control" uib-dropdown-toggle>
            <strong>Compose</strong> <span class="caret"></span>
          </button>
          <ul class="list-unstyled dropdown-menu" uib-dropdown-menu>
            <li>
              <a ng-href="{{baseUrl}}#/email/compose">
                Compose
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/draft/list">
                <span class="badge">{{messageCounts.drafts}}</span>
                Drafts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/sentMessage/list">
                <span class="badge">{{messageCounts.sentMessages}}</span> 
                Sent Messages
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
                <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
                All Contacts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
                <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
                Never Emailed
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
                Needs Follow-Up
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
                Unthanked Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
                Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
                Non-Donors
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list">
                <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
                School Participants
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_new_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                New to Kids Heart Challenge
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_weekly_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                New Registrations
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_0_dollar_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                $0 Participants
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_250_dollar_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                $250 Participants
              </a>
            </li>


            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_mission_partial/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Finn's Mission Not Complete
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_mission_complete/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Finn's Mission Not Complete
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_challenge_half/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                50% of School Challenge
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_challenge_complete/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Met School Challenge
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prev1FrId && prev1FrId != ''" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Past School Participants
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-xs-none d-sm-block">
        <a disabled class="btn btn-secondary form-control">
          <strong>Compose</strong>
        </a>
        <div class="list-group list-group-flush ng-pc-nav-list-group">
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/draft/list">
            <span class="badge">{{messageCounts.drafts}}</span> 
            Drafts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/sentMessage/list">
            <span class="badge">{{messageCounts.sentMessages}}</span> 
            Sent Messages
          </a>
        </div>
        <div class="list-group list-group-flush ng-pc-nav-list-group">
          <h2 class="h5 list-group-item-heading">
            Contacts
          </h2>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
            <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
            All Contacts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
            <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
            Never Emailed
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
            Needs Follow-Up
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
            Unthanked Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
            Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
            Non-Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
            School Participants
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_new_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            New to Kids Heart Challenge
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_weekly_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            New Registrations
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_0_dollar_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            $0 Participants
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_250_dollar_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            $250 Participants
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_mission_partial/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Finn's Mission Not Complete
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_mission_complete/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Completed Finn's Mission
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_challenge_half/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            50% of School Challenge
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_challenge_complete/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Met School Challenge
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prev1FrId && prev1FrId != ''" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Past School Participants
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div uib-alert class="alert-danger" role="alert" ng-if="sendEmailError" ng-cloak>
        <span ng-bind-html="sendEmailError"></span>
      </div>
      <div uib-alert class="alert-success" role="alert" ng-if="sendEmailSuccess" ng-cloak>
        Your email has been sent.
      </div>
      <form name="emailComposerForm" method="POST" novalidate ng-submit="previewEmail()">
        <div class="form-group mb-2">
          <label for="emailComposer-recipients" class="sr-only">Recipients:</label>
          <textarea class="form-control" id="emailComposer-recipients" name="recipients" ng-model="emailComposer.ng_recipients" placeholder="Recipients (separate multiple email addresses with a comma)" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
        </div>
        <div class="form-group mb-2" ng-if="suggestedMessages.length > 0">
          <label for="emailComposer-suggested_message_id" class="sr-only">Sample Message:</label>
          <select class="form-control input-lg" id="emailComposer-suggested_message_id" name="suggested_message_id" ng-model="emailComposer.suggested_message_id" ng-change="loadSuggestedMessage()">
            <option value="">Choose a sample message</option>
            <option ng-repeat="suggestedMessage in suggestedMessages | orderBy:'-sortOrder':true" value="{{suggestedMessage.messageId}}">
              {{suggestedMessage.name}}
            </option>
            <!-- NOTE the optgroups below should be commented out when restoring suggested message behavior
            <optgroup label="Build Your Team" ng-if="suggestedMessageCountByType.RECRUIT > 0">
              <option value="{{suggestedMessage.messageId}}" ng-repeat="suggestedMessage in suggestedMessages|filter:{messageType: 'RECRUIT'}">
                {{suggestedMessage.name}}
              </option>
            </optgroup>
            <optgroup label="Ask for Donations" ng-if="suggestedMessageCountByType.SOLICIT > 0">
              <option value="{{suggestedMessage.messageId}}" ng-repeat="suggestedMessage in suggestedMessages|filter:{messageType: 'SOLICIT'}">
                {{suggestedMessage.name}}
              </option>
            </optgroup>
            <optgroup label="Say Thank You" ng-if="suggestedMessageCountByType.THANKS > 0">
              <option value="{{suggestedMessage.messageId}}" ng-repeat="suggestedMessage in suggestedMessages|filter:{messageType: 'THANKS'}">
                {{suggestedMessage.name}}
              </option>
            </optgroup>
            <optgroup label="Other" ng-if="suggestedMessageCountByType.OTHER > 0">
              <option value="{{suggestedMessage.messageId}}" ng-repeat="suggestedMessage in suggestedMessages|filter:{messageType: 'OTHER'}">
                {{suggestedMessage.name}}
              </option>
            </optgroup>  -->
          </select>
        </div>
        
        <div class="form-group mb-2">
          <label for="emailComposer-subject" class="sr-only">Subject</label>
          <input type="text" class="form-control input-lg" id="emailComposer-subject" name="subject" ng-model="emailComposer.subject" placeholder="Subject" autocorrect="on" autocapitalize="on" spellcheck="true">
        </div>
        <p><em>To add a photo - Click the photo icon and add image URL and click OK, or drag and drop a photo into body of email and resize as needed. Click image to resize and choose 25%.</em></p>
        <div class="form-group mb-2" ng-if="personalizedSalutationEnabled && false">
          <div class="checkbox" custom-checkbox ng-class="{'checked': emailComposer.prepend_salutation}">
            <label>
              <input type="checkbox" ng-model="emailComposer.prepend_salutation"> Include personalized greeting
            </label>
          </div>
        </div>
        <div class="form-group mb-2">
          <label for="taHtmlElement{{emailComposer.serial}}" class="sr-only">Email message entry:</label>
          <div text-angular class="message-body" name="message_body" ng-model="emailComposer.message_body" ta-toolbar="{{textEditorToolbar}}" ta-text-editor-class="border-around" ta-html-editor-class="border-around" serial="{{emailComposer.serial}}"></div>
        </div>
        <div class="form-group clearfix">
          <div class="pull-left">
            <button type="submit" class="btn btn-primary">
              <strong>Preview &amp; Send</strong>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row" ng-show="!usePcEmail">
    <div class="col-sm-4 col-md-3">
      <div class="d-xs-block d-sm-none">
        <div class="btn-group ng-pc-nav-btn-group" uib-dropdown>
          <button type="button" class="btn btn-secondary form-control" uib-dropdown-toggle>
            <strong>Compose</strong> <span class="caret"></span>
          </button>
          <ul class="list-unstyled dropdown-menu" uib-dropdown-menu>
            <!-- <li>
              <a ng-href="{{baseUrl}}#/email/compose">
                Compose
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/draft/list">
                <span class="badge">{{messageCounts.drafts}}</span>
                Drafts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/message/sentMessage/list">
                <span class="badge">{{messageCounts.sentMessages}}</span> 
                Sent Messages
              </a>
            </li> -->
            <li class="divider"></li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
                <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
                All Contacts
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
                <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
                Never Emailed
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
                Needs Follow-Up
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
                Unthanked Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
                <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
                Donors
              </a>
            </li>
            <li>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
                <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
                Non-Donors
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list">
                <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
                School Participants
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_new_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                New to Kids Heart Challenge
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_weekly_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                New Registrations
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_0_dollar_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                $0 Participants
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_250_dollar_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                $250 Participants
              </a>
            </li>


            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_mission_partial/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Finn's Mission Not Complete
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_mission_complete/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Finn's Mission Not Complete
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_challenge_half/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                50% of School Challenge
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_challenge_complete/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Met School Challenge
              </a>
            </li>
            <li ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prev1FrId && prev1FrId != ''" ng-cloak>
              <a ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list">
                <span class="badge"><span class="fa fa-star"></span></span>
                Past School Participants
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-xs-none d-sm-block">
        <!-- NOTE uncomment the compose button when restoring suggested message behavior
        <a disabled class="btn btn-secondary form-control">
          <strong>Compose</strong>
        </a> -->
        <!-- <div class="list-group list-group-flush ng-pc-nav-list-group">
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/draft/list">
            <span class="badge">{{messageCounts.drafts}}</span> 
            Drafts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/message/sentMessage/list">
            <span class="badge">{{messageCounts.sentMessages}}</span> 
            Sent Messages
          </a>
        </div> -->
        <div class="list-group list-group-flush ng-pc-nav-list-group">
          <h2 class="h5 list-group-item-heading">
            Contacts
          </h2>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_all/list">
            <span class="badge">{{contactCounts.email_rpt_show_all}}</span>
            All Contacts
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_never_emailed/list">
            <span class="badge">{{contactCounts.email_rpt_show_never_emailed}}</span>
            Never Emailed
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors_followup/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors_followup}}</span>
            Needs Follow-Up
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_unthanked_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_unthanked_donors}}</span>
            Unthanked Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_donors/list">
            <span class="badge">{{contactCounts.email_rpt_show_donors}}</span>
            Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_nondonors/list">
            <span class="badge">{{contactCounts.email_rpt_show_nondonors}}</span>
            Non-Donors
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_rpt_show_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge">{{contactCounts.email_rpt_show_company_coordinator_participants}}</span>
            School Participants
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_new_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            New to Kids Heart Challenge
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_weekly_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            New Registrations
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_0_dollar_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            $0 Participants
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_250_dollar_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            $250 Participants
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_mission_partial/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Finn's Mission Not Complete
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_mission_complete/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Completed Finn's Mission
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_challenge_half/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            50% of School Challenge
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_company_coordinator_challenge_complete/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Met School Challenge
          </a>
          <a class="list-group-item" ng-href="{{baseUrl}}#/email/contacts/email_custom_rpt_show_past_company_coordinator_participants/list" ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true' && prev1FrId && prev1FrId != ''" ng-cloak>
            <span class="badge"><span class="fa fa-star"></span></span>
            Past School Participants
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div uib-alert class="alert-danger" role="alert" ng-if="sendEmailError" ng-cloak>
        <span ng-bind-html="sendEmailError"></span>
      </div>
      <div uib-alert class="alert-success" role="alert" ng-if="sendEmailSuccess" ng-cloak>
        Your email has been sent.
      </div>
      <div>
        <p><strong>*NEW* - How to send emails:</strong></p>

        <ol>
          <li>
            Select the contact list you want to email.
          </li>
          <li>
            Select the message you want to send.
          </li>
          <li>
            Click “Copy Recipients” and paste the list into the BCC line of a new email in your school email account.
          </li>
          <li>
            Click “Copy Message” and paste it into the body of your new email.
          </li>
          <li>
            Enter subject in subject line.
          </li>
          <li>
            Send!
          </li>
        </ol>

      </div>
      <form name="emailComposerForm" method="POST" novalidate ng-submit="previewEmail()">
        <div class="form-group mb-2">
          <label for="emailComposer-recipients" class="sr-only">Recipients:</label>
          <textarea class="form-control" id="emailComposer-recipients" name="recipients" ng-model="emailComposer.ng_recipients" placeholder="Recipients (separate multiple email addresses with a comma)" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
        </div>
        
        <div class="form-group mb-2" style="margin-bottom: 30px!important;">
          <label for="emailComposer-suggested_message_id" class="sr-only">Sample Message:</label>
          <select class="form-control input-lg" id="emailComposerMessages" name="messages" ng-model="emailComposer.messages" ng-change="displayMessage()">
              <option value="">Choose a sample message</option>
              <option ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" value="past-parts">Email to Past Participants</option>
              <option ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" value="reminder">Mid-Event Reminder</option>
              <option ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'true'" value="finns-mission">Complete Finn's Mission</option>
              <option ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'false'" value="save-lives">Help Me Save Lives</option>
              <option ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'false'" value="don-reminder">Donation Reminder</option>
              <option ng-if="participantRegistration.companyInformation.isCompanyCoordinator == 'false'" value="don-thanks">Donation Thank You Email</option>
          </select>
        </div>

        <!-- coordinator messages -->
        <div class="email-composer-message" id="past-parts">
          <p><strong>Subject:</strong> Kids Heart Challenge is coming! Have you joined the team?</p>
          <br />
          <div id="past-parts-message">
              Get ready for the American Heart Association's Kids Heart Challenge (KHC)! This year, our school is going on an adventure with the Heart Heroes who will teach us about staying strong in body and mind while helping others with special hearts.
              <br aria-hidden="true">
              <br aria-hidden="true">
              You did such a great job last year we wanted to give you a head start! <a hrf="https://www.heart.org/khc">Sign up today</a> and be the first student to complete Finn's Mission.
              <br aria-hidden="true">
              <br aria-hidden="true">
              Download the Kids Heart Challenge App or visit <a href="https://www.heart.org/khc">heart.org/KHC</a> to register and earn your own BE THE TORCH WRISTBAND so you can help light the way!
              <br aria-hidden="true">
              <br aria-hidden="true">
              Get started on FINN'S MISSION where you and your family can help create a community of lifesavers by learning Hands-Only CPR!
              <br aria-hidden="true">
              <br aria-hidden="true">
              You have been at the heart of our KHC program, and your support will continue to make a big difference in the fight against heart disease and stroke.
              <br aria-hidden="true">
              <br aria-hidden="true">
              Thank you for keeping more hearts beating strong!
              <br aria-hidden="true">
              <br aria-hidden="true">
              Meet this year's Heart Heroes!
              <br aria-hidden="true">
              <br aria-hidden="true">
              <a href="{{secureDomain}}site/TR?fr_id={{frId}}&pg=company&company_id={{participantRegistration.companyInformation.companyId}}">Our School Page</a>
              <br aria-hidden="true">
              {{secureDomain}}site/TR?fr_id={{frId}}&pg=company&company_id={{participantRegistration.companyInformation.companyId}}
          </div>
        </div>
        <div class="email-composer-message" id="reminder">
          <p><strong>Subject:</strong> 3 Things to do Right Now</p>
          <br />
          <div id="reminder-message">
            Kids Heart Challenge (KHC) is going on NOW! Our school is building a team of lifesavers ready to take on Finn’s Mission, learn Hands-Only CPR, and gain a forever skill that will keep our school, community, and families safer.
            <br aria-hidden="true">
            <br aria-hidden="true">
            We make it easy to get started:
            <br aria-hidden="true">
            <br aria-hidden="true">
            <ol>
              <li>
                DOWNLOAD the FREE Kids Heart Challenge App for Apple or Android. Manage your KHC participation from anywhere. You can even use the app to scan any checks you may receive! Send messages out to family & friends for support!
              </li>
              <li>
                COMPLETE <a href="https://d42r08io5j7nw.cloudfront.net/ym_khc_finns_mission.mp4">FINN'S MISSION</a> in your Headquarters, where you and your family can learn life-saving Hands-Only CPR and share the message of heart health with others! Send a personalized ecard, a pre-written email, or share on social media. It only takes a few minutes to learn how to SAVE A LIFE! Earn FINN'S LIFESAVER AWARD when you complete all 8 challenges!
              </li>
              <li>
                COLLECT YOUR OWN HEART HEROES who help remind us to keep our hearts happy and healthy. These are at our school NOW! Earn HEARTY and BREEZE with your first $10 in lifesaving donations! Collect all 6 right away. Get a BONUS MYSTERY GIFT for every $50 you raise to help others!
                <br aria-hidden="true">
                <a href="https://d42r08io5j7nw.cloudfront.net/ym_khc_thank_you_gifts.mp4">Check out all the fun Thank You Gifts you can earn HERE.</a>
              </li>
            </ol>
            When you support KHC, you are helping kids with special hearts. Learn more about how your donations help families just like Jayce “JoJo”.
            <br aria-hidden="true">
            <br aria-hidden="true">
            Thank you for working to keep your mind and heart healthy!
            <br aria-hidden="true">
            <br aria-hidden="true">
            Don't forget: Double your Gift! <a href="http://www.heart.org/matchinggifts">Check to see</a> if your employer will match your donation today! Follow the steps and forward the confirmation to <a href="mailto:matchinggifts@heart.org">matchinggifts@heart.org</a> to have this added to the student's fundraising page.
            <br aria-hidden="true">
            <br aria-hidden="true">
            <a href="{{secureDomain}}site/TR?fr_id={{frId}}&pg=company&company_id={{participantRegistration.companyInformation.companyId}}">Our School Page</a>
            <br aria-hidden="true">
            {{secureDomain}}site/TR?fr_id={{frId}}&pg=company&company_id={{participantRegistration.companyInformation.companyId}}
          </div>
        </div>
        <div class="email-composer-message" id="finns-mission">
          <p><strong>Subject:</strong> Help Your School Complete Finn's Mission</p>
          <br />
          <div id="finns-mission-message">
            Thank you for participating in Kids Heart Challenge (KHC) and for supporting the American Heart Association! <a href="https://d42r08io5j7nw.cloudfront.net/ym_khc_finns_mission.mp4">Finn's Mission</a> is teaching our students and families to move more, be kind, help others, learn the critical lifesaving skill of Hands-Only CPR, and know the warning signs of a stroke.
            <br aria-hidden="true">
            <br aria-hidden="true">
            <a href="https://d42r08io5j7nw.cloudfront.net/ym_khc_finns_story.mp4">Finn</a> was born with a special heart and has been working hard to help raise awareness and support for kids with special hearts just like him. This year, he set a goal to get 1.8 million families to learn Hands-Only CPR, in honor of the 18 procedures he has had. 
            <br aria-hidden="true">
            <br aria-hidden="true">
            Congratulations to those of you who already completed <a href="https://d42r08io5j7nw.cloudfront.net/ym_khc_finns_mission.mp4">Finn's Mission</a>. Who will be the next 18 to help SAVE A LIFE?
            <br aria-hidden="true">
            <br aria-hidden="true">
            Help <a href="https://d42r08io5j7nw.cloudfront.net/ym_khc_finns_story.mp4">Finn</a>, today! It's easy:
            <br aria-hidden="true">
            <br aria-hidden="true">
            <ol>
              <li>
                DOWNLOAD THE FREE KIDS HEART CHALLENGE APP for Apple or Android and COMPLETE <a href="https://d42r08io5j7nw.cloudfront.net/ym_khc_finns_mission.mp4">FINN'S MISSION</a> to put the forever lifesaving skill of Hands-Only CPR into YOUR family's hands. It takes only 2 minutes!
              </li>
              <li>
                Check how close you are to completing <a href="https://d42r08io5j7nw.cloudfront.net/ym_khc_finns_mission.mp4">Finn's Mission</a> by logging into your Headquarters today! Earn Finn's Lifesaver Award when you complete all 8 challenges!
              </li>
            </ol>
            Your support will continue to make a big difference in the fight against heart disease and stroke by assisting families just like <a href="https://d42r08io5j7nw.cloudfront.net/ym_khc_finns_story.mp4">Finn's</a>.
            <br aria-hidden="true">
            <br aria-hidden="true">
            Thank you for being a Heart Hero!!!
            <br aria-hidden="true">
            <br aria-hidden="true">
            Don't forget: Double your Gift! <a href="http://www.heart.org/matchinggifts">Check to see</a> if your employer will match your donation today! Follow the steps and forward the confirmation to <a href="mailto:matchinggifts@heart.org">matchinggifts@heart.org</a> to have this added to the student's fundraising page.
            <br aria-hidden="true">
            <br aria-hidden="true">
            <a href="{{secureDomain}}site/TR?fr_id={{frId}}&pg=company&company_id={{participantRegistration.companyInformation.companyId}}">Our School Page</a>
            <br aria-hidden="true">
            {{secureDomain}}site/TR?fr_id={{frId}}&pg=company&company_id={{participantRegistration.companyInformation.companyId}}
          </div>
        </div>
        <!-- student messages -->
        <div class="email-composer-message" id="save-lives">
          <p><strong>Subject:</strong> Help Me Save Lives</p>
          <br />
          <div id="save-lives-message">
            Want to help students like me live healthier lives?
            <br aria-hidden="true">
            <br aria-hidden="true">
            Now's your chance!
            <br aria-hidden="true">
            <br aria-hidden="true">
            Our school is taking part in an amazing worldwide adventure called Kids Heart Challenge and we're raising funds to support lifesaving research for the American Heart Association! My friends and I are learning about how to keep our hearts and brains healthy. We're moving more with fun activities and meeting kids with special hearts all while raising funds that help people everywhere keep their hearts beating strong. We are having so much fun feeling good and doing good!
            <br aria-hidden="true">
            <br aria-hidden="true">
            Will you support me in helping others by making a donation? Just click on the link below. Your generosity will go a long way.
            <br aria-hidden="true">
            <br aria-hidden="true">
            Thank you for being a Heart Hero!
            <br aria-hidden="true">
            <br aria-hidden="true">
            Don't forget: Double your Gift! <a href="http://www.heart.org/matchinggifts">Check to see</a> if your employer will match your donation today! Follow the steps and forward the confirmation to <a href="mailto:matchinggifts@heart.org">matchinggifts@heart.org</a> to have this added to the student's fundraising page.
            <br aria-hidden="true">
            <br aria-hidden="true">              
            <a href="{{secureDomain}}site/Donation2?df_id={{eventInfo.donationFormId}}&FR_ID={{frId}}&PROXY_TYPE=20&PROXY_ID={{consId}}">Donate Now</a>
            <br aria-hidden="true">
            {{secureDomain}}site/Donation2?df_id={{eventInfo.donationFormId}}&FR_ID={{frId}}&PROXY_TYPE=20&PROXY_ID={{consId}}
          </div>
        </div>
        <div class="email-composer-message" id="don-reminder">
          <p><strong>Subject:</strong> Donation Reminder</p>
          <br />
          <div id="don-reminder-message">
            Hi!
            <br aria-hidden="true">
            <br aria-hidden="true">
            As you know, I'm taking part in the American Heart Association's Kids Heart Challenge. We're learning so much about how to stay active, eat right and be heart healthy for a lifetime.
            <br aria-hidden="true">
            <br aria-hidden="true">
            And we're raising money to fund lifesaving scientific research while making a lifesaving difference for our school, our community and your family!
            <br aria-hidden="true">
            <br aria-hidden="true">
            I hope you'll donate today because every dollar can help save lives. Just click on the link below.
            <br aria-hidden="true">
            <br aria-hidden="true">
            Thank you for helping me to keep more hearts beating strong!
            <br aria-hidden="true">
            <br aria-hidden="true">
            Don't forget: Double your Gift! <a href="http://www.heart.org/matchinggifts">Check to see</a> if your employer will match your donation today! Follow the steps and forward the confirmation to <a href="mailto:matchinggifts@heart.org">matchinggifts@heart.org</a> to have this added to the student's fundraising page.
            <br aria-hidden="true">
            <br aria-hidden="true">              
            <a href="{{secureDomain}}site/Donation2?df_id={{eventInfo.donationFormId}}&FR_ID={{frId}}&PROXY_TYPE=20&PROXY_ID={{consId}}">Donate Now</a>
            <br aria-hidden="true">
            {{secureDomain}}site/Donation2?df_id={{eventInfo.donationFormId}}&FR_ID={{frId}}&PROXY_TYPE=20&PROXY_ID={{consId}}
          </div>
        </div>
        <div class="email-composer-message" id="don-thanks">
          <p><strong>Subject:</strong> Donation Thank You Email</p>
          <br />
          <div id="don-thanks-message">
            You're the best! I'm so grateful for your support of Kids Heart Challenge (KHC) and the American Heart Association's lifesaving mission.
            <br aria-hidden="true">
            <br aria-hidden="true">
            Our school created a team of lifesavers, and I couldn't be more proud! You've supported me, our school and our community. THANK YOU!
            <br aria-hidden="true">
            <br aria-hidden="true">
            To learn more about the American Heart Association and how your gift is helping save lives, go to <a href="http://www.heart.org/schools">www.heart.org/schools</a>.
            <br aria-hidden="true">
            <br aria-hidden="true">
            Don't forget: Double your Gift! <a href="http://www.heart.org/matchinggifts">Check to see</a> if your employer will match your donation today! Follow the steps and forward the confirmation to <a href="mailto:matchinggifts@heart.org">matchinggifts@heart.org</a> to have this added to the student's fundraising page.
            <br aria-hidden="true">
            <br aria-hidden="true">              
            <a href="{{secureDomain}}site/Donation2?df_id={{eventInfo.donationFormId}}&FR_ID={{frId}}&PROXY_TYPE=20&PROXY_ID={{consId}}">Donate Now</a>
            <br aria-hidden="true">
            {{secureDomain}}site/Donation2?df_id={{eventInfo.donationFormId}}&FR_ID={{frId}}&PROXY_TYPE=20&PROXY_ID={{consId}}
          </div>
        </div>

        <div class="form-group clearfix">
          <div class="pull-left">
            <a class="btn btn-primary" id="copy_recipients" href ng-click="copyRecipients('Copy Recipients to Clipboard button'); copyToClipboard()" class="pc_btn">Copy Recipients</a>
            <a class="btn btn-primary" id="copy_messadge" href ng-click="copyMessage('Copy Message to Clipboard button');" class="pc_btn">Copy Message</a>
          </div>
        </div>
      </form>
      <div class="my-3" ng-if="AmountRaised >= 5 || returningStudent" ng-cloak>
        <a ng-href="{{baseUrl}}#/email/classic">Click here to use HQ Email Tools</a>
      </div>
    </div>
  </div>


</div>
