   <!-- <em class="text-center d-block">Scan the vumarks to see a special video in the KHC App under games tab.</em> -->
   <section class="ym-pc-dashboard-standard-gifts-section" aria-label="My Gifts">
      <h2 class="text-start h3">
        Congratulations, you have raised {{participantProgress.raisedFormatted}} and earned <span ng-bind-html="giftsEarned"></span> of <span ng-bind-html="gifts.length"></span> thank-you gifts.
      </h2>   
      <p class="text-start">
        Please allow 15 minutes for the system to update your donation.<br/>Please note that prizes can take up to 6 weeks to be delivered after the event has completed.
      </p>
      <div class="ym-pc-dashboard-standard-gifts-icons" role="list" aria-label="Gifts">
        <div class="ym-pc-dashboard-standard-gifts-icon" ng-class="{'not-earned': !gift.earned}" ng-repeat="gift in gifts" role="listitem" aria-label="{{gift.name}}" ng-cloak>
           <a role="button" href="" ng-click="showPrize(gift.gift_id,gift.name,gift.earned,'')">
	      <div class="position-relative">
		<img class="img-fluid" ng-src="{{gift.image}}" alt="{{gift.name}}">
		<!--
		<img ng-if="standardGift.vucheck && standardGift.prize_status" class="vucheck-image position-absolute bottom-0 end-0 w-25" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/prizes2023/{{standardGift.prize_sku}}-vucheck.png" alt="{{standardGift.prize_label}} Vucheck" ng-cloak>
		<div class="play-circle"><i class="fa fa-play"></i></div> 
		-->
	      </div>
              <div class="ym-pc-dashboard-standard-gift-{{(gift.earned) ? 'earned' : 'notearned'}}" ng-if="gift.earned" aria-label="{{(gift.earned) ? 'Earned' : 'Unearned'}}">
                 <h4 class="gift-title" ng-bind-html="gift.name"></h4>
                 <div class="gift-subtitle1"><span ng-bind-html="gift.info_text"></span></div>
		 <!-- <div class="gift-post-event"><span ng-if="standardGift.post_event">Post Event</span></div> -->
              </div>
              <div class="btn btn-primary btn-white">More Details</div>
           </a>
        </div>
	<!--
        <div class="giftApp">
           <div class="ym-pc-dashboard-section-header">
              <h3 class="h5">Fundraise on the Go!</h3>
           </div>
           <p>Check in on your fundraising and gifts progress by<br/>downloading the Kids Heart Challenge mobile app today!</p>
           <div class="ym-pc-dashboard-mobile-downloads">
              <a href="https://itunes.apple.com/us/app/ym-primary/id548389448?mt=8" target="_blank">
                 <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/youth-markets/image/apple-store-logo.png" alt="Download the iPhone App"> 
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.aha_jump.android.communicator&amp;hl=en" target="_blank">
                 <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/youth-markets/image/google-play-logo.png" alt="Download the Android App">
              </a>
           </div>
        </div>
	-->
      </div>
   </section>
