<style>
/* specific containe override because of report formatting */
.ng-pc-view-container {
   width: 100%;
}
@media (min-width:992px) {
  .ng-pc-view-container {
    max-width: calc(100% - 225px);
    flex: 0 0 auto;
    width:auto;
  }
}
</style>
<div cg-busy="reportPromises">
  <div class="ym-pc-reports-lists">
    <div class="ym-pc-report-header">
      <div class="row clearfix">
        <div class="text-center">
          <div id="nclvs_students_report">Loading Online Students Report... <img style="max-width: 75px" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/loading.gif"></div>
        </div>
      </div>
    </div>
  </div>
</div>
