<div cg-busy="reportPromises">
  <div class="ym-pc-reports-lists">
    <div class="ym-pc-report-header">
      <div class="row clearfix">
        <div class="text-center">
          <div id="nclvs_students_report">Loading Online Students Report... <img style="max-width: 75px" ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}ym-luminate/dist/ym-primary/image/loading.gif"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  setTimeout(() => {
      ahaWebContent.initialize(false, '{{consId}}', 'americanheart24', '{{frid}}')
  }, 1000);
</script>
