<header role="banner">
  [[?xym_khc_participant_centerx::x[[S334:pagename]]x::::
    <div class="container">
      <div class="ym-header-logos clearfix">
        <div class="ym-header-logo ym-header-logo--aha">
          <a href="https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]SPageNavigator/khc_resources_search.html" target="_blank"><img src="[[?x0x::x[[S4]]x::[[E130:[[T8:https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]]] [[T8:/site/]] [[T8:/]] replaceall]]::../]][[?xx::x[[S80:dev_branch]]x::::[[S80:dev_branch]]/]]aha-luminate/dist/ym-primary/image/fy21/khc-logo-2021.png" alt="Kids Heart Challenge Logo"></a>
        </div>
      </div>
    </div>
  ]]
  [[?x9x::x[[S4]]x::::
    <nav role="navigation" aria-label="Main">
      <div class="container">
        <div class="clearfix">
          [[?x27x::x[[S4]]x::::
            <ul class="ym-site-nav hidden-xs">
              <li>
                <a href="https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]SPageNavigator/khc_resources_search.html">
                  Home
                </a>
              </li>
              <li>
                <!-- <a href="http://american.heart.org/kidsheartchallenge/for-parents/">
                  For Parents
                </a> -->
                <a href="https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]SPageServer?pagename=khc_resources_parents_corner">
                  Parents
                </a>
              </li>
              <li>
                <a href="https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]SPageServer?pagename=khc_resources_event_resources">
                  Students
                </a>
              </li>
              <li>
                <a href="http://www.heart.org/educationalresources">
                  Teachers
                </a>
              </li>
              [[?xx::x[[S1:user_name]]x::
              <li>
                <a href="https://www.heart.org/en/professional/educator/school-programs/elementary-schools" target="_blank">
                  Start a New Program
                </a>
              </li>
              ::]]
            </ul>
          ]]
          [[?xx::x[[S1:cons_id]]x::
            <!-- logged out -->
            <div class="ym-header-login">
              [[?xx[[S8]]::xxhttps::
                <!-- secure page -->
                <button type="button" class="btn btn-global-primary ym-header-login-toggle" ng-click="toggleLoginMenu()" title="Student/Coordinator Login">
                  Student/Coordinator Log In <span class="fa fa-chevron-down" ng-class="{'fa-chevron-down': !loginMenuOpen, 'fa-chevron-up': loginMenuOpen}"></span>
                </button>
                <div class="ym-header-login-dropdown" ng-class="{'open': loginMenuOpen}" ng-cloak>
                  <div class="ym-header-login-form">
                    <form method="POST" name="headerLoginForm" ng-submit="submitHeaderLogin()" novalidate>
                      <input type="hidden" name="ng_nexturl" ng-model="headerLoginInfo.ng_nexturl" value="[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]">
                      <div class="form-group">
                        <label class="sr-only" for="headerLoginInfo-user_name">Username:</label>
                        <input type="text" class="form-control" name="USERNAME" id="headerLoginInfo-user_name" ng-model="headerLoginInfo.user_name" placeholder="Username" maxlength="[[S0:USER_MAX_LOGIN_LEN]]" autocorrect="off" autocapitalize="off" spellcheck="false" required>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="headerLoginInfo-password">Password:</label>
                        <input type="password" class="form-control" name="Password" id="headerLoginInfo-password" ng-model="headerLoginInfo.password" placeholder="Password" maxlength="[[S0:USER_MAX_PASSWD_LEN]]" autocorrect="off" autocapitalize="off" spellcheck="false" required>
                      </div>
                      <div class="ym-header-login-footer clearfix">
                        <button type="submit" class="btn btn-global-primary pull-left">
                          Log In
                        </button>
                        <a class="pull-right ym-header-login__help-link" href="UserLogin?CMD=ForgotLogin">Need Help?</a>
                      </div>
                    </form>
                    <form class="hidden js--default-header-login-form" action="UserLogin" method="POST" hidden aria-hidden="true">
                      <input type="hidden" name="NEXTURL" value="{{headerLoginInfo.ng_nexturl}}">
                      <input type="hidden" name="USERNAME" value="{{headerLoginInfo.user_name}}">
                      <input type="hidden" name="Password" value="{{headerLoginInfo.password}}">
                    </form>
                  </div>
                </div>
              ::
                <!-- non-secure page -->
<!--                <a class="btn btn-global-primary ym-header-login-toggle" href="[[T7:https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]UserLogin?NEXTURL=[[T1:[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]]]]]">Log In to Headquarters</a> -->
                <a class="btn btn-global-primary ym-header-login-toggle" href="[[T7:https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]UserLogin?NEXTURL=[[T1:SPageServer?pagename=ym_khc_my_events]]]]">Student/Coordinator Log In</a>
              ]]
            </div>
          ::
            <!-- logged in -->
            <div class="ym-header-logged-in" ng-cloak>
              <div class="clearfix">
                <div class="ym-header-welcome">
                  <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle ym-header-welcome-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Welcome[[?xx::x[[S1:first_name]]x::::, <span class="ym-header-welcome-toggle--first-name">[[S1:first_name]]]]!</span> <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                      <a class="dropdown-item" href="ConsProfileUser?dispMode=edit&amp;NEXTURL=[[T1:[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]]]">Edit Profile</a>
                      <a class="dropdown-item" href="UserLogin?logout=&amp;NEXTURL=[[T1:[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]]]">Log Out</a>
                    </div>
                  </div>
                  <!--
                  <button type="button" class="btn btn-link ym-header-welcome-toggle" ng-click="toggleWelcomeMenu()" title="Open menu to Edit Profile or Logout">
                    Welcome[[?xx::x[[S1:first_name]]x::::, <span class="ym-header-welcome-toggle--first-name">[[S1:first_name]]]]!</span> <span class="fa fa-chevron-down" ng-class="{'fa-chevron-down': !welcomeMenuOpen, 'fa-chevron-up': welcomeMenuOpen}"></span>
                  </button>
                  <div class="ym-header-welcome-dropdown" ng-class="{'open': welcomeMenuOpen, 'my-events': numberEvents > 1, 'my-hq' : numberEvents == 1}" role="menubar" title="Welcome Menu" ng-cloak>
                    <ul role="tablist" id="js--header-welcome-ul">
                      <li role="presentation">
                        <a tabindex="0" role="tab" href="ConsProfileUser?dispMode=edit&amp;NEXTURL=[[T1:[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]]]">
                          Edit Profile
                        </a>
                      </li>
                      <li role="presentation">
                        <a tabindex="0" role="tab" href="UserLogin?logout=&amp;NEXTURL=[[T1:[[E130:[[T8:[[S8]]]] [[T8:&amp;]] [[T8:&]] replaceall]]]]">
                          Log Out
                        </a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <a class="btn btn-global-primary ym-header-hq-btn" href="PageServer?pagename=ym_khc_my_events" ng-if="numberEvents > 1">
                    My Events
                  </a>
                  <a class="btn btn-global-primary ym-header-hq-btn" ng-href="TRSC?fr_id={{regEventId}}" ng-if="numberEvents == 1">
                    <span class="visible-xs visible-sm">My HQ</span>
                    <span class="hidden-xs hidden-sm">My Headquarters</span>
                  </a>
                </div>
              </div>
            </div>
          ]]
          [[?x27x::x[[S4]]x::::
            <div class="ym-site-menu visible-xs">
              <button type="button" class="btn btn-default ym-site-menu-toggle" ng-click="toggleSiteMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="ym-site-menu-bar"></span>
                <span class="ym-site-menu-bar"></span>
                <span class="ym-site-menu-bar"></span>
                <span class="ym-site-menu-bar"></span>
              </button>
              <div class="ym-site-menu-dropdown" ng-class="{'open': siteMenuOpen}" ng-cloak>
                <ul>
                  <li>
                    <a href="https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]SPageNavigator/khc_resources_search.html">
                      Home
                    </a>
                  </li>
                  <li>
<!--                    <a href="http://american.heart.org/kidsheartchallenge/for-parents/"> -->
                    <a href="https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]SPageServer?pagename=khc_resources_parents_corner">
                      For Parents
                    </a>
                  </li>
                  <li>
                    <a href="https://[[S29:SECURE_DOMAIN]][[S29:SECURE_PATH]]SPageServer?pagename=khc_resources_event_resources">
                      For Students
                    </a>
                  </li>
                  <li>
                    <a href="http://www.heart.org/educationalresources">
                      For Teachers
                    </a>
                  </li>
                  [[?xx::x[[S1:user_name]]x::
                  <li>
                    <a href="https://www.heart.org/en/professional/educator/school-programs/elementary-schools" target="_blank">
                      Start a New Program
                    </a>
                  </li>
                  ::]]
                </ul>
              </div>
            </div>
          ]]
        </div>
      </div>
    </nav>
  ]]
</header>
