<div cg-busy="myDonorsPromises">
  <div class="ym-pc-reports-lists" ng-class="{'ym-pc-reports--no-tabs': participantRegistration.aTeamCaptain != 'true' && participantRegistration.companyInformation.isCompanyCoordinator != 'true'}">
        <div class="ym-pc-report-header">
          <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <h2 class="h5">
                My Donors
              </h2>
            </div>
            <div class="col-md-4">
              <div class="ym-pc-report-head-buttons text-md-end" ng-if="participantGifts.gifts && participantGifts.gifts.length > 0" ng-cloak>
                <a class="btn btn-primary btn-white" aria-label="Download Personal Donors" ng-href="TRParticipantDownload/Personal_Donations.csv?download_type=personal_donations&amp;fr_id={{frId}}" target="_blank">
                  <i class="fa fa-download" hidden aria-hidden="true"></i>&nbsp;<strong>Download</strong>
                </a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" aria-label="Thank All Personal Donors" ng-click="thankAllParticipantDonors()">
                  <i class="fa fa-envelope" hidden aria-hidden="true"></i>&nbsp;<strong>Thank All</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="participantGifts.gifts && participantGifts.gifts.length == 0" ng-cloak>
          <div class="text-center">
            No donors to display.
          </div>
        </div>
        <div ng-if="participantGifts.gifts && participantGifts.gifts.length > 0" ng-cloak>
          <div class="text-center visible-xs-block">
            <p><em>Scroll right to view all information</em></p>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <caption class="sr-only">
                My Donors Report
              </caption>
              <thead>
                <tr>
                  <th scope="col" aria-sort="{{participantGifts.sortColumn != 'cons_first_name' ? 'none' : (participantGifts.sortAscending ? 'ascending' : 'descending')}}" role="alert">
                    <div class="text-left">
                      <button type="button" class="btn btn-link" ng-click="orderParticipantGifts('cons_first_name')" aria-label="sort by name {{participantGifts.sortColumn != 'cons_first_name' ? '' : (participantGifts.sortAscending ? 'ascending' : 'descending')}}">
                        <strong>Name</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (participantGifts.sortColumn == 'cons_first_name' && !participantGifts.sortAscending) || participantGifts.sortColumn != 'cons_first_name', 'fa-caret-up': participantGifts.sortColumn == 'cons_first_name' && participantGifts.sortAscending, 'inactive': participantGifts.sortColumn != 'cons_first_name'}" ng-if="participantGifts.gifts.length"><span class="sr-only">Sortable. {{participantGifts.sortColumn != 'cons_first_name' ? 'Not sorted.' : (participantGifts.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{participantGifts.sortColumn != 'amount' ? 'none' : (participantGifts.sortAscending ? 'ascending' : 'descending')}}" role="alert">
                    <div class="text-center">
                      <button type="button" class="btn btn-link" ng-click="orderParticipantGifts('amount')" aria-label="sort by amount {{participantGifts.sortColumn != 'amount' ? '' : (participantGifts.sortAscending ? 'ascending' : 'descending')}}">
                        <strong>Amount</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (participantGifts.sortColumn == 'amount' && !participantGifts.sortAscending) || participantGifts.sortColumn != 'amount', 'fa-caret-up': participantGifts.sortColumn == 'amount' && participantGifts.sortAscending, 'inactive': participantGifts.sortColumn != 'amount'}" ng-if="participantGifts.gifts.length"><span class="sr-only">Sortable. {{participantGifts.sortColumn != 'amount' ? 'Not sorted.' : (participantGifts.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                  <th scope="col" aria-sort="{{participantGifts.sortColumn != 'date_recorded' ? 'none' : (participantGifts.sortAscending ? 'ascending' : 'descending')}}" role="alert">
                    <div class="text-right">
                      <button type="button" class="btn btn-link" ng-click="orderParticipantGifts('date_recorded')" aria-label="sort by date {{participantGifts.sortColumn != 'date_recorded' ? '' : (participantGifts.sortAscending ? 'ascending' : 'descending')}}">
                        <strong>Date</strong>&nbsp;<span class="fa" ng-class="{'fa-caret-down': (participantGifts.sortColumn == 'date_recorded' && !participantGifts.sortAscending) || participantGifts.sortColumn != 'date_recorded', 'fa-caret-up': participantGifts.sortColumn == 'date_recorded' && participantGifts.sortAscending, 'inactive': participantGifts.sortColumn != 'date_recorded'}" ng-if="participantGifts.gifts.length"><span class="sr-only">Sortable. {{participantGifts.sortColumn != 'date_recorded' ? 'Not sorted.' : (participantGifts.sortAscending ? 'Sorted ascending.' : 'Sorted descending.')}}</span></span>
                      </button>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="participantGift in participantGifts.gifts">
                  <td>
                    <div class="text-left">
                      <div ng-if="!participantGift.name.first || participantGift.name.first == ''">
                        (no name)
                      </div>
                      <div ng-if="participantGift.name.first && participantGift.name.first != ''">
                        <span ng-bind-html="participantGift.name.first"></span> <span ng-bind-html="participantGift.name.last"></span>
                      </div>
                      <div class="ym-pc-reports-lists__acknowledge">
                        <div class="ym-pc-reports-lists__thanks" ng-if="participantGift.acknowledged != 'true'">
                          <button type="button" class="btn btn-md-wide btn-primary" aria-label="Thank {{participantGift.name.first}} {{participantGift.name.last}}" ng-click="thankParticipantDonor(participantGift)">
                            <i class="fa fa-envelope" hidden aria-hidden="true"></i>&nbsp;<strong>Thank Donor</strong>
                          </button>
                        </div>
                        <div class="ym-pc-reports-lists__note" ng-if="participantGift.giftMessage">
                          <a href="" ng-click="participantGift.showMessage = !participantGift.showMessage">
                            <strong>
                              See Note&nbsp;<i class="fa fa-chevron-up"></i>
                            </strong>
                          </a>
                          <div class="ym-pc-reports-lists__note--show" ng-show="participantGift.showMessage">
                            {{participantGift.giftMessage}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{participantGift.giftAmountFormatted}}
                    </div>
                  </td>
                  <td>
                    <div class="text-right">
                      {{participantGift.date | date : 'M/d/yy'}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
</div>
