<h2 class="text-center h3">Community Service Log</h2>
<div class="py-3 text-white">
  <div class="volunteer-hours red-bg-gradient border-red rounded mb-4">
    <div class="d-flex flex-wrap">
      <div class="title col-5 text-center p-2">Hours</div>
      <div class="col-2 border-white-left border-white-right"></div>
      <div class="title col-5 text-center p-2">Minutes</div>
      <div class="time col-5 text-center bg-white text-red">{{volunteerTotal.hours}}</div>
      <div class="time col-2 text-center bg-white text-red border-red-left border-red-right">:</div>
      <div class="time col-5 text-center bg-white text-red">{{volunteerTotal.minutes}}</div>
    </div>
  </div>
  <a class="btn btn-md-wide btn-toggle" ng-href="{{baseUrl}}#/volunteer"><strong>Manage Hours</strong></a>
</div> 

<div ng-if="volunteerData && volunteerData.length > 0" ng-cloak>
  <div class="table-responsive">
    <table class="table table-striped">
      <caption class="sr-only">
        Volunteer Time
      </caption>
      <thead>
        <tr>
          <th scope="col">
            <div class="text-start">
              <strong>Date</strong>
            </div>
          </th>
          <th scope="col">
            <div class="text-center">
              <strong>Activity</strong>
            </div>
          </th>
          <th scope="col">
            <div class="text-center">
              <strong>Hours : Minutes</strong>
            </div>
          </th>
          <th scope="col">
            <div class="text-end">
              <strong>Edit/Delete</strong>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entry in volunteerData">
          <td>
            <div class="text-start">
              {{entry.activity_date | date : 'M/d/yy'}}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{entry.activity_type}}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{entry.hours | time}}
            </div>
          </td>
          <td>
            <div class="text-end">
              <button class="btn btn-md-wide btn-toggle" data-cons-id="{{entry.constituent_id}}" data-event-id="{{entry.event_id}}" data-id="{{entry.activity_type_id}}" ng-click="updateVolunteerEntry()"><strong>Edit/Delete</strong></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
