<div>
  <div class="modal-body">
    <button type="button" tabindex="0" class="close" aria-label="Close" ng-click="closeFirstLogin()">
      <span aria-hidden="true">×</span>
    </button>
    <div class="ym-pc-first-login-modal">
      <h2 class="h3">
        Thank You!
      </h2>
      <div>
        Get started now by uploading a personal photo to your webpage!
      </div>
      <div class="ym-pc-first-login-close">
        <a class="btn btn-primary" ng-href="TR?fr_id={{frId}}&amp;pg=personal&amp;px={{consId}}">
          <strong>Upload Photo</strong>
        </a>
      </div>
    </div>
    <div class="hidden" hidden aria-hidden="true">
      <img ng-src="//ahc.staging.ootqa.org/api/webhooks/team/refresh/{{frId}}/{{participantRegistration.teamId}}" alt="" ng-if="tablePrefix == 'heartdev'">
      <img ng-src="//middleschool.heart.org/api/webhooks/team/refresh/{{frId}}/{{participantRegistration.teamId}}" alt="" ng-if="tablePrefix == 'heart'">
    </div>
  </div>
</div>