header {
  background-color: $white;
  @include media-breakpoint-up(lg) {
    background-color: $white;
  }

  background-image: none;
  // @include media-breakpoint-up(lg) {
  //   background-image: url(https://secure3.convio.net/heart/images/content/pagebuilder/background-impact.png);
  // }
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;


  .container {
    max-width: 1350px!important;
  }
  .woi-logo {
    width: 150px;
    @include media-breakpoint-down(lg) {
      width: 100px;
    }
  }
}
