.bg-gold-bar {
  background-image: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/Gold-BG-bright.png");
  background-size: cover;
}
.bg-red-polka-dots {
  background-image: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/Red-Polka-Dots.png");
  background-size: cover;
}
.bg-lfl-nominee {
  background-image: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/NomineeBG-fixed.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.bg-woi-nominee {
  background-image: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/WOI-Nominee-BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
