.pg_personal {
  .js--personal-text p, .js--personal-text p span, .js--personal-text span {
    font-family: "LubDubMedium", Helvetica, Arial, sans-serif!important;
    font-size: 16px!important;
    line-height: 24px!important;
  }
  .js--personal-text ul {
    list-style-position: inside;
    margin-bottom: 1em;
  }
}