<div ng-init="personalVideo.type = ''">
  <form ng-submit="updatePersonalVideo()">
    <div class="modal-header">
      <h2 class="modal-title">
        Edit Video
      </h2>
    </div>
    <div class="modal-body">
      <p>You can choose to use our default video or include the share URL of a different YouTube video you would like to use.</p>
      <select class="form-control" ng-model="personalVideo.type">
        <option value="" selected="selected" disabled="disabled">Select video option</option>
        <option value="default">Default Video</option>
        <option value="youtube">YouTube Video</option>
      </select>
      <br>
      <div uib-alert class="alert-danger" ng-if="updatePersonalVideoError.message">
        {{updatePersonalVideoError.message}}
      </div>
      <div class="form-group" ng-if="personalVideo.type == 'youtube'">
        <label for="">
          YouTube Video URL:
        </label>
        <input type="text" class="form-control" id="" ng-model="personalMedia.videoUrl">
      </div>
      <div class="form-group" ng-if="personalVideo.type == 'default'">
        <label for="">
          Default Video
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <div class="clearfix">
        <div class="pull-left">
          <button type="button" class="btn btn-primary-inverted" ng-click="cancelEditPersonalVideo()">
            Cancel
          </button>
        </div>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="hidden" hidden aria-hidden="true"></div>