  <div class="modal-header">
    <h2 class="h5 modal-title">
      Confirm Product Added to Basket
    </h2>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <p>{{TotalPointsAvailable}} has been added to your basket.</p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-between w-100">
      <div class="cancelButton">
        <button type="button" class="btn btn-toggle" ng-click="viewProducts($event)" aria-label="Click to Return to Product List">
          Return to Products
        </button>
      </div>
      <div class="submitButton">
        <button type="button" class="btn btn-toggle active" ng-click="viewBasket($event)" aria-label="Click to view Basket">
          Go to your Basket
        </button>
      </div>
    </div>
  </div>
