header {
  background-color: $red-deep;
  @include media-breakpoint-up(lg) {
    background-color: #c10e21;
  }

  background-image: none;
  @include media-breakpoint-up(lg) {
    background-image: url(https://secure3.convio.net/heartdev/images/content/pagebuilder/background-leaders.png);
  }
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;


  .container {
    max-width: 1350px!important;
  }
}
