.bg-gold-bar {
  background-image: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/Gold-BG-bright.png");
  background-size: cover;
}
.bg-lfl-nominee {
  background-image: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/NomineeBG-fixed.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
