.pg_entry {
  main {
    margin-bottom: 60px;

    & > .container {
      padding: 0 !important;
      background: none;
    }

    .greeting-header {
      background-image: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/greetingsx1903x570_updated.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 1rem;
      @include media-breakpoint-down(md) {
        background-image: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/greetings-mobile.png");
      }

      .event-info-banner {
        width: 100%;
        background-image: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/Gold-Heart-ManWoman-1.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @include media-breakpoint-down(md) {
          padding-top: 100%;
        }

        @include media-breakpoint-up(md) {
          min-height: 65vh;
        }

        @include media-breakpoint-up(lg) {
          background-position: center;
        }
      }

      .event-info {
        margin: 0;
        @include media-breakpoint-up(lg) {
          flex: 50% 0 0;
        }

        .event-info__header {
          width: fit-content;

          h1 {
            font-size: 3.9375em;
            background-color: $white;
            line-height: 0.95em;
            max-width: 0;

            &::first-line {
              color: $red-deep;
              font-size: 1.25em;
              font-weight: 900;
            }

            @include media-breakpoint-down(lg) {
              font-size: 4em;
            }

            @include media-breakpoint-down(md) {
              font-size: 3.5em;
            }

            @include media-breakpoint-down(sm) {
              font-size: 2.5em;
            }
          }

          h2 {
            background-color: $white;
            font-weight: 600;
          }

          span {
            font-size: 63px;
            @include media-breakpoint-down(md) {
              font-size: 2em !important;
            }
          }
        }
        // End event-info__header

        .event-info__content {
          @include media-breakpoint-up(lg) {
            padding: 0 72px;
          }
        }

        .event-info__details h2 {
          font-family: $font-family-light;
          font-size: 1.5em;
          line-height: 1.5;
          text-align: center;
          font-weight: normal;
        }
        .event-info__details p {
          font-size: 0.875em !important;
          margin: 1em 0;
          @include media-breakpoint-up(md) {
            font-size: 1.25em !important;
          }
        }
        .event-date,
        .event-name {
          letter-spacing: 0.7px;
        }
        .event-name,
        .info-columns .fas,
        .info-columns a {
          color: $red;
        }
        .info-columns {
          margin: 31px 0 0;
          .event-info-collapse {
            &:hover {
              a,
              i {
                color: $red-deep;
              }
            }
          }
          h3,
          p {
            line-height: 1.2;
          }
          .fas,
          a,
          h3,
          p {
            font-size: 1rem;
          }
          a {
            line-height: 1;
          }
          p {
            margin: 0 0 17px;
          }
        }
        .event-date {
          margin: 1px 0 31px;
          font-size: 1.44rem;
          font-family: $font-family-medium;
          font-weight: normal;
        }
        .btn {
          padding: 1rem;
          font-size: 1.5rem;
          min-width: 10em;
          max-width: 100%;

          &.btn-primary {
            background-color: $red-deep;
          }
        }
        .fundraising-amounts {
          margin-top: 90px;
          margin-bottom: 0;
          padding: 0 72px 67px;
          span {
            font-size: 0.78em;
            margin: 14px 0 -3px;
            @include media-breakpoint-up(md) {
              font-size: 1em;
            }
          }
          .amount {
            font-size: 0.875em;
            font-family: $font-family-bold;
            line-height: 1.4;
            margin: 0;
            @include media-breakpoint-up(md) {
              font-size: 1.667em !important;
              color: $red-deep;
            }
          }
        }
      }
      // End event-info
    }
    // End greeting-header

    .greeting-about {
      padding-top: 0;
      padding-bottom: 36px;

      h2 {
        color: $red;
        font-size: 21px;
        font-weight: 600;
      }

      .btn {
        padding: 13px;
      }
    }
    // End greeting-about

    .greeting-visual-banner {
      height: 200px;
      @include media-breakpoint-up(xl) {
        height: 623px;
        background-attachment: fixed;
      }
      width: 100%;
      background-image: url("https://www2.heart.org/images/content/pagebuilder/aha-fieldday-greeting-banner_2x.jpg");
      background-size: cover;
      background-position: center;
    }

    .nominee-section {
      p {
        margin: 0;
      }

      [class*="col-"] {
        display: grid;
      }

      a {
        text-decoration: none;
        > :first-child {
          height: 0;
          padding-top: 100%;
          position: relative;

          > * {
            clip-path: circle();
            height: 100%;
            left: 1rem;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: calc(100% - 2rem);
          }
        }
      }

      img {
        left: 0;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 0;

        &.is-landscape {
          left: 50%;
          max-width: none;
          transform: translateX(-50%);
        }
      }

      .js--team-top-list {
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    #movement-section {
      &:after,
      &:before {
        content: " ";
        background-color: #c10e21;
        width: 40%;
        height: 27px;
        display: block;
        position: relative;
        z-index: 1;
      }
      &:before {
        float: right;
      }
      .container {
        position: relative;
        padding-bottom: 6rem;
        padding-top: 6rem;
        &:after,
        &:before {
          content: "";
          display: block;
          height: 26px;
          background: url("https://secure3.convio.net/heartdev/images/content/pagebuilder/GoldBar_600px.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
        &:before {
          width: 64px;
          right: 0;
          top: 5rem;
          position: absolute;
        }
        &:after {
          width: 88px;
          left: -4rem;
          top: -3rem;
          position: relative;
        }
        .movement-copy {
          box-shadow: 0 1rem 11rem 10rem #fff;
          background-color: #fff;
        }
      }
    }

    .top-list {
      max-width: 1040px;
      margin: auto;
    }
    .top-lists {
      background-color: #c10e21;
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 100%;
      @include media-breakpoint-up(md) {
        background-image: url("../img/leaders-heartbeat.svg");
        background-size: cover;
      }
    }
    .top-lists-container {
      padding: 0 30px 40px;
      @include media-breakpoint-up(md) {
        padding: 91px 0;
      }
      .btn-tertiary {
        color: $red;
        border-color: $red;
      }
      h2 {
        font-size: 2rem;
        margin: 0 0 24px;
        color: $white;
      }
      ol,
      ul {
        list-style: none;
      }
      .top-list {
        background-color: $white;
        padding: 0;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
        h3 {
          font-size: 2rem;
          color: $red;
          padding: 38px 43px 37px 45px;
          font-family: $font-family-bold;
          margin: 0;
          .text-small {
            margin: 6px 0 0;
            font-size: 1rem;
          }
        }
        ul {
          min-height: 380px;
        }
        li {
          border-bottom: solid 2px $gray-200;
          a {
            font-size: 1rem;
            padding: 26px 0 23px 47px;
            line-height: 1.6;
            display: block;
          }
        }
        .raised {
          font-size: 0.9rem;
          padding: 15px 58px 0 0;
          text-align: right;
        }
        .raised strong {
          font-size: 0.9rem;
          font-family: $font-family-bold;
        }
        .top-list-footer {
          padding: 30px 0;
          .btn-tertiary {
            width: 100%;
            max-width: 263px;
            padding: 5px 0 !important;
          }
        }
      }
    }

    .global-sponsors {
      .container {
        border: none;
      }
    }
    .marketing-call-out {
      background-color: $red-light;
      padding: 25px 0 55px;
      h2 {
        color: $red;
        font-size: 1.3em;
        @include media-breakpoint-up(lg) {
          font-size: 2.2em;
        }
      }
      p {
        font-size: 0.78em;
        @include media-breakpoint-up(lg) {
          font-size: 1em;
        }
        &.marketing-call-out_button {
          text-align: center;
        }
      }
      .btn {
        max-width: 260px;
        padding: 13px;
        margin: auto;
      }
    }

    .top-lists-container .top-list {
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: column wrap;
        align-content: center;
        max-height: 400px;
        position: relative;
        @include media-breakpoint-down(md) {
          flex-flow: column nowrap;
          height: auto !important;
          max-height: 100% !important;
          min-height: auto !important;
        }
      }
      li {
        position: relative;
        width: 250px;
        height: 70px;
        border-bottom: none !important;
        @include media-breakpoint-down(md) {
          width: 100%;
          height: 100%;
        }
        a {
          padding: 26px 0 23px;
          text-align: center;
          @include media-breakpoint-down(md) {
            padding: 15px 0;
          }
        }
      }
      li.two-column-team-list:nth-of-type(n + 2):nth-of-type(-n + 4) {
        border-right: 1px solid #d2d7da;
      }
      li.two-column-team-list:nth-of-type(1):after,
      li.two-column-team-list:nth-of-type(5):after {
        border-right: 1px solid #d2d7da;
        position: absolute;
        content: "";
        height: 100%;
        right: 0;
      }
      li.two-column-team-list:nth-of-type(1):after {
        bottom: -35px;
      }
      li.two-column-team-list:nth-of-type(5):after {
        bottom: 35px;
      }
      li.three-column-team-list:nth-of-type(n + 2):nth-of-type(-n + 4),
      li.three-column-team-list:nth-of-type(n + 7):nth-of-type(-n + 9) {
        border-right: 1px solid #d2d7da;
      }
      li.three-column-team-list:nth-of-type(1):after,
      li.three-column-team-list:nth-of-type(10):after,
      li.three-column-team-list:nth-of-type(5):after,
      li.three-column-team-list:nth-of-type(6):after {
        border-right: 1px solid #d2d7da;
        position: absolute;
        content: "";
        height: 100%;
        right: 0;
      }
      li.three-column-team-list:nth-of-type(1):after,
      li.three-column-team-list:nth-of-type(6):after {
        bottom: -35px;
      }
      li.three-column-team-list:nth-of-type(10):after,
      li.three-column-team-list:nth-of-type(5):after {
        bottom: 35px;
      }
      @include media-breakpoint-down(md) {
        li:nth-of-type(n + 6) {
          display: none;
        }
      }
    }
  }
  // End main
}
// End pg_entry
