header {
  background-color: $red-deep;
  background-image: url(https://www2.heart.org/images/content/pagebuilder/background-squiggles.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 70%;

  .container {
    max-width: 1350px!important;
  }
}
