.pg_personal {
  .sidebar__details p {
    line-height: 1.5rem;
  }

  .js--personal-text p, .js--personal-text p span, .js--personal-text span {
    font-family: "LubDubMedium", Helvetica, Arial, sans-serif!important;
    font-size: 18px!important;
    line-height: 27px!important;
  }
}