.pg_company {
  .tr-page-container {
    .information-box {
      .buttons-row {
        margin: 28px 0;

        .btn {
          max-width: 320px;
        }
      }
      .information-box__name {
        padding: 17px 45px 20px 45px;
      }
      .information-box__content {
        padding: 70px 45px 52px 45px;
        .buttons-row {
          margin: 85px 0 28px;
        }
      }
      p {
        color: #000;
      }
    }

    .nav-tabs {
      border: none;

      .nav-link {
        font-size: 2rem;
        color: $black;
        background-color: #EFEFEF;
        border-bottom: none;
        text-align: center;
        text-decoration: none;
        font-family: $font-family-bold;
        @include border-radius(0,0,0,0);

        &.active {
          background-color: $red;
          color: $white;
        }
      }
    }

    .tab-content {
      margin: 25px 0 0 0;
    }

    .team-roster .btn-tertiary-black {
      width: 260px;
    }

    .nav-item {
      width: 33.33%;

      .nav-link {
        @include media-breakpoint-down(md) {
          font-size: 1.75rem;
        }
        @include media-breakpoint-down(sm) {
          padding: .5rem!important;
        }
      }

      a span:first-of-type {
        display: block;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
      a span:last-of-type {
        display: none;
        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
    }
  }

  .company-message {
    h2 {
      font-size: 1.5em;
      color: $red;
    }
  }
}

.evenly-like {
  display: flex;
  justify-content: space-between;

  &:before,
  &:after {
    content: '';
    display: block;
  }
}

.fieldday-cheer {
  margin: 30px 0;
  @include media-breakpoint-up(md) {
    margin: 50px 0;
  }
  h3 {
    font-size: 1.67em;
  }
  h3,
  p {
    color: $red;
    font-family: "LubDubBold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.333em;
    font-weight: normal;
    @include media-breakpoint-up(lg) {
      font-size: 2.667em;
    }
  }
}

//view all companies page
@media (max-width: 767px) {
  th.trr-table-participant-amount,
  th.trr-table-number-amount {
      display: none;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .mobile div.tr-page-container div#team_page_main_content, .mobile div.tr-page-container div.tr-page-main-content {
      width: 100%;
  }
}

#game-points-roster {
  td {
    text-align: center;
    .games-team-name,
    .games-captain-name {
      text-align: left;
    }
  }
}