.landing-hero {
  position: relative;
  box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.16);
}
.landing-hero__photo {
  height: 200px;
  @include media-breakpoint-up(lg) {
    height: 385px;
  }
  @include media-breakpoint-up(xl) {
    height: 685px;
  }
  background-image: url(https://secure3.convio.net/heartdev/images/content/pagebuilder/fieldday-landing-hero.jpg);
  background-position: center;
  @include media-breakpoint-up(lg) {
    background-position: center center;
  }
  background-size: cover;
  background-repeat: none;
}

.landing-hero__content {
  width: 100%;
  text-align: center;
  @include media-breakpoint-up(lg) {
    background: rgba(73, 80, 87, 0.5);
   }
  .container {
    margin: auto;
  }
  h1 {
      color: #C10E21;
      font-size: 1.325em;
      @include media-breakpoint-up(xl) {
          font-size: 5.625em;
    }
    @include media-breakpoint-up(lg) {
        color: #fff;
  }
  }
  p {
      font-size: 1em;
      @include media-breakpoint-up(xl) {
          font-size: 1.5em;
    }
    @include media-breakpoint-up(lg) {
        color: #fff;
  }
  }
  strong {
    color: $red;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 0;
  }
}

.landing-about {
  background-color: $red-deep;
  background-image: url(https://secure3.convio.net/heartdev/images/content/pagebuilder/background-squiggles.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 60%;
  @include media-breakpoint-up(xl) {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .landing-about__container {
    padding-left: 30px;
    padding-right: 30px;
    @include media-breakpoint-up(xl) {
     max-width: 1640px;
    }
  }
  h2 {
    display: inline-block;
    color: $white;
    font-size: 1.125em;
    margin: 45px 0;
    @include media-breakpoint-up(xl) {
     font-size: 2.2em;
    }
  }
  .card {
    border-radius: 0;
    h3{
      color: $red;
      font-size: 1.125em;
      @include media-breakpoint-up(xl) {
       font-size: 1.667em;
      }
      line-height: 1;
      text-align: center;
      margin: 0;
    }
    @include media-breakpoint-up(xl) {
     width: 32%;
    }

    svg {
      margin-bottom: 25px;
    }
  }
  .card-header {
    background-color: $white;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.16);
    @include media-breakpoint-up(xl) {
     padding: 28px 0;
    }
  }
  .card-body {
    @include media-breakpoint-up(xl) {
     padding: 45px;
    }
  }
  p {
    font-size: 0.875em;
    line-height: 1.25em;
    display: inline-block;
    margin-bottom: 25px;
    @include media-breakpoint-up(xl) {
     font-size: 1.333em;
     line-height: 1.5;
     text-align: left;
    }
  }
  a {
    display: inline-block;
    border: 2px solid $red;
    color: $red;
    padding: 8px 24px;
    width: 200px;
    text-decoration: none;
    border-radius: 60px;
    font-weight: bold;
    line-height: 1;
    @include media-breakpoint-up(xl) {
     min-width: 260px;
     padding: 12px 28px;
     text-align: center;
    }
  }
}

.form-control {
  boder-color: #ccc;
}

.event-city-search {
  background-color: #fff;
  .container {
    max-width: 812px;
  }
  h2 {
    color: $red;
    font-size: 1.125em;
    @include media-breakpoint-up(xl) {
     font-size: 2.2em;
    }
  }
  .form-group-divider{
    font-size: 1.125em;
    font-weight: bold;
    align-self: center;
  }
  .event-state-select-container::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      content: "\f0d7";
      color: #fff;
      background-color: $red;
      right: 0;
      top: 0;
      height: 55px;
      padding-top: 0.4em;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      position: absolute;
      pointer-events: none;
      text-align: center;
      font-size: 1.5em;
      width: 16.667%;
      display: block;
      cursor: pointer;
      &:hover {
        background-color: $red-deep;
      }
  }

  .event-zip-search-submit {
      height: 55px;
      background: $red;
      color: white;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      border-color: #c11d20;
      padding: 16px;
      padding-right: 16px;
      padding-left: 16px;
      border: none;
      font-size: 1.25em;
      &:hover {
        background-color: $red-deep;
      }
  }

  .form-control {
    background-color: #F8F9FA
  }
}

.event-results {
  .event-results__company {
    margin-bottom: 40px;
  }
  h3 {
    font-size: 1em;
    font-weight: 500;
    display: block;
  }
}

.button-primary, .button-primary:visited, .button-primary:link {
  display: inline-block;
  border: 2px solid $red;
  color: $white;
  background-color: $red;
  padding: 16px 32px;
  min-width: 260px;
  text-decoration: none;
  border-radius: 60px;
  font-weight: bold;
  &.button--inverse {
    color: $red;
    background-color: $white;
    padding-top:8px;
    padding-bottom: 8px;
  }
}

.landing-participant-search {
  background-color: $team-roster-bg-gray;
  border-top: 3px solid $red;
  h2 {
    color: $red;
  }
  input {
    background-color: #fff!important;
  }
  .alert {
    margin-top: 35px;
  }
  .container{
    max-width: 821px;
  }
  .nav-tabs {
    border-bottom: none;
    &:hover{
      border-bottom: none;
    }
    a {
      font-size: 0.667em;
      padding: 1.25em 2.5em;
      font-weight: 600;
      @include media-breakpoint-up(md) {
        font-size: 1em;
      }
    }
  }
  .nav-tabs .nav-link {
    border-bottom: none;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border: none;
    &:hover{
      border-bottom: none;
    }
  }
  label {
    font-size: 0.875em;
  }
  .btn-primary {
    height: 55px;
  }
  input[type="text"]{
    height: 55px;
  }
}

.landing-participant-search__results, .event-results__company {
  .btn-primary {
    width: 200px;
    line-height: 55px;
  }
}

.landing-video {
  padding-top: 32px;
  padding-bottom: 32px;

  @include media-breakpoint-up(lg) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.global-video__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.landing-visual-banner {
  background-image: url('https://secure3.convio.net/heartdev/images/content/pagebuilder/aha-fieldday-landing-banner_2x.jpg');
  background-size: cover;
  background-position: top center;
  margin-top: 32px;
  margin-bottom: 32px;
  height: 200px;
  @include media-breakpoint-up(lg) {
    height: 300px;
    margin-top: 86px;
    margin-bottom: 86px;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
  }
  background-color: $red;
}


.global-sponsors {
  width: 95%;
    h2 {
      font-size: 1.333em;
    }
  }

.global-promo {
  margin-bottom: 20px;
  .row {
    position: relative;
    z-index: 1;
    background-image: url('https://secure3.convio.net/heartdev/images/content/pagebuilder/aha-fieldday-landing-promo-mobile_2x.jpg');
    @include media-breakpoint-up(lg) {
      background-image: url('https://secure3.convio.net/heartdev/images/content/pagebuilder/aha-fieldday-landing-promo_2x.jpg');
    }
    background-repeat: none;
    background-size: cover;
    background-position: cover;
    padding: 0 15px;
  }
  .btn {
    font-size: 0.875em;
    text-align: center;
    min-width: 230px;
    padding: 13px;
    @include media-breakpoint-up(md) {
      font-size: 1em;
    }
  }
}

.global-promo__wrapper {
  position: relative;
  padding: 2em 1.5em;
  @include media-breakpoint-up(lg) {
    padding: 4em 3em;
  }
  z-index: 10;
  h2, p {
    color: #fff;
  }
  h2 {
    font-size: 1em;
    margin-bottom: 3em;
    @include media-breakpoint-up(lg) {
      font-size: 1.75em;
      margin-bottom: 1em;
    }
  }
  p {
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 1em;
    @include media-breakpoint-up(lg) {
      font-size: 1.25em;
    }
  }
}
.global-promo__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -10;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.global-promo__icon {
  display: block;
  width: 80px;
  height: auto;
  margin-bottom: 20px;
  @include media-breakpoint-up(lg) {
    width: 120px;
  }
}
