.thermometer{
  background-color: $gray-200;
  border: solid 1px $thermometer-border;
  margin: 4px 0 0;
}
.thermometer-inner {
  background-color: $red;
  height: 5px;
  width: 0;
  margin: -1px 0 -1px -1px;
  max-width:100%;
  position: relative;
  svg, img {
    width: 45px;
    height: auto;
    position: absolute;
    right: -20px;
    @include media-breakpoint-up(md) {
     width: 55px;
     right: -30px;
    }
  }
  svg {
    top: -60px;
    @include media-breakpoint-up(md) {
      top: -70px;
    }
  }
  img {
    mix-blend-mode: multiply;
    top: -75px;
    @include media-breakpoint-up(md) {
     top: -85px;
    }
  }
}

.pg_personal, .pg_team {
  .thermometer {
    margin: 40px 0 0;
    @include media-breakpoint-up(md) {
     margin-top: 55px;
    }
  }

  .thermometer-inner {
    height: 5px;
  }
}

.pg_company {
  .thermometer {
    margin: 40px 0 0;
    @include media-breakpoint-up(md) {
     margin-top: 55px;
    }
  }

  .thermometer-inner {
    height: 40px;
  }
}
