.thermometer{
  background-color: $gray-200;
  border: solid 1px $thermometer-border;
  margin: 4px 0 0;
}
.thermometer-inner {
  background-color: $red;
  height: 5px;
  width: 0;
  margin: -1px 0 -1px -1px;
  max-width:100%;
  position: relative;
  svg {
    position: absolute;
    right: -15px;
    top: -45px;
  }
}

.pg_personal, .pg_team, .pg_company {
  .thermometer {
    margin: 55px 0 0;
  }

  .thermometer-inner {
    height: 5px;
  }
}
