<form method="POST" novalidate ng-submit="updateSchoolGoal()">
  <div class="modal-header">
    <h2 class="h5 modal-title">
      Update School Goal
    </h2>
  </div>
  <div class="modal-body">
    <div uib-alert class="alert-danger" ng-if="schoolGoalInfo.errorMessage">
      <div ng-bind-html="schoolGoalInfo.errorMessage"></div>
    </div>
    <div class="form-group">
      <label for="goal" class="sr-only">Goal</label>
      <div class="input-group">
          <span class="input-group-text">$</span>
        <input type="text" class="form-control" id="goal" ng-model="schoolGoalInfo.goal" aria-label="Goal" required>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between p-3">
    <div>
      <button type="button" class="btn btn-primary btn-white me-2" ng-click="cancelEditSchoolGoal()">
        Cancel
      </button>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">
        <strong>Save</strong>
      </button>
    </div>
  </div>
<form>
