<style>div.appArea{width:auto;}.Button {display:none;}</style>
  <div uib-alert class="alert-danger" role="alert" ng-if="feedbackMessage.errorMessage">
    <div ng-bind-html="feedbackMessage.errorMessage"></div>
  </div>
  <div ng-if="feedbackMessage.message">
    <div ng-bind-html="feedbackMessage.message"></div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-toggle" ng-click="cancelPostFeedbackMessage()" autofocus>
          Close
        </button>
      </div>
    </div>
  </div>
