  <div class="modal-header">
    <h2 class="h5 modal-title">
      Download Mobile App
    </h2>
  </div>
  <div class="modal-body">
    <p>
      Download our free KHC app to join our Move More Challenge and be physically active as a family for 150 minutes each week.
    </p>
    <div class="ym-pc-dashboard-mobile-downloads">
      <a href="https://itunes.apple.com/us/app/ym-primary/id548389448?mt=8" target="_blank">
        <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}aha-luminate/dist/youth-markets/image/apple-store-logo.png" alt="Download the iPhone App">
      </a> 
      <a href="https://play.google.com/store/apps/details?id=com.aha_jump.android.communicator&amp;hl=en" target="_blank">
        <img ng-src="../{{dev_branch != '' ? dev_branch + '/' : ''}}aha-luminate/dist/youth-markets/image/google-play-logo.png" alt="Download the Android App">
      </a>
    </div>
    <p>
       If you’re unable or prefer not to download the app, <a href="#" target="_blank">click here</a> to notify us when you’ve completed the Move More Challenge.
    </p>
    <p>&nbsp;</p>
    <div class="checkbox" custom-checkbox ng-class="{'checked': moveMoreFlag.message}">
        <label for="registrationInfo-fr_check_move_more">
          <input type="checkbox" name="fr_check_move_more" id="registrationInfo-fr_check_move_more" ng-model="moveMoreFlag.message" ng-click="updateMoveMoreFlag()"> 
          <span>I have completed 150 minutes of activity over a 7 day period during this event.</span>
        </label>
        <span ng-if="moveMoreFlag.successMessage" ng-cloak>{{moveMoreFlag.message}}</span>
        <span ng-bind="moveMoreFlag.errorMessage" ng-cloak></span>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="text-center">
        <button type="button" class="btn btn-toggle" ng-click="cancelMobileApp()">
          Close
        </button>
      </div>
    </div>
  </div>
